openapi: 3.1.0
info:
  version: ""
  title: Media Gateway RESTful API
  description: >-
    Media Gateway RESTful APIs provide server-side control for RTMP and SRT
    ingress streams. Use these APIs to create and manage streaming keys, query
    online stream sessions, disconnect or mute streams, manage flow
    configuration templates, and query message notification server IP
    addresses.


    ## API basics


    Most requests are sent to `https://api.agora.io`. The mute or unmute
    streaming API uses `https://api.sd-rtn.com` as its host.


    All request URLs and request bodies are case-sensitive. Keep Media Gateway
    RESTful API calls on your business server.
servers:
  - url: https://api.agora.io
    description: Media Gateway REST API host.
security:
  - basicAuth: []
  - hmacAuth: []
paths:
  /{region}/v1/projects/{appId}/rtls/ingress/streamkeys:
    post:
      summary: Create streaming key
      description: >-
        Creates a streaming key. Create a key before streaming to ensure that
        the media stream is pushed to the correct channel and under the correct
        host ID.


        Keep the created streaming key secure to prevent unauthorized streaming
        to the channel.
      operationId: create-media-gateway-streaming-key
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/X-Request-ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create-streaming-key-request"
            example:
              settings:
                channel: shx001
                uid: "1001"
                expiresAfter: 0
      responses:
        "200":
          description: The request succeeded and returned the created streaming key.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/streaming-key-response"
              example:
                status: success
                data:
                  streamKey: 2dfMTR****fys
                  channel: shx001
                  uid: "1001"
                  expiresAfter: 0
                  createdAt: "1686820170"
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /{region}/v1/projects/{appId}/rtls/ingress/streamkeys/{streamkey}:
    get:
      summary: Query streaming key
      description: >-
        Queries streaming key information, such as the associated UID, channel
        name, and validity period.
      operationId: query-media-gateway-streaming-key
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/streamkey"
        - $ref: "#/components/parameters/X-Request-ID"
      responses:
        "200":
          description: The request succeeded and returned streaming key information.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/streaming-key-response"
              example:
                status: success
                data:
                  streamKey: 2dfMTR****fys
                  channel: shx001
                  uid: "1001"
                  expiresAfter: 0
                  createdAt: "1686820170"
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
    delete:
      summary: Delete streaming key
      description: >-
        Deletes a streaming key. After a streaming key is deleted, you can no
        longer use it to push streams. If the deleted streaming key is still in
        use, the ongoing stream is not affected. To disable the ongoing stream
        immediately, delete the streaming key and then force disconnect the
        stream by SID.


        This API can also revoke streaming keys generated by a script. For
        complete key revocation, call this API across all configured regions.
      operationId: delete-media-gateway-streaming-key
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/streamkey"
        - $ref: "#/components/parameters/X-Request-ID"
      responses:
        "200":
          description: The request succeeded and deleted the streaming key.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /{region}/v1/projects/{appId}/rtls/ingress/online-streams:
    get:
      summary: Query streaming list
      description: >-
        Queries current Media Gateway ingress streams. If you specify a channel,
        the response only contains streams in that channel. Because Agora
        channel names support special characters, URL-encode the channel name
        before sending the request.
      operationId: query-media-gateway-streaming-list
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/channel"
        - $ref: "#/components/parameters/X-Request-ID"
      responses:
        "200":
          description: The request succeeded and returned the streaming list.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/online-stream-list-response"
              example:
                status: success
                data:
                  - sid: string
                    channel: string
                    uid: string
                    url: string
                    status: Running
                    beginAt: "2024-01-01 01:01:01.001"
                    bitrate: 0
                    video:
                      width: 0
                      height: 0
                      fps: 0
                    audio:
                      channels: 0
                      sampleRate: 0
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /{region}/v1/projects/{appId}/rtls/ingress/online-streams/{sid}:
    get:
      summary: Query streaming information
      description: >-
        Queries an ongoing stream by SID. A streaming session ID is generated
        for each initiated streaming task. You can obtain the SID by querying
        the streaming list or by receiving the message notification callback.
      operationId: query-media-gateway-streaming-information
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/sid"
        - $ref: "#/components/parameters/X-Request-ID"
      responses:
        "200":
          description: The request succeeded and returned stream information.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/online-stream-response"
              example:
                status: success
                data:
                  - sid: string
                    channel: string
                    uid: string
                    url: string
                    status: Running
                    beginAt: string
                    bitrate: 0
                    video:
                      width: 0
                      height: 0
                      fps: 0
                    audio:
                      channels: 0
                      sampleRate: 0
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
    delete:
      summary: Force disconnect
      description: >-
        Disconnects an ongoing stream by SID. You can combine this API with the
        Delete streaming key API to disable a stream.


        Delete the streaming key first. Otherwise, after this API disconnects
        the stream, the streaming software may immediately reconnect, creating a
        new push session and a new SID.
      operationId: force-disconnect-media-gateway-stream
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/sid"
        - $ref: "#/components/parameters/X-Request-ID"
      responses:
        "200":
          description: The request succeeded and sent the disconnection command.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /{region}/{version}/projects/{appId}/rtls/ingress/online-streams/mute/{sid}:
    servers:
      - url: https://api.sd-rtn.com
        description: Media Gateway stream control host.
    post:
      summary: Mute or unmute streaming
      description: >-
        Mutes or unmutes the current stream.


        A successful response only confirms that the command is sent to the
        gateway node handling the stream. It does not guarantee that the
        mute/unmute operation has completed. The operation is executed
        asynchronously in the background and typically takes effect within
        about one second. If the operation does not work as expected, retry the
        API call.


        Each stream starts unmuted by default. Each API call applies to the
        current stream. If the streamer disconnects and restarts the stream, the
        new stream resets to the initial unmuted state.
      operationId: mute-media-gateway-stream
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/version"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/sid"
        - $ref: "#/components/parameters/X-Request-ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mute-stream-request"
            example:
              settings:
                videoMuted: true
                audioMuted: false
      responses:
        "200":
          description: The request succeeded and sent the mute/unmute command.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /{region}/v1/projects/{appId}/rtls/ingress/stream-templates/{templateId}:
    put:
      summary: Create or reset template
      description: >-
        Creates or resets a flow configuration template. In the template, you
        can configure transcoding parameters for video or audio streams and
        parameters for mitigating network latency.


        Up to 10 flow configuration templates can be created under an app ID,
        each with a unique template ID. Specify the template ID when creating a
        template. If a template with this ID already exists, the existing
        template is reset with the incoming request body.


        You can use flow configuration templates in two ways: specify a global
        template for the app ID, or specify a configuration template for a
        specific streaming key. By default, a template is not set for the app
        ID, and video transcoding is not enabled.
      operationId: create-or-reset-media-gateway-template
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/templateId"
        - $ref: "#/components/parameters/X-Request-ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/template-settings-request"
            example:
              settings:
                transcoding:
                  video:
                    enabled: true
                    codec: H.264
                    width: 1280
                    height: 720
                    fps: 24
                    bitrate: 2200
                    simulcastStream:
                      width: 960
                      height: 540
                      fps: 24
                      bitrate: 1670
                  audio:
                    enabled: false
                    profile: 3
                jitterBuffer:
                  size: 500
                  maxSize: 800
      responses:
        "200":
          description: The request succeeded and created or reset the template.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
    patch:
      summary: Update template
      description: >-
        Updates a flow configuration template. This API can only be called when
        the template already exists.


        Changes to a flow configuration template take effect only after the
        stream is pushed again. Because synchronization between the gateway and
        database can be delayed, wait 3 minutes after calling this API before
        pushing the stream again.


        The supported update fields are `transcoding.video`,
        `transcoding.audio`, and `jitterBuffer`. These fields are independent.
        For example, if you only want to update `transcoding.video.fps`, pass
        the entire `transcoding.video` object with the modified `fps` field and
        the other fields unchanged.
      operationId: update-media-gateway-template
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/templateId"
        - $ref: "#/components/parameters/X-Request-ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/template-settings-request"
            example:
              settings:
                transcoding:
                  video:
                    enabled: true
                    codec: H.264
                    width: 1280
                    height: 720
                    fps: 24
                    bitrate: 2200
                    simulcastStream:
                      width: 960
                      height: 540
                      fps: 24
                      bitrate: 1670
      responses:
        "200":
          description: The request succeeded and updated the template.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
    delete:
      summary: Delete template
      description: >-
        Deletes a flow configuration template. The stream currently being pushed
        with the template is not affected and continues to use the template
        parameters. The deletion takes effect from the next push, including
        normal push and disconnection/reconnection.


        If the template associated with the streaming key is deleted, the global
        template under the app ID is used by default. If no global template is
        configured, the stream uses the no-template setting and video
        transcoding is not enabled.
      operationId: delete-media-gateway-template
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/templateId"
        - $ref: "#/components/parameters/X-Request-ID"
      responses:
        "200":
          description: The request succeeded and deleted the template.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /{region}/v1/projects/{appId}/rtls/ingress/appconfig:
    put:
      summary: Set global template
      description: >-
        Sets a global flow configuration template, which applies to all
        streaming keys under the app ID. Create a flow configuration template
        before calling this API.


        For beta users, this API previously could also set transcoding
        parameters. Agora recommends using the template creation API instead.
        If you previously used this API to set `transcoding`, resetting
        `defaultStreamTemplate` makes the previous `transcoding` setting
        invalid and the new template parameters take effect.
      operationId: set-media-gateway-global-template
      parameters:
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/appId"
        - $ref: "#/components/parameters/X-Request-ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/global-template-request"
            example:
              settings:
                defaultStreamTemplate: 720p
      responses:
        "200":
          description: The request succeeded and set the global template.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/status-response"
              example:
                status: success
        "401":
          $ref: "#/components/responses/error"
        default:
          $ref: "#/components/responses/error"
  /v2/ncs/ip:
    get:
      summary: Query notification service IP address
      description: >-
        Queries the IP addresses of Agora message notification service. If your
        server is behind a firewall, call this API and configure your firewall
        to trust the returned IP addresses.


        Agora adjusts message notification service IP addresses every 24 hours.
        Best practice is to call this endpoint at least every 24 hours and
        automatically update the firewall configuration.
      operationId: query-media-gateway-ncs-ip
      responses:
        "200":
          description: The request succeeded and returned notification service IP addresses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ncs-ip-response"
              example:
                data:
                  service:
                    hosts:
                      - primaryIP: string
        default:
          $ref: "#/components/responses/error"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        Basic HTTP authentication. Send an `Authorization` header that contains
        `Basic` followed by a base64-encoded `username:password` string.
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        HMAC HTTP authentication. Send the generated API key in the
        `Authorization` request header.
  headers:
    X-Request-ID:
      description: >-
        The unique request ID. If the request fails, use this value in the log
        to troubleshoot the problem.
      schema:
        type: string
  parameters:
    region:
      name: region
      in: path
      required: true
      schema:
        type: string
        enum:
          - na
          - eu
          - ap
          - cn
      description: >-
        Region for the streaming key or stream. Supported values are `na` for
        North America, `eu` for Europe, `ap` for Asia except mainland China, and
        `cn` for mainland China. Use the same region as the input source stream,
        keep the streaming domain consistent with the selected region, and use
        lowercase values.
    version:
      name: version
      in: path
      required: true
      schema:
        type: string
        enum:
          - v1
      description: The API version. Use `v1`.
    appId:
      name: appId
      in: path
      required: true
      schema:
        type: string
      description: The App ID of your Agora project.
    streamkey:
      name: streamkey
      in: path
      required: true
      schema:
        type: string
      description: The streaming key.
    sid:
      name: sid
      in: path
      required: true
      schema:
        type: string
      description: >-
        The streaming session ID. Each initiated streaming task generates a
        unique SID.
    templateId:
      name: templateId
      in: path
      required: true
      schema:
        type: string
        maxLength: 12
        pattern: "^[A-Za-z0-9]+$"
      description: >-
        The flow configuration template ID. The value can contain only
        lowercase letters, uppercase letters, and numbers, and cannot exceed 12
        bytes.
    channel:
      name: channel
      in: query
      required: false
      schema:
        type: string
      description: >-
        The channel name. If specified, the response only contains streams in
        the specified channel. URL-encode the channel name before sending the
        request.
    X-Request-ID:
      name: X-Request-ID
      in: header
      required: false
      schema:
        type: string
      description: >-
        The UUID of the request. Agora returns this value in the response
        header. If omitted, Agora automatically generates a UUID.
  responses:
    error:
      description: >-
        The request failed. A `401 (Unauthorized)` response status code means
        the request is not authorized.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error-response"
          example:
            status: error
            message: Describes why the request failed.
  schemas:
    create-streaming-key-request:
      type: object
      required:
        - settings
      properties:
        settings:
          type: object
          required:
            - channel
            - uid
            - expiresAfter
          properties:
            channel:
              type: string
              description: >-
                Agora channel name. The string length must be less than 64
                bytes. You can leave this field empty and Agora uses a random
                integer UID to enter the channel in the `GR-xxxx` format. The
                `channel` and `uid` parameters cannot be empty or `0` at the
                same time.
            uid:
              type: string
              description: >-
                Host user UID in the Agora channel. Numeric IDs can range from
                1 to 4294967295. String IDs cannot exceed 255 bytes or be empty.
                If this field is empty or `0`, Agora uses a random integer UID.
                The `channel` and `uid` parameters cannot be empty or `0` at the
                same time.
            expiresAfter:
              type: integer
              description: >-
                Validity period of the streaming key in seconds from creation.
                If set to `0`, the streaming key is always valid. Do not leave
                this field empty or set it to null.
            templateId:
              type: string
              description: >-
                Associated flow configuration template ID. Omit this field if
                you have not created a configuration template. If omitted, the
                default configuration is used.
    streaming-key-response:
      type: object
      properties:
        status:
          type: string
          description: Request status. `success` means the request succeeds.
        data:
          $ref: "#/components/schemas/streaming-key-data"
    streaming-key-data:
      type: object
      properties:
        streamKey:
          type: string
          description: The streaming key.
        channel:
          type: string
          description: Agora channel name associated with the streaming key.
        uid:
          type: string
          description: User UID associated with the streaming key.
        expiresAfter:
          type: integer
          description: Validity period of the streaming key in seconds.
        createdAt:
          type: string
          description: Unix timestamp, in seconds, when the streaming key was created.
    online-stream-list-response:
      type: object
      properties:
        status:
          type: string
          description: Request status. `success` means the request succeeds.
        data:
          type: array
          items:
            $ref: "#/components/schemas/online-stream"
    online-stream-response:
      type: object
      properties:
        status:
          type: string
          description: Request status. `success` means the request succeeds.
        data:
          type: array
          items:
            $ref: "#/components/schemas/online-stream"
    online-stream:
      type: object
      properties:
        sid:
          type: string
          description: Streaming session ID. Each stream has a unique SID.
        channel:
          type: string
          description: Agora channel name associated with the streaming key.
        uid:
          type: string
          description: User UID associated with the streaming key.
        url:
          type: string
          description: Push address in the `$domain/live/$streamkey` format.
        status:
          type: string
          enum:
            - Started
            - Running
          description: >-
            Stream status. `Started` means the connection is established and
            waiting to stream audio and video. `Running` means the stream is
            being streamed.
        beginAt:
          type: string
          description: Streaming start time in the `2024-01-01 01:01:01.001` format.
        bitrate:
          type: integer
          description: Source stream bitrate, audio plus video, in Kbps.
        video:
          type: object
          description: Video stream parameters returned when the status is `Running`.
          properties:
            width:
              type: integer
              description: Video width in pixels.
            height:
              type: integer
              description: Video height in pixels.
            fps:
              type: integer
              description: Video frame rate in frames per second.
        audio:
          type: object
          description: Audio stream parameters returned when the status is `Running`.
          properties:
            channels:
              type: integer
              description: Number of audio channels.
            sampleRate:
              type: integer
              description: Audio sampling rate in Hz.
    mute-stream-request:
      type: object
      required:
        - settings
      properties:
        settings:
          type: object
          required:
            - videoMuted
            - audioMuted
          properties:
            videoMuted:
              type: boolean
              description: >-
                Whether to mute the video stream. `true` mutes video publishing;
                `false` unmutes video publishing.
            audioMuted:
              type: boolean
              description: >-
                Whether to mute the audio stream. `true` mutes audio publishing;
                `false` unmutes audio publishing.
    template-settings-request:
      type: object
      required:
        - settings
      properties:
        settings:
          $ref: "#/components/schemas/template-settings"
    template-settings:
      type: object
      required:
        - transcoding
      properties:
        transcoding:
          type: object
          description: Audio and video transcoding configuration.
          properties:
            video:
              $ref: "#/components/schemas/video-transcoding"
            audio:
              $ref: "#/components/schemas/audio-transcoding"
        jitterBuffer:
          $ref: "#/components/schemas/jitter-buffer"
    video-transcoding:
      type: object
      properties:
        enabled:
          type: boolean
          default: false
          description: Whether to enable video transcoding.
        mode:
          type: string
          default: force
          enum:
            - force
            - adaptive
          description: >-
            Video transcoding mode. `force` forces transcoding. `adaptive`
            enables transcoding when the source stream contains B-frames.
        codec:
          type: string
          default: H.264
          enum:
            - H.264
            - VP8
          description: Codec format for transcoding.
        width:
          type: integer
          minimum: 0
          maximum: 3840
          description: >-
            Encoding width of the main stream in pixels. If not specified or set
            to `0`, the source stream width is used unless `height` is set.
            Required when adaptive bitrate is enabled.
        height:
          type: integer
          minimum: 0
          maximum: 3840
          description: >-
            Encoding height of the main stream in pixels. If not specified or
            set to `0`, the source stream height is used unless `width` is set.
            Required when adaptive bitrate is enabled.
        fps:
          type: integer
          minimum: 0
          maximum: 60
          description: >-
            Video encoding frame rate in fps. If not specified or set to `0`,
            the source stream frame rate is used.
        bitrate:
          type: integer
          minimum: 0
          maximum: 20000
          description: >-
            Encoding bitrate of the main stream in Kbps. If omitted, the source
            stream bitrate is used. If set to `0`, Agora automatically chooses a
            bitrate based on width and height.
        advancedOptions:
          type: object
          properties:
            pvc:
              type: object
              properties:
                enabled:
                  type: boolean
                  default: false
                  description: Whether to enable PVC.
                saveBitrateRatio:
                  type: integer
                  description: >-
                    Bitrate saving ratio for PVC. For example, `20` means saving
                    20 percent of the bitrate. This parameter is effective only
                    when `video.bitrate` is missing or `0`.
            superResolution:
              type: object
              properties:
                enabled:
                  type: boolean
                  default: false
                  description: Whether to enable Super Resolution.
                alphaBlending:
                  type: integer
                  minimum: 1
                  maximum: 256
                  default: 128
                  description: >-
                    Super Resolution intensity. Larger values indicate higher
                    intensity.
        simulcastStream:
          $ref: "#/components/schemas/simulcast-stream"
        simulcastStreamLayers:
          type: array
          description: >-
            Layer transcoding parameters for adaptive bitrate. If specified, ABR
            is enabled. You can set either `simulcastStream` or
            `simulcastStreamLayers`; if both are set, `simulcastStream` does not
            take effect.
          items:
            $ref: "#/components/schemas/simulcast-stream-layer"
    simulcast-stream:
      type: object
      description: >-
        Low-quality video stream configuration. If provided, Media Gateway
        enables the low-quality stream and uses these transcoding parameters.
      properties:
        width:
          type: integer
          minimum: 0
          maximum: 3840
          description: >-
            Width in pixels. The value must be less than `video.width`. If
            omitted or set to `0`, `video.width / 2` is used.
        height:
          type: integer
          minimum: 0
          maximum: 3840
          description: >-
            Height in pixels. The value must be less than `video.height`. If
            omitted or set to `0`, `video.height / 2` is used.
        fps:
          type: integer
          minimum: 0
          maximum: 60
          description: >-
            Frame rate in fps. The value must be less than or equal to
            `video.fps`. If omitted or set to `0`, the default value is `15`.
        bitrate:
          type: integer
          description: >-
            Bitrate of the low-quality video stream in Kbps. The value must be
            less than `video.bitrate`. If omitted or set to `0`, Agora chooses
            an appropriate bitrate based on resolution and fps.
    simulcast-stream-layer:
      type: object
      required:
        - id
        - bitrate
      properties:
        id:
          type: integer
          minimum: 1
          maximum: 7
          description: Layer ID.
        width:
          type: integer
          description: >-
            Encoding width of the layer in pixels. If specified, this value must
            be smaller than `video.width` and decrease monotonically as layer ID
            increases.
        height:
          type: integer
          description: >-
            Encoding height of the layer in pixels. If specified, this value
            must be smaller than `video.height` and decrease monotonically as
            layer ID increases.
        fps:
          type: integer
          description: >-
            Encoding frame rate of the layer in fps. If specified, this value
            must be smaller than `video.fps`. If omitted or set to `0`, the main
            stream frame rate is used.
        bitrate:
          type: integer
          description: >-
            Encoding bitrate of the layer in Kbps. This value must be smaller
            than `video.bitrate` and decrease monotonically by layer ID.
    audio-transcoding:
      type: object
      properties:
        enabled:
          type: boolean
          default: true
          description: Whether to enable audio transcoding.
        profile:
          type: integer
          default: 0
          description: >-
            Encoded audio use case. The default value `0` means 48 KHz sampling
            rate, music encoding, mono, and a maximum encoding rate of 64 Kbps.
            Contact Agora technical support for other profile settings.
        bitrate:
          type: integer
          minimum: 64
          maximum: 320
          description: >-
            Audio encoding bitrate in Kbps. If omitted, the value is determined
            by `profile`.
    jitter-buffer:
      type: object
      description: Network jitter buffer. Takes effect only when video transcoding is enabled.
      properties:
        size:
          type: integer
          default: 500
          description: >-
            Maximum buffer length in ms. Media Gateway adds this value to the
            end-to-end delay to reduce lag caused by network jitter.
        maxSize:
          type: integer
          default: 1000
          description: >-
            Maximum buffer length in ms. This value must be greater than
            `jitterBuffer.size`. When the jitter buffer exceeds this value,
            Media Gateway enables acceleration until it returns to
            `jitterBuffer.size`.
    global-template-request:
      type: object
      required:
        - settings
      properties:
        settings:
          type: object
          required:
            - defaultStreamTemplate
          properties:
            defaultStreamTemplate:
              type: string
              description: The flow configuration template ID to apply globally.
    status-response:
      type: object
      properties:
        status:
          type: string
          description: Request status. `success` means the request succeeds.
    ncs-ip-response:
      type: object
      properties:
        data:
          type: object
          properties:
            service:
              type: object
              properties:
                hosts:
                  type: array
                  items:
                    type: object
                    properties:
                      primaryIP:
                        type: string
                        description: >-
                          IP address of the Agora message notification service
                          server. Add this IP address, or returned IP address
                          list, to your firewall whitelist.
    error-response:
      type: object
      properties:
        status:
          type: string
          description: Request status.
        message:
          type: string
          description: Description of why the request failed.
