openapi: 3.1.0
info:
  version: ""
  title: Signaling RESTful API Overview
  description: >-
    The Signaling REST APIs provide server-side messaging capabilities that complement the Signaling
    SDK. Send messages to users and channels, retrieve conversation history, and track user events
    from your backend without requiring recipients to be actively connected.

    ## API basics

    All requests are sent to the host `api.agora.io`.

    - **Authentication**: All APIs require Basic Auth for authentication.

    - **Request**: Refer to the respective API examples.

    - **Response**: The response content is in JSON format.

    - **Base URL**: `https://api.agora.io/dev/v2/project/<appid>`, where `<appid>` is the Agora app
    ID for your project.
  x-docs-callouts:
    - type: info
      title: Note
      position: after-description
      markdown: |
        - All the request URLs and request bodies are case-sensitive.

        - For each app ID, the maximum combined frequency of the peer-to-peer
        message and channel message APIs is 500 calls per second.
servers:
  - url: https://api.agora.io/dev/v2/project
    description: Base host for messaging and event APIs.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: All Signaling REST APIs require Basic Auth for authentication.
  parameters:
    appid:
      name: appid
      in: path
      required: true
      schema:
        type: string
      description: The App ID of your Agora project.
security:
  - basicAuth: []
paths:
  /{appid}/rtm/users/{user_id}/peer_messages:
    post:
      summary: Send peer-to-peer message
      description: Sends a peer-to-peer Signaling message from the server.
      x-docs-sections:
        - position: after-description
          markdown: >-
            Sends a peer-to-peer message from the server. The user sending the message does not have
            to log in to Signaling.


            - You can send peer-to-peer or channel messages with any user ID when using basic HTTP
            authentication.

            - When you use token authentication, you may send peer-to-peer or channel messages using
            only the user ID you used to generate the Signaling token.


            For more information about how to generate a Signaling token, see [Secure authentication
            with tokens](/en/realtime-media/rtm/build/connect-and-authenticate/authentication-workflow).
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed. The response body
            includes the error code and description. Refer to [status
            codes](/en/realtime-media/rtm/reference/error-codes#restful-api-error-codes) to understand the possible reasons for
            failure.
        - markdown: >-
            For more information about how to generate a Signaling token, see Secure authentication
            with tokens.
          position: after-parameters
          title: Request
      operationId: send-peer-message
      x-codeSamples:
        - lang: bash
          label: curl
          source: >-
            curl -X POST
            'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/users/userA/peer_messages?wait_for_ack=true'
            \
                  -H 'Content-Type: application/json;charset=utf-8' \
                  -H 'Authorization: Basic <your_base64_encoded_credentials>' \
                  -d '{
                    "destination": "userB",
                    "enable_offline_messaging": false,
                    "enable_historical_messaging": false,
                    "payload": "Hello"
                  }'
        - lang: python
          label: Python
          source: |-
            import requests
                import json

                url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/users/userA/peer_messages?wait_for_ack=true'

                headers = {
                  'Content-Type': 'application/json;charset=utf-8',
                  'Authorization': 'Basic <your_base64_encoded_credentials>'
                }

                data = {
                  "destination": "userB",
                  "enable_offline_messaging": False,
                  "enable_historical_messaging": False,
                  "payload": "Hello"
                }

                try:
                  response = requests.post(url, headers=headers, data=json.dumps(data))
                  print("Status:", response.status_code)
                  print("Response:", response.json())
                except Exception as error:
                  print("Error:", error)
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

                const url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/users/userA/peer_messages?wait_for_ack=true';

                const headers = {
                'Content-Type': 'application/json;charset=utf-8',
                'Authorization': 'Basic <your_base64_encoded_credentials>'
                };

                const data = {
                destination: "userB",
                enable_offline_messaging: false,
                enable_historical_messaging: false,
                payload: "Hello"
                };

                axios.post(url, data, { headers })
                .then(response => {
                  console.log("Status:", response.status);
                  console.log("Response:", response.data);
                })
                .catch(error => {
                  console.error("Error:", error.response ? error.response.data : error.message);
                });
      parameters:
        - $ref: "#/components/parameters/appid"
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: |-
            Signaling user ID to send a peer-to-peer message. It must not exceed 64 characters in length or be an empty string. This parameter supports the following characters:

            - All lowercase English letters: `a-z`.
            - All uppercase English letters: `A-Z`.
            - All numeric characters: `0-9`.
            - The space character. (Not recommended): If the user ID contains a space, then the user ID cannot communicate with the Signaling SDK.
            - Punctuation characters and other symbols, including: `!`, `#`, `$`, `%`, `&`, `(`, `)`, `+`, `-`, `:`, `;`, `<`, `=`, `.`, `>`, `?`, `@`, `[`, `]`, `^`, `_`, `{`, `}`, `|`, `~`, `,`, `'`.
          x-docs-callouts:
            - type: info
              title: Note
              markdown: >
                Since `user_id` is a URL parameter, the first character and the last characters must
                not be a space.
        - name: wait_for_ack
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            Whether the API returns the HTTP response after Signaling receives the acknowledgement
            from the receiver.


            - `true`: The API waits for the receiver to acknowledge receipt of
              the message before returning the HTTP response.

            - `false`: The API returns the HTTP response immediately after the
              Agora RTM server receives the message, without waiting for
              receiver acknowledgement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - destination
                - payload
              properties:
                destination:
                  type: string
                  description: |-
                    Signaling user ID to receive a peer-to-peer message. It must not exceed 64 characters in length or be an empty string. This parameter supports the following characters:

                    - All lowercase English letters: `a-z`.
                    - All uppercase English letters: `A-Z`.
                    - All numeric characters: `0-9`.
                    - The space character. (Not recommended): If the user ID contains a space, then the user ID cannot communicate with the Signaling SDK.
                    - Punctuation characters and other symbols, including: `!`, `#`, `$`, `%`, `&`, `(`, `)`, `+`, `-`, `:`, `;`, `<`, `=`, `.`, `>`, `?`, `@`, `[`, `]`, `^`, `_`, `{`, `}`, `|`, `~`, `,`, `'`.
                enable_offline_messaging:
                  type: boolean
                  default: false
                  description: >-
                    Whether to enable offline messages.

                    - `true`: Enable offline messages. If the receiver is offline when you send a
                    peer-to-peer message, Signaling saves the message (maximum 200 per receiver) and
                    delivers it when the receiver is online.

                    - `false`: Disable offline messages.
                  x-docs-callouts:
                    - type: warning
                      title: Caution
                      position: after-description
                      markdown: >
                        The offline message feature is deprecated and will be removed in a future
                        version. Agora recommends that you do not use it.
                enable_historical_messaging:
                  type: boolean
                  default: false
                  description: |-
                    Whether to save as a historical message.

                    - `true`: Save as a historical message.
                    - `false`: Do not save as a historical message.
                payload:
                  type: string
                  description: >-
                    Content of the peer-to-peer message. It must not be an empty string or exceed 32
                    KB in length.
            example:
              destination: userB
              enable_offline_messaging: false
              enable_historical_messaging: false
              payload: Hello
      responses:
        "200":
          description: The request was successful. The response body contains the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: |-
                      Request result. `success` if the request succeeds, `failed` if it fails.

                      Request result.

                       - success: The request succeeds.
                       - failed: The request fails.
                  request_id:
                    type: string
                    description: Unique ID to identify this request.
                  code:
                    type: string
                    description: |-
                      Message status: `message_sent`, `message_delivered`, or `message_offline`.

                      Message status.

                       - message_sent: The message is sent.
                       - message_delivered: The message is received.
                       - message_offline: The receiver is offline.
              example:
                result: success
                request_id: "123"
                code: message_sent
        default:
          description: The request failed. The response body includes the error code and description.
  /{appid}/rtm/users/{user_id}/channel_messages:
    post:
      summary: Send channel message
      description: Sends a channel Signaling message from the server.
      x-docs-sections:
        - position: after-description
          markdown: >-
            Sends a channel message from the server. You can send a message to a channel without
            joining it first.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed. The response body
            includes the error code and description. Refer to [status
            codes](/en/realtime-media/rtm/reference/error-codes#restful-api-error-codes) to understand the possible reasons for
            failure.
      operationId: send-channel-message
      x-codeSamples:
        - lang: bash
          label: curl
          source: >-
            curl -X POST
            'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/users/userA/channel_messages'
            \
                 -H 'Content-Type: application/json;charset=utf-8' \
                 -H 'Authorization: Basic <your_base64_encoded_credentials>' \
                 -d '{
                   "channel_name": "channelA",
                   "enable_historical_messaging": false,
                   "payload": "Hello"
                 }'
        - lang: python
          label: Python
          source: |-
            import requests
               import json

               url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/users/userA/channel_messages'

               headers = {
                 'Content-Type': 'application/json;charset=utf-8',
                 'Authorization': 'Basic <your_base64_encoded_credentials>'
               }

               data = {
                 "channel_name": "channelA",
                 "enable_historical_messaging": False,
                 "payload": "Hello"
               }

               try:
                 response = requests.post(url, headers=headers, data=json.dumps(data))
                 print("Status:", response.status_code)
                 print("Response:", response.json())
               except Exception as error:
                 print("Error:", error)
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

               const url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/users/userA/channel_messages';

               const headers = {
               'Content-Type': 'application/json;charset=utf-8',
               'Authorization': 'Basic <your_base64_encoded_credentials>'
               };

               const data = {
               channel_name: "channelA",
               enable_historical_messaging: false,
               payload: "Hello"
               };

               axios.post(url, data, { headers })
               .then(response => {
                 console.log("Status:", response.status);
                 console.log("Response:", response.data);
               })
               .catch(error => {
                 console.error("Error:", error.response ? error.response.data : error.message);
               });
      parameters:
        - $ref: "#/components/parameters/appid"
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: |-
            Signaling user ID to send a channel message. It must not exceed 64 characters in length or be an empty string. This parameter supports the following characters:

            - All lowercase English letters: `a-z`.
            - All uppercase English letters: `A-Z`.
            - All numeric characters: `0-9`.
            - The space character. (Not recommended): If the user ID contains a space, then the user ID cannot communicate with the Signaling SDK.
            - Punctuation characters and other symbols, including: `!`, `#`, `$`, `%`, `&`, `(`, `)`, `+`, `-`, `:`, `;`, `<`, `=`, `.`, `>`, `?`, `@`, `[`, `]`, `^`, `_`, `{`, `}`, `|`, `~`, `,`, `'`.
          x-docs-callouts:
            - type: info
              title: Note
              markdown: >
                Since `user_id` is a URL parameter, the first character and the last characters must
                not be a space.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channel_name
                - payload
              properties:
                channel_name:
                  type: string
                  description: |-
                    Signaling channel name to receive a channel message. It must not exceed 64 characters in length or be an empty string. This parameter supports the following characters:

                    - All lowercase English letters: `a-z`.
                    - All uppercase English letters: `A-Z`.
                    - All numeric characters: `0-9`.
                    - The space character. (Not recommended): If the channel name contains a space, then the API cannot communicate with the Signaling SDK.
                    - Punctuation characters and other symbols, including: `!`, `#`, `$`, `%`, `&`, `(`, `)`, `+`, `-`, `:`, `;`, `<`, `=`, `.`, `>`, `?`, `@`, `[`, `]`, `^`, `_`, `{`, `}`, `|`, `~`, `,`, `'`.
                enable_historical_messaging:
                  type: boolean
                  default: false
                  description: |-
                    Whether to save as a historical message.

                    - `true`: Save as a historical message.
                    - `false`: Do not save as a historical message.
                payload:
                  type: string
                  description: >-
                    Content of the channel message. It must not be an empty string or exceed 32 KB
                    in length.
            example:
              channel_name: channelA
              enable_historical_messaging: false
              payload: Hello
      responses:
        "200":
          description: The request was successful. The response body contains the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: |-
                      Request result. `success` if the request succeeds, `failed` if it fails.

                      Request result.

                       - success: The request succeeds.
                       - failed: The request fails.
                  request_id:
                    type: string
                    description: Unique ID to identify this request.
                  code:
                    type: string
                    description: |-
                      Message status: `message_sent`.

                      Message status.

                       - message_sent: The message is sent.
              example:
                result: success
                request_id: "123"
                code: message_sent
        default:
          description: The request failed. The response body includes the error code and description.
  /{appid}/rtm/vendor/user_events:
    get:
      summary: Get user events
      description: Retrieves Signaling user login and logout events.
      x-docs-callouts:
        - type: info
          title: Note
          position: after-description
          markdown: >
            Events acquired using this API are removed from the server and cannot be retrieved
            again. The Signaling backend stores a maximum of 2,000 events, replaces the oldest event
            when this limit is exceeded, returns at most 1,000 events per request, and allows up to
            10 requests per second for each App ID.
        - markdown: >-
            Agora does not guarantee event time sequence across geographical regions. Events pulled
            from different regions may contain duplicates since synchronization only occurs within
            regions, not across them.
          position: after-description
          title: Caution
          type: warning
      x-docs-sections:
        - position: after-description
          markdown: >-
            This method retrieves user events from the Agora Signaling server. Events you acquire
            using this API are removed from the server and cannot be retrieved again.


            The Signaling backend stores a maximum of 2,000 events, with the latest event replacing
            the oldest when this limit is exceeded. The backend returns a maximum of 1,000 events
            per request, and the number of requests for each app ID must not exceed 10 per second.
        - title: Request
          position: after-parameters
          markdown: This endpoint does not require any query parameters or a request body.
        - title: Response
          position: before-response-body
          markdown: >
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.

            - If the returned status code is not `200`, the request failed. The response body
            includes the error code and description. Refer to [status
            codes](/en/realtime-media/rtm/reference/error-codes#restful-api-error-codes) to understand the possible reasons
            for failure.
      operationId: get-user-events
      x-codeSamples:
        - lang: bash
          label: curl
          source: >-
            curl -X GET
            'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/vendor/user_events'
            \
                 -H 'Authorization: Basic <your_base64_encoded_credentials>'
        - lang: python
          label: Python
          source: |-
            import requests

               url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/vendor/user_events'

               headers = {
                 'Authorization': 'Basic <your_base64_encoded_credentials>'
               }

               try:
                 response = requests.get(url, headers=headers)
                 print("Status:", response.status_code)
                 print("Response:", response.json())
               except Exception as error:
                 print("Error:", error)
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

               const url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/vendor/user_events';

               const headers = {
                 'Authorization': 'Basic <your_base64_encoded_credentials>'
               };

               axios.get(url, { headers })
               .then(response => {
                 console.log("Status:", response.status);
                 console.log("Response:", response.data);
               })
               .catch(error => {
                 console.error("Error:", error.response ? error.response.data : error.message);
               });
      parameters:
        - $ref: "#/components/parameters/appid"
      responses:
        "200":
          description: The request was successful. The response body contains the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: The result of this request. `success` if it succeeds, `failed` if it fails.
                  request_id:
                    type: string
                    description: The unique ID of this request.
                  events:
                    type: array
                    description: An array of login and logout events.
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                          description: The corresponding user ID.
                        type:
                          type: string
                          description: >-
                            Event type: `Login` when the user logged in to Signaling, `Logout` when
                            the user logged out.


                            Event type:

                             - Login: The user logged in to Signaling.
                             - Logout: The user logged out of Signaling.
                        ms:
                          type: integer
                          description: >-
                            Number of milliseconds since January 1, 1970 (UTC) to the UTC time when
                            the server receives the message.
              example:
                result: success
                request_id: "10116762670167749259"
                events:
                  - user_id: rtmtest_RTM_4852_4857w7%
                    type: Login
                    ms: 1578027420761
        default:
          description: The request failed. The response body includes the error code and description.
  /{appid}/rtm/vendor/channel_events:
    get:
      summary: Get channel events
      description: Retrieves Signaling channel join and leave events.
      x-docs-callouts:
        - type: info
          title: Note
          position: after-description
          markdown: >
            Events acquired using this API are removed from the server and cannot be retrieved
            again. The Signaling server stores a maximum of 2,000 events, replaces the oldest event
            when this limit is exceeded, returns at most 1,000 events per request, and allows up to
            10 requests per second for each App ID.
        - markdown: >-
            Agora does not guarantee event time sequence across geographical regions. Events pulled
            from different regions may contain duplicates since synchronization only occurs within
            regions, not across them.
          position: after-description
          title: Caution
          type: warning
      x-docs-sections:
        - position: after-description
          markdown: >-
            This method retrieves channel events from the Agora Signaling server. Events you acquire
            using this API are removed from the server and cannot be retrieved again.


            The Signaling server stores a maximum of 2,000 events, with the latest event replacing
            the oldest when this limit is exceeded. The backend returns a maximum of 1,000 events
            per request, and the number of requests for each app ID must not exceed 10 per second.
        - title: Request
          position: after-parameters
          markdown: This endpoint does not require any query parameters or a request body.
        - title: Response
          position: before-response-body
          markdown: >
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.

            - If the returned status code is not `200`, the request failed. The response body
            includes the error code and description. Refer to [status
            codes](/en/realtime-media/rtm/reference/error-codes#restful-api-error-codes) to understand the possible reasons
            for failure.
      operationId: get-channel-events
      x-codeSamples:
        - lang: bash
          label: curl
          source: >-
            curl -X GET
            'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/vendor/channel_events'
            \
                 -H 'Authorization: Basic <your_base64_encoded_credentials>'
        - lang: python
          label: Python
          source: |-
            import requests

               url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/vendor/channel_events'

               headers = {
                 'Authorization': 'Basic <your_base64_encoded_credentials>'
               }

               try:
                 response = requests.get(url, headers=headers)
                 print("Status:", response.status_code)
                 print("Response:", response.json())
               except Exception as error:
                 print("Error:", error)
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

               const url = 'https://api.agora.io/dev/v2/project/876922cbca0098dff4323566daa89675/rtm/vendor/channel_events';

               const headers = {
                 'Authorization': 'Basic <your_base64_encoded_credentials>'
               };

               axios.get(url, { headers })
               .then(response => {
                 console.log("Status:", response.status);
                 console.log("Response:", response.data);
               })
               .catch(error => {
                 console.error("Error:", error.response ? error.response.data : error.message);
               });
      parameters:
        - $ref: "#/components/parameters/appid"
      responses:
        "200":
          description: The request was successful. The response body contains the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: The result of this request. `success` if it succeeds, `failed` if it fails.
                  request_id:
                    type: string
                    description: The unique ID of this request.
                  events:
                    type: array
                    description: An array of join and leave events.
                    items:
                      type: object
                      properties:
                        group_id:
                          type: string
                          description: The corresponding channel ID.
                        user_id:
                          type: string
                          description: The corresponding user ID.
                        type:
                          type: string
                          description: >-
                            Event type: `Join` when a user has joined the channel, `Leave` when a
                            user has left the channel.


                            The event type:

                             - Join: A user has joined the channel.
                             - Leave: A user has left the channel.
                        ms:
                          type: integer
                          description: >-
                            Number of milliseconds since January 1, 1970 (UTC) to the UTC time when
                            the server receives the message.
              example:
                result: success
                request_id: "10116762670167749259"
                events:
                  - group_id: example_channel_id
                    user_id: rtmtest_RTM_4852_4857w7%
                    type: Join
                    ms: 1578027418981
        default:
          description: The request failed. The response body includes the error code and description.
  /rtm/v2/history/{appId}/userId/{userId}/channelType/{channelType}/channel/{channelName}:
    servers:
      - url: https://api.sd-rtn.com
        description: Host for the message history API.
    get:
      summary: Get message history
      description: Retrieves historical messages from a specified channel.
      x-docs-sections:
        - position: after-description
          markdown: Retrieves historical messages from the specified channel.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed. The response body
            includes the error code and description. Refer to [status
            codes](/en/realtime-media/rtm/reference/error-codes#restful-api-error-codes) to understand the possible reasons for
            failure.
      operationId: get-message-history
      x-codeSamples:
        - lang: bash
          label: curl
          source: >-
            curl -L
            'https://api.sd-rtn.com/rtm/v2/history/{appId}/userId/Tony/channelType/message/channel/chatroom?start=17809876
            & end = 1781000 & messageCount = 100' \
                  -H 'Accept: application/json'
        - lang: python
          label: Python
          source: |-
            import requests

                url = "https://api.sd-rtn.com/rtm/v2/history/{:appId}/userId/Tony/channelType/message/channel/chatroom"

                params = {
                  'start': 17809876,
                  'end': 1781000,
                  'messageCount': 100
                }

                headers = {
                  'Accept': 'application/json',
                  'Authorization': 'agora token=007xxxxx'
                }

                try:
                  response = requests.get(url, params=params, headers=headers)
                  print(response.json())
                except Exception as error:
                  print(error)
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

                let config = {
                    method: 'get',
                    maxBodyLength: Infinity,
                    url: 'https://api.sd-rtn.com/rtm/v2/history/{:appId}/userId/Tony/channelType/message/channel/chatroom?start=17809876 & end = 1781000 & messageCount = 100',
                    headers: {
                        'Accept': 'application/json'
                        'Authorization': 'agora token=007xxxxx'
                        }
                    };

                axios.request(config)
                .then((response) => {
                  console.log(JSON.stringify(response.data));
                })
                .catch((error) => {
                  console.log(error);
                });
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
          description: The App ID of your Agora project.
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: |-
            The user ID for the operation.

             - 26 lowercase English letters: a-z
             - 26 uppercase English letters: A-Z
             - 10 numbers: 0-9
             - Space
             - Special characters: !, #, $, %, &, (, ), +, -, :, ;, <, =, ., >, ?, @, [, ], ^, _, {, }, |, ~
          x-docs-callouts:
            - type: caution
              title: Caution
              markdown: Character length must be between 1 and 64.
        - name: channelType
          in: path
          required: true
          schema:
            type: string
            enum:
              - message
              - user
          description: >-
            The type of channel to retrieve messages from. `message` for a message channel, `user`
            for a user channel.
        - name: channelName
          in: path
          required: true
          schema:
            type: string
          description: |-
            The name of the channel.

             - 26 lowercase English letters: a-z
             - 26 uppercase English letters: A-Z
             - 10 numbers: 0-9
             - Space
             - Special characters: !, #, $, %, &, (, ), +, -, :, ;, <, =, ., >, ?, @, [, ], ^, _, {, }, |, ~
          x-docs-callouts:
            - type: caution
              title: Caution
              markdown: Character length must be between 1 and 64.
        - name: start
          in: query
          required: false
          schema:
            type: integer
            format: int64
            default: 0
          description: The start timestamp of the historical message query. Defaults to `0` if not specified.
        - name: end
          in: query
          required: false
          schema:
            type: integer
            format: int64
            default: 0
          description: The end timestamp of the historical message query. Defaults to `0` if not specified.
        - name: messageCount
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 100
            exclusiveMinimum: 0
            maximum: 100
          description: >-
            The maximum number of messages to return in a single query. The value must be in the
            range `(0, 100]`. Defaults to `100`.
      responses:
        "200":
          description: The request was successful. The response body contains the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: integer
                    description: The status code of the request. `200` indicates success.
                  error:
                    type: boolean
                    description: >-
                      Indicates whether the request failed. `false` if it succeeded, `true` if it
                      failed.
                  requestId:
                    type: string
                    description: The unique ID associated with the request.
                  operation:
                    type: string
                    description: The specific operation performed by the request.
                  reason:
                    type: string
                    description: A short explanation of the reason for the error.
                  timestamp:
                    type: integer
                    description: >-
                      The time the request was sent, as a Unix timestamp in milliseconds.


                      The time the request was sent, represented as a Unix timestamp in
                      milliseconds.
                  data:
                    type: object
                    description: |-
                      The response payload.

                      The response payload. Contains the following fields:
                    properties:
                      messageList:
                        type: array
                        description: An array of message objects.
                        items:
                          type: object
                          properties:
                            messageType:
                              type: string
                              description: >-
                                The type of message content. `STRING` uses the `message` field
                                directly; `BINARY` is base64-encoded in the `message` field.
                            message:
                              type: string
                              description: The content of the message.
                            customType:
                              type: string
                              description: The custom message type.
                            publisher:
                              type: string
                              description: The user ID of the message sender.
                            timestamp:
                              type: integer
                              description: The time the message was sent, as a Unix timestamp.
                      count:
                        type: integer
                        description: The total number of messages retrieved.
                      newStart:
                        type: integer
                        description: The start timestamp for the next batch of messages.
              example:
                errorCode: 200
                error: false
                requestId: "1121_1234231"
                operation: getMessage
                reason: ""
                timestamp: 1234567
                data:
                  messageList:
                    - messageType: STRING
                      message: Hello, how are you?
                      customType: text
                      publisher: Tony
                      timestamp: 1234567890
                  count: 1
                  newStart: 1234567892
        default:
          description: The request failed. The response body includes the error code and description.
