openapi: 3.1.0
info:
  version: ''
  title: RTC 频道管理 REST API
  description: 通过声网频道管理 RESTful API 在服务端查询频道信息、管理用户权限和获取消息通知服务器 IP。所有请求均使用 HTTPS，并通过 [RESTful 鉴权](/zh-CN/api-reference/api-ref/rtc/authentication) 进行认证。
servers:
- url: https://api.sd-rtn.com
  description: 频道管理 REST API 的基础域名。
paths:
  /dev/v1/kicking-rule:
    post:
      tags:
      - 封禁用户权限
      summary: 创建规则
      description: 创建用于封禁指定用户权限的规则。
      operationId: post-dev-v1-kicking-rule
      parameters:
      - name: Content-Type
        in: header
        description: '`application/json`。表示所有请求和响应内容的格式均为 JSON。'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appid:
                  type: string
                  description: '项目的 App ID。可通过以下方式获取：

                    - 从声网控制台获取。

                    - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
                cname:
                  type: string
                  description: 频道名称。
                uid:
                  type: number
                  description: 用户 ID。不能设为 `0`。
                ip:
                  type: string
                  description: 用户的 IP 地址。不能设为 `0`。
                time:
                  type: number
                  description: '封禁时间，单位为分钟，取值范围为 [1,1440]。


                    **注意：**

                    - 当设置的值在 `0` 到 `1` 之间时，服务端自动改设为 `1`。

                    - 当设置的值大于 `1440` 时，服务端自动改设为 `1440`。

                    - 当设置的值为 `0` 时，表示不封禁。服务端会对频道内符合设定规则的用户进行下线一次的操作。用户可以重新登录进入频道。

                    - `time` 和 `time_in_seconds` 两个参数只需设置其中的一个。如果同时设置，则 `time_in_seconds` 生效；如果都不设置，服务端会自动将封禁时间设为 60 分钟，即 3600 秒。'
                time_in_seconds:
                  type: number
                  description: '封禁时间，单位为秒，取值范围为 [10,86430]。


                    **注意：**

                    - 当设置的值在 `0` 到 `10` 之间，服务端自动改设为 `10`。

                    - 当设置的值大于 `86430` 时，服务端自动改设为 `86430`。

                    - 当设置的值为 `0` 时，表示不封禁。服务端会对频道内符合设定规则的用户进行下线一次的操作。用户可以重新登录进入频道。

                    - `time` 和 `time_in_seconds` 两个参数只需设置其中的一个。如果同时设置，则 `time_in_seconds` 生效，如果都不设置，服务端会自动将封禁时间设为 60 分钟，即 3600 秒。'
                privileges:
                  type: array
                  description: '你想要封禁的用户权限，取值包括：

                    - `join_channel`：加入频道，表示禁止用户加入频道或将用户踢出频道。

                    - `publish_audio`：发送音频，表示禁止用户发送音频流。可以与 publish_video 同时设置，表示禁止用户发送音视流和视频流。

                    - `publish_video`：发送视频，表示禁止用户发送视频流。可以与 publish_audio 同时设置，表示禁止用户发送音视流和视频流。'
                  items:
                    type: string
              required:
              - appid
              x-examples:
                Example 1:
                  appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                  cname: channel1
                  uid: 589517928
                  ip: ''
                  time: 60
                  privileges:
                  - join_channel
            examples:
              Example 1:
                value:
                  appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                  cname: channel1
                  uid: 589517928
                  ip: ''
                  time: 60
                  privileges:
                  - join_channel
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 本次请求的状态。`success` 表示请求成功。
                  id:
                    type: number
                    description: 规则 ID。当更新或删除封禁用户权限规则时，需要传入规则 ID。
                x-examples:
                  Example 1:
                    status: success
                    id: 1953
              examples:
                Example 1:
                  value:
                    status: success
                    id: 1953
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: szu1i3rzaf81k
      security:
      - Basic Auth: []
      x-docs-sections:
      - position: after-description
        markdown: '该方法创建封禁用户权限的规则。


          可封禁的用户权限（`privileges`）包括：


          - `join_channel`：加入频道

          - `publish_audio`：发送音频流

          - `publish_video`：发送视频流


          封禁用户权限的规则通过 `cname`、`uid` 和 `ip` 三个字段实现过滤。


          当 `privileges` 设为 `join_channel` 时：


          | ip | cname | uid | 过滤规则 |

          | --- | --- | --- | --- |

          | ✔ | ✘ | ✘ | 所有使用该 `ip` 的用户都无法登录 App 中的任何频道。使用 `ip` 作为过滤字段，可能会错误地封禁不该被封禁的用户，例如多人共享一个 IP 地址。 |

          | ✘ | ✔ | ✘ | 任何人都无法登录 App 中该 `cname` 对应的频道。使用 `cname` 作为过滤字段，相当于封禁该 `cname` 对应的频道。 |

          | ✘ | ✘ | ✔ | 该 `uid` 无法登录 App 中的任何频道。 |

          | ✘ | ✔ | ✔ | 该 `uid` 无法登录 App 中该 `cname` 对应的频道。 |


          当 `privileges` 设为 `publish_audio` 或 `publish_video` 时，过滤规则如下：


          | ip | cname | uid | 过滤规则 |

          | --- | --- | --- | --- |

          | ✔ | ✘ | ✘ | 所有使用该 `ip` 的用户都无法在 App 中的任何频道内发送音频或视频流。 |

          | ✘ | ✔ | ✘ | 任何人都无法在该 `cname` 对应的频道内发送音频或视频流。 |

          | ✘ | ✘ | ✔ | 该 `uid` 无法在 App 中的任何频道内发送音频或视频流。 |

          | ✘ | ✔ | ✔ | 该 `uid` 无法在该 `cname` 对应的频道发送音频或视频流。 |


          用户被踢出频道后（即 `privileges` 设置为 `join_channel`），会收到网络连接已被服务器禁止回调：


          - Android：`onConnectionStateChanged` 回调报告 `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`。

          - iOS/macOS：`connectionChangedToState` 回调报告 `AgoraConnectionChangedBannedByServer(3)`。

          - Web 3.x：`Client.on("client-banned")`。

          - Web 4.x：`Client.on("connection-state-change")` 回调报告 `UID_BANNED` 或 `IP_BANNED`。

          - Windows：`onConnectionStateChanged` 回调报告 `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`。

          - Electron：`AgoraRtcEngine.on("connectionStateChanged")` 回调报告 3。

          - Unity：`OnConnectionStateChangedHandler` 回调报告 `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`。

          - React Native：`ConnectionStateChanged` 回调报告 `BannedByServer(3)`。

          - Flutter：`ConnectionStateChanged` 回调报告 `BannedByServer(3)`。

          - Cocos Creator：`onConnectionStateChanged` 回调报告 `CONNECTION_CHANGED_BANNED_BY_SERVER(3)`。

          - 小程序：`on(event: "client-banned")`。'
      x-docs-callouts:
      - type: warning
        title: 注意
        position: after-description
        markdown: '为了最大程度保障核心功能创建 (POST)、更新 (PUT) 和删除 (DELETE) 的成功率，在公网质量异常抖动下，查询 (GET) 方法的成功率和准确性会有一定程度降级。查询 (GET) 的返回结果中，可能会缺失部分请求记录。


          当你要创建 (POST) 一条封禁规则（`time` 不为 0），并需要在后续更新和删除该规则时，建议：


          - 在你的服务端保存 POST 请求返回的规则 ID，并依赖该 ID 实现后续更新和解封操作。

          - 为确保在公网质量异常时依然能够获取该请求返回的规则 ID，请求超时时间建议设置为 20 秒以上，最低不低于 5 秒。

          - 仅当 POST 请求超时或者返回 504 时，可以参考 GET 结果尝试获取对应规则 ID。如果规则存在，说明 POST 请求成功，则在你的服务端保存规则 ID。'
    get:
      tags:
      - 封禁用户权限
      summary: 获取规则列表
      description: 获取指定项目下的封禁用户权限规则列表。
      operationId: get-dev-v1-kicking-rule
      parameters:
      - name: appid
        in: query
        description: '项目的 App ID。可通过以下方式获取：

          - 从声网控制台获取。

          - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
        schema:
          type: string
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 本次请求的状态。`success` 表示请求成功。
                  rules:
                    type: array
                    description: 封禁用户权限的规则列表。该数组由多个 object 组成，每个 object 表示一条规则的信息。
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: 规则 ID。当更新或删除封禁用户权限规则时，需要传入规则 ID。
                        uid:
                          type: number
                          description: 用户 ID。
                        opid:
                          type: number
                          description: 操作 ID，用于问题排查时核对操作记录。
                        cname:
                          type: string
                          description: 频道名。
                        ip:
                          type: string
                          description: 用户的 IP 地址。
                        ts:
                          type: string
                          description: 该规则过期时间（UTC 时间）。
                        privileges:
                          type: array
                          description: '被封禁的用户权限，可能包含的字段如下：

                            - `join_channel`：加入频道

                            - `publish_audio`：发送音频流

                            - `publish_video`：发送视频流'
                          items:
                            type: string
                        createAt:
                          type: string
                          description: 该规则的创建时间（UTC 时间）。
                        updateAt:
                          type: string
                          description: 该规则的更新时间（UTC 时间）。
                x-examples:
                  Example 1:
                    status: success
                    rules:
                    - id: 1953
                      appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                      uid: 589517928
                      opid: 1406
                      cname: '11'
                      ip: 192.168.0.1
                      ts: '2018-01-09T07:23:06.000Z'
                      privileges:
                      - join_channel
                      createAt: '2018-01-09T06:23:06.000Z'
                      updateAt: '2018-01-09T14:23:06.000Z'
              examples:
                Example 1:
                  value:
                    status: success
                    rules:
                    - id: 1953
                      appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                      uid: 589517928
                      opid: 1406
                      cname: '11'
                      ip: 192.168.0.1
                      ts: '2018-01-09T07:23:06.000Z'
                      privileges:
                      - join_channel
                      createAt: '2018-01-09T06:23:06.000Z'
                      updateAt: '2018-01-09T14:23:06.000Z'
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: kui1nwcqkgvy5
      security:
      - Basic Auth: []
      x-docs-sections:
      - position: after-description
        markdown: 该方法获取封禁用户权限的规则列表。
      x-docs-callouts:
      - type: warning
        title: 注意
        position: after-description
        markdown: '为了最大程度保障核心功能创建 (POST)、更新 (PUT) 和删除 (DELETE) 的成功率，在公网质量异常抖动下，查询 (GET) 方法的成功率和准确性会有一定程度降级。查询 (GET) 的返回结果中，可能会缺失部分请求记录。


          当你要创建 (POST) 一条封禁规则（`time` 不为 0），并需要在后续更新和删除该规则时，建议：


          - 在你的服务端保存 POST 请求返回的规则 ID，并依赖该 ID 实现后续更新和解封操作。

          - 为确保在公网质量异常时依然能够获取该请求返回的规则 ID，请求超时时间建议设置为 20 秒以上，最低不低于 5 秒。

          - 仅当 POST 请求超时或者返回 504 时，可以参考 GET 结果尝试获取对应规则 ID。如果规则存在，说明 POST 请求成功，则在你的服务端保存规则 ID。'
    put:
      tags:
      - 封禁用户权限
      summary: 更新规则过期时间
      description: 更新指定封禁用户权限规则的过期时间。
      operationId: put-dev-v1-kicking-rule
      parameters:
      - name: Content-Type
        in: header
        description: '`application/json`。表示所有请求和响应内容的格式均为 JSON。'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appid:
                  type: string
                  description: '项目的 App ID。可通过以下方式获取：

                    - 从声网控制台获取。

                    - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
                id:
                  type: number
                  description: 规则 ID。
                time:
                  type: number
                  description: '封禁时间，单位为分钟，取值范围为 [1,1440]。


                    **注意：**

                    - 当设置的值在 `0` 到 `1` 之间时，服务端自动改设为 `1`。

                    - 当设置的值大于 `1440` 时，服务端自动改设为 `1440`。

                    - `time` 和 `time_in_seconds` 两个参数只需设置其中的一个。如果同时设置，则 `time_in_seconds` 生效；如果都不设置，服务端会自动将封禁时间设为 60 分钟，即 3600 秒。'
                time_in_seconds:
                  type: number
                  description: '封禁时间，单位为秒，取值范围为 [10,86430]。


                    **注意：**

                    - 当设置的值在 `0` 到 `10` 之间，服务端自动改设为 `10`。

                    - 当设置的值大于 `86430` 时，服务端自动改设为 `86430`。

                    - `time` 和 `time_in_seconds` 两个参数只需设置其中的一个。如果同时设置，则 `time_in_seconds` 生效；如果都不设置，服务端会自动将封禁时间设为 60 分钟，即 3600 秒。'
              required:
              - appid
              - id
              x-examples:
                Example 1:
                  appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                  id: 1953
                  time: 60
            examples:
              Example 1:
                value:
                  appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                  id: 1953
                  time: 60
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 本次请求的状态。`success` 表示请求成功。
                  result:
                    type: object
                    description: 请求结果。
                    properties:
                      id:
                        type: number
                        description: 规则 ID。
                      ts:
                        type: string
                        description: 该规则的过期时间（UTC 时间）。
                x-examples:
                  Example 1:
                    status: success
                    result:
                      id: 1953
                      ts: '2018-01-09T08:45:54.545Z'
              examples:
                Example 1:
                  value:
                    status: success
                    result:
                      id: 1953
                      ts: '2018-01-09T08:45:54.545Z'
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: dv2hvie0g4kcm
      security:
      - Basic Auth: []
    delete:
      tags:
      - 封禁用户权限
      summary: 删除规则
      description: 删除指定的封禁用户权限规则。
      operationId: delete-dev-v1-kicking-rule
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appid:
                  type: string
                  description: '项目的 App ID。可通过以下方式获取：

                    - 从声网控制台获取。

                    - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
                id:
                  type: number
                  description: 规则 ID。
              required:
              - appid
              - id
              x-examples:
                Example 1:
                  appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                  id: 1953
            examples:
              Example 1:
                value:
                  appid: 4855xxxxxxxxxxxxxxxxxxxxxxxxeae2
                  id: 1953
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 本次请求的状态。`success` 表示请求成功。
                  id:
                    type: number
                    description: 规则 ID。
                x-examples:
                  Example 1:
                    status: success
                    id: 1953
              examples:
                Example 1:
                  value:
                    status: success
                    id: 1953
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: dgd5ag4qd9jn3
      security:
      - Basic Auth: []
  /dev/v1/channel/user/property/{appid}/{uid}/{channelName}:
    get:
      tags:
      - 查询在线频道信息
      summary: 查询用户状态
      description: 查询指定频道中指定用户的在线状态。
      operationId: get-user-property
      parameters:
      - name: appid
        in: path
        description: '项目的 App ID。可通过以下方式获取：

          - 从声网控制台获取。

          - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
        required: true
      - name: uid
        in: path
        description: '用户 ID。


          注意：该参数暂不支持 String 型用户名（User Account），请确保使用整型用户 ID。'
        required: true
      - name: channelName
        in: path
        description: 频道名称。
        required: true
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: '本次请求的状态：

                      - `true`：请求成功

                      - `false`：预留'
                  data:
                    type: object
                    description: 用户状态数据。
                    properties:
                      in_channel:
                        type: boolean
                        description: '用户当前是否在频道内：

                          - `true`：是

                          - `false`：否


                          **注意：**

                          当 `in_channel` 的值为 `false` 时不会返回其他字段。'
                      join:
                        type: number
                        description: 用户加入频道的 Unix 时间戳，单位为秒。
                      uid:
                        type: number
                        description: 用户 ID。
                      role:
                        type: number
                        description: '用户在频道内的角色：

                          - `0`：未知

                          - `1`：通信场景下的用户

                          - `2`：直播场景下的主播

                          - `3`：直播场景下的观众'
                      platform:
                        type: number
                        description: '用户设备所属平台，常见的返回值如下：

                          - `1`：Android

                          - `2`：iOS

                          - `5`：Windows

                          - `6`：Linux

                          - `7`：Web

                          - `8`：macOS

                          - `0`：其它平台'
                x-examples:
                  Example 1:
                    success: true
                    data:
                      join: 1640330382
                      uid: 2845863044
                      in_channel: true
                      platform: 7
                      role: 2
              examples:
                Example 1:
                  value:
                    success: true
                    data:
                      join: 1640330382
                      uid: 2845863044
                      in_channel: true
                      platform: 7
                      role: 2
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: zhcaaphrgolpi
      security:
      - Basic Auth: []
      x-docs-sections:
      - position: after-description
        markdown: 该方法可查询指定频道中某个用户的状态。请求成功后，返回的参数包括用户是否在频道中、加入频道的时间和用户角色等。
  /dev/v1/channel/user/{appid}/{channelName}:
    get:
      tags:
      - 查询在线频道信息
      summary: 查询用户列表
      description: 查询指定频道内的用户列表。
      operationId: get-dev-v1-channel-user-appid-channelName
      parameters:
      - name: appid
        in: path
        description: '项目的 App ID。可通过以下方式获取：

          - 从声网控制台获取。

          - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
        required: true
      - name: channelName
        in: path
        description: 频道名称。
        required: true
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: '本次请求的状态：

                      - `true`：请求成功

                      - `false`：预留'
                  data:
                    type: object
                    properties:
                      channel_exist:
                        type: boolean
                        description: '指定频道是否存在：

                          - `true`：存在

                          - `false`：不存在


                          注意：当 `channel_exist` 的值为 `false` 时，不会返回其它字段。'
                      mode:
                        type: number
                        description: '频道场景：

                          - `1`：通信场景

                          - `2`：直播场景'
                      total:
                        type: number
                        description: 频道内的总人数。该字段仅在通信场景（`mode` 的值为 `1` ）下返回。
                      users:
                        type: array
                        description: 频道内所有用户的用户 ID。该字段仅在通信场景（`mode` 的值为 `1`）下返回。
                        items:
                          type: integer
                      broadcasters:
                        type: array
                        description: 频道内所有主播的用户 ID。该字段仅在直播场景（`mode` 的值为 `2`）下返回。
                        items:
                          type: integer
                      audience:
                        type: array
                        description: 频道内观众的用户 ID。最多包含当前频道内前 10,000 名观众的用户 ID。该字段仅在直播场景（`mode` 的值为 2）且未填 `hosts_only` 参数时返回。
                        items:
                          type: integer
                      audience_total:
                        type: number
                        description: 频道内的观众总人数。该字段仅在直播场景（`mode` 的值为 `2`）下且未填 `hosts_only` 参数时返回。
                x-examples:
                  Example 1:
                    success: true
                    data:
                      channel_exist: true
                      mode: 1
                      total: 1
                      users:
                      - 906218805
              examples:
                通信场景下返回用户列表:
                  value:
                    success: true
                    data:
                      channel_exist: true
                      mode: 1
                      total: 1
                      users:
                      - 906218805
                直播场景下返回主播和观众列表:
                  value:
                    success: true
                    data:
                      channel_exist: true
                      mode: 2
                      broadcasters:
                      - 2206227541
                      - 2845863044
                      audience:
                      - 906219905
                      audience_total: 1
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: 7oivs5gyuedcq
      security:
      - Basic Auth: []
      x-docs-sections:
      - position: after-description
        markdown: '在不同频道场景下，该方法返回的列表具体如下：


          - 通信场景下，频道内的用户列表。

          - 直播场景下，频道内的主播列表和观众列表。'
      x-docs-callouts:
      - type: info
        title: 注意
        position: after-description
        markdown: '- 同一频道内的用户必须使用相同的频道场景。否则，查询结果可能不准确。

          - 该 API 和[查询用户状态 API](query-user-status) 均能用于同步在线频道状态信息。相比于查询用户状态 API，该 API 所需的调用频率低，查询效率高。因此，声网更推荐使用该 API 查询用户状态。'
  /dev/v1/channel/user/{appid}/{channelName}/hosts_only:
    get:
      tags:
      - 查询在线频道信息
      summary: 查询主播列表
      description: 查询直播场景下指定频道内的主播列表。
      operationId: get-dev-v1-channel-user-appid-channelName-hosts_only
      parameters:
      - name: appid
        in: path
        description: '项目的 App ID。可通过以下方式获取：

          - 从声网控制台获取。

          - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
        required: true
      - name: channelName
        in: path
        description: 频道名称。
        required: true
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: '本次请求的状态：

                      - `true`：请求成功

                      - `false`：预留'
                  data:
                    type: object
                    properties:
                      channel_exist:
                        type: boolean
                        description: '指定频道是否存在：

                          - `true`：存在

                          - `false`：不存在


                          注意：当 `channel_exist` 的值为 `false` 时，不会返回其它字段。'
                      mode:
                        type: number
                        description: '频道场景：

                          - `1`：通信场景

                          - `2`：直播场景'
                      broadcasters:
                        type: array
                        description: 频道内所有主播的用户 ID。该字段仅在直播场景（`mode` 的值为 `2`）下返回。
                x-examples:
                  Example 1:
                    success: true
                    data:
                      channel_exist: true
                      mode: 1
                      total: 1
                      users:
                      - 906218805
              examples:
                直播场景下返回主播列表:
                  value:
                    success: true
                    data:
                      channel_exist: true
                      mode: 2
                      broadcasters:
                      - 574332
                      - 1347839
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: t0g929tbvwuxc
      security:
      - Basic Auth: []
      x-docs-callouts:
      - type: info
        title: 注意
        position: after-description
        markdown: '- 该 API 仅限在直播场景（`mode` 的值为 `2`）下使用。

          - 同一频道内的用户必须使用相同的频道场景。否则，查询结果可能不准确。

          - 该 API 和[查询用户状态 API](query-user-status) 均能用于同步在线频道状态信息。相比于查询用户状态 API，该 API 所需的调用频率低，查询效率高。因此，声网更推荐使用该 API 查询用户状态。'
  /dev/v1/channel/{appid}:
    get:
      tags:
      - 查询在线频道信息
      summary: 查询项目的频道列表
      description: 按页查询指定项目下的频道列表。
      operationId: get-dev-v1-channel-appid
      parameters:
      - name: page_no
        in: query
        description: 你想要查询的页面，默认值为 `0`，即第一页。
        schema:
          type: number
      - name: page_size
        in: query
        description: 个页面显示的频道数量，取值范围为 [1,500]，默认值为 `100`。
        schema:
          type: number
      - name: appid
        in: path
        description: '项目的 App ID。可通过以下方式获取：

          - 从声网控制台获取。

          - 调用[获取所有项目信息 API](/zh-CN/api-reference/api-ref/console/list-projects)，并读取响应包体中 `vendor_key` 字段的值。'
        required: true
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: '本次请求的状态：

                      - `true`：请求成功

                      - `false`：预留'
                  data:
                    type: object
                    description: 频道数据。
                    properties:
                      channels:
                        type: array
                        description: '频道列表。由多个 object 组成，每个 object 表示一个频道的信息。


                          注意：指定的页面不包含频道列表时，该字段返回值为空。'
                        items:
                          type: object
                          properties:
                            channel_name:
                              type: string
                              description: 频道名。
                            user_count:
                              type: number
                              description: 频道内的用户人数。
                      total_size:
                        type: number
                        description: 频道总数。
                x-examples:
                  Example 1:
                    success: true
                    data:
                      channels:
                      - channel_name: lkj144
                        user_count: 3
                      total_size: 1
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: gvczdh19sfh1g
      security:
      - Basic Auth: []
      x-docs-sections:
      - position: after-description
        markdown: 你可以在请求路径中指定要查询的页面和每页显示的频道数量。请求成功后，会根据你指定的 `page_size` 返回指定页面的频道列表。
      x-docs-callouts:
      - type: info
        title: 注意
        position: after-description
        markdown: 如果频道内的人数频繁变化，查询结果可能不准确，可能会出现同一频道重复出现在不同分页中，或者某一频道未出现在任何分页中的情况。
  /v2/ncs/ip:
    get:
      tags:
      - 消息通知服务
      summary: 查询消息通知服务器 IP
      description: 查询声网消息通知服务器的 IP 地址。
      operationId: get-v2-ncs-ip
      responses:
        '200':
          description: 如果状态码为 200，则请求成功。
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      service:
                        type: object
                        properties:
                          hosts:
                            type: array
                            items:
                              type: object
                              properties:
                                primaryIP:
                                  type: string
                                  description: 声网消息通知服务器的 IP 地址。收到响应时，你仅需关心该字段，并将 IP 地址（或 IP 地址列表）添加到白名单中。
                x-examples:
                  Example 1:
                    data:
                      service:
                        hosts:
                        - primaryIP: xxx.xxx.xxx.xxx
                        - primaryIP: xxx.xxx.xxx.xxx
              examples:
                Example 1:
                  value:
                    data:
                      service:
                        hosts:
                        - primaryIP: xxx.xxx.xxx.xxx
                        - primaryIP: xxx.xxx.xxx.xxx
        非 200:
          description: 如果状态码不为 200，则请求失败。你可以参考[响应状态码](/zh-CN/api-reference/response-code)排查问题。
      servers:
      - url: https://api.sd-rtn.com
        description: ''
      x-stoplight:
        id: tao9tt3833p7j
      security:
      - Basic Auth: []
      x-docs-sections:
      - position: after-description
        markdown: '在使用声网实时音视频功能时，你可以使用声网消息通知服务接收实时音视频业务中的频道状态。


          开通消息通知服务后，当订阅的频道事件发生时，声网消息通知服务器会将事件通知投递给你的消息接收服务器。


          如果你的消息接收服务器受防火墙限制，你可以调用该方法查询声网消息通知服务器的 IP 地址，并将获取到的所有 IP 地址都添加到防火墙白名单。'
      x-docs-callouts:
      - type: warning
        title: 注意
        position: after-description
        markdown: 声网可能会调整消息通知服务器的 IP 地址。强烈建议你至少每 24 小时查询一次，并自动更新防火墙配置，否则可能会影响你接收通知。
tags:
- name: 查询在线频道信息
  description: 查询在线频道、频道内用户和用户状态信息。
- name: 封禁用户权限
  description: 创建和管理频道用户权限封禁规则。
- name: 消息通知服务
  description: 查询声网消息通知服务器 IP 地址。
components:
  securitySchemes:
    Basic Auth:
      type: http
      description: 声网频道管理 RESTful API 仅支持 HTTPS。发送请求时，你需要使用声网提供的客户 ID 和客户密钥生成 Base64 编码凭证，并填入请求头部的 `Authorization` 字段中。详见 [RESTful 鉴权](/zh-CN/api-reference/api-ref/rtc/authentication)。
      scheme: basic
security:
- Basic Auth: []
