openapi: 3.1.0
info:
  version: ""
  title: Conversational AI Agent API Overview
  description: >-
    This article introduces the basic information of Agora conversational agent service RESTful API.


    ## Data format


    The `Content-Type` request header of all HTTP requests is `application/json`. All request and response content are
    formatted as JSON.
servers:
  - url: https://api.agora.io/cn/api/conversational-ai-agent
    description: ""
paths:
  /v2/projects/{appid}/join:
    post:
      summary: Start a conversational AI agent
      description: Create a Conversational AI agent instance and join the RTC channel.
      operationId: start-agent
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/appid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - properties
              properties:
                name:
                  type: string
                  description: The unique identifier of the agent, and the same identifier cannot be created repeatedly.
                properties:
                  type: object
                  description: Detailed configuration of the agent.
                  required:
                    - channel
                    - agent_rtc_uid
                    - remote_rtc_uids
                    - tts
                    - llm
                  properties:
                    channel:
                      type: string
                      description: The name of the RTC channel that the agent joins.
                    token:
                      type: string
                      description: >-
                        The Token used to join the RTC channel is the dynamic key used for authentication. If your
                        project has App Certificates enabled, be sure to pass your project's dynamic key in this field.
                        For details, see [Using Token
                        Authentication](https://doc.shengwang.cn/doc/rtc/android/basic-features/token-authentication).
                    agent_rtc_uid:
                      type: string
                      description: The user ID of the agent in the RTC channel.
                    remote_rtc_uids:
                      type: array
                      description: >-
                        A list of user IDs subscribed by the agent in the RTC channel. Only subscribed users can
                        interact with the agent. Currently, only subscribing to one user ID is supported.
                      items:
                        type: string
                    enable_string_uid:
                      type: boolean
                      default: false
                      description: >-
                        Whether to enable String UID:

                        - `true`: Both agent and subscriber IDs use String UIDs.

                        - `false`: (Default) Both agent and subscriber IDs use Int UID.

                        > In the same channel, user IDs of type Int and String cannot be mixed. For more information
                        about using String UID, please refer to [How to use String user
                        ID](https://doc.shengwang.cn/faq/integration-issues/string-uid).
                    idle_timeout:
                      type: integer
                      description: >-
                        Maximum idle time of RTC channel (s). The time after it is detected that all users specified in
                        `remote_rtc_uids` have left the channel is regarded as the channel idle time. When it exceeds
                        the set maximum value, the channel's agent will automatically stop and exit the channel. If
                        filled with `0`, the agent will not stop until manually exited.
                      default: 30
                    advanced_features:
                      type: object
                      description: Advanced feature configuration.
                      properties:
                        enable_rtm:
                          type: boolean
                          description: >-
                            Whether to enable the real-time messaging RTM service. After being enabled, the agent will
                            automatically log in to RTM and subscribe to the channel specified in `channel`. It can
                            combine the capabilities provided by RTM to implement some advanced functions, such as
                            [delivering custom
                            information](https://doc.shengwang.cn/doc/convoai/restful/user-guides/custom-data).


                            > Before enabling the RTM service, you need to ensure that the Token has both RTC and RTM
                            permissions. When an agent joins the RTM channel, it will reuse the Token configured in the
                            `token` field. You can refer to
                            [FAQ](https://doc.shengwang.cn/faq/integration-issues/generate-token) to learn how to
                            generate a Token with both RTC and RTM permissions.
                          default: false
                        enable_sal:
                          type: boolean
                          description: >-
                            Whether to enable the Selective Attention Locking (SAL) function. After enabling it,
                            complete the relevant settings in the `sal` field, and the agent can identify the user's
                            voiceprint characteristics, effectively distinguish between different speakers, and block
                            95% of ambient human voices and noise.

                            > This feature is currently in beta.
                          default: false
                        enable_tools:
                          type: boolean
                          description: >-
                            Whether to enable the tool calling function. Once enabled, the agent can call the tools
                            provided by the MCP server to implement more complex business logic.
                          default: false
                    asr:
                      type: object
                      description: Automatic speech recognition (ASR) configuration.
                      properties:
                        language:
                          type: string
                          description: "Language used when the user interacts with the agent:\r\n- `zh-CN`: Chinese (supports mixed Chinese and English)\r\n- `en-US`: English"
                          default: zh-CN
                        vendor:
                          type: string
                          description: |-
                            ASR service provider, optional values:
                            - `fengming`: (Default) SoundNet Fengming ASR.
                            - `tencent`: Tencent ASR.
                            - `microsoft`: Microsoft ASR.
                            - `xfyun`: iFlytek traditional speech transcription recognition service.
                            - `xfyun_bigmodel`: iFlytek speech recognition large model service.
                            - `xfyun_dialect`: iFlytek dialect free speaking recognition service.
                        params:
                          $ref: "#/components/schemas/asr_params"
                          description: >-
                            Specify configuration parameters for the ASR provider.

                            > You can refer to the parameter filling examples of different ASR vendors in the calling
                            example.
                    tts:
                      type: object
                      description: Text-to-speech (TTS) module configuration.
                      required:
                        - vendor
                        - params
                      properties:
                        vendor:
                          type: string
                          description: |-
                            TTS provider, supports passing in the following values:
                            - `minimax`: Minimax TTS
                            - `tencent`: Tencent TTS
                            - `bytedance`: Volcano engine TTS
                            - `microsoft`: Microsoft Azure TTS
                            - `cosyvoice`: (Beta) Alibaba Cloud CosyVoice TTS
                            - `bytedance_duplex`: Volcano engine bidirectional streaming TTS
                            - `stepfun`: (Beta) Step Star TTS
                        skip_patterns:
                          type: array
                          description: >-
                            Filter mode configuration is used to control whether to skip the content in brackets in the
                            LLM return text to avoid the agent from broadcasting unnecessary structural prompt
                            information such as tone, action description, etc. The default value is `[]`, which does not
                            filter anything. The optional values are as follows. Passing in will enable this function:


                            - `1`: Skip the content in Chinese parentheses ( )

                            - `2`: Skip the content in Chinese square brackets [ ]

                            - `3`: Skip the content in English parentheses ( )

                            - `4`: Skip the content in English square brackets [ ]

                            - `5`: Skip the content in English curly braces \{ }


                            > - When there are nested brackets in the input text and multiple bracket types are
                            configured to skip, the agent only processes the outermost brackets, that is, the system
                            will start matching from the starting position of the text. Once the first outermost bracket
                            pair that meets the skip rules is found, the bracket pair and all the content it contains
                            (including any nested brackets of other types) will be skipped as a whole.

                            > - Regardless of whether [real-time
                            subtitles](https://doc.shengwang.cn/doc/convoai/restful/user-guides/realtime-sub) is turned
                            on or not, the agent short-term memory will contain the filtered content, that is, the
                            complete text generated by LLM.

                            > - When [Real-time
                            Subtitles](https://doc.shengwang.cn/doc/convoai/restful/user-guides/realtime-sub) is turned
                            on, the real-time subtitles will not include filtered content when TTS is broadcast. After
                            the sentence is broadcast, the subtitles will add these contents back.

                            > - Volcano engine bidirectional streaming TTS does not currently support this feature.
                          items:
                            type: integer
                          default: []
                        params:
                          $ref: "#/components/schemas/tts_params"
                          description: >-
                            Specify configuration parameters for the TTS provider.

                            > You can refer to the parameter filling examples for different TTS providers in the calling
                            example.
                    llm:
                      type: object
                      description: Large language model (LLM) configuration.
                      required:
                        - url
                      properties:
                        url:
                          type: string
                          description: LLM callback address, required to be compatible with the OpenAI protocol.
                        api_key:
                          type: string
                          description: >-
                            LLM authentication API key. The default is empty. The API key must be enabled in the
                            production environment.
                        system_messages:
                          type: array
                          description: >-
                            A set of predefined messages that are prepended every time LLM is called to control the LLM
                            output. It can be role settings, prompt words, answer samples, etc. Requires compatibility
                            with OpenAI protocol.
                          items:
                            type: object
                            additionalProperties: {}
                        max_history:
                          $ref: "#/components/schemas/max_history"
                        input_modalities:
                          type: array
                          description: "The input mode of LLM supports:\r\n- `[\"text\"]`: (default) text only.\r\n- `[\"text\", \"image\"]`: text plus image, requires the selected LLM to support visual modal input."
                          items:
                            type: string
                            default: text
                        output_modalities:
                          type: array
                          description: "The output mode of LLM supports:\r\n- `[\"text\"]`: (default) text only. The output text will be converted into speech by the TTS module and then published to the RTC channel.\r\n- `[\"audio\"]`: Speech only. Voice is posted directly to the RTC channel.\r\n- `[\"text\", \"audio\"]`: text plus voice. You can write your own logic to process the LLM output as needed."
                          items:
                            type: string
                        greeting_message:
                          type: string
                          description: >-
                            Agent greeting. If filled in, when there is no user in the subscriber list
                            (`remote_rtc_uids`) in the channel, the agent will automatically send a greeting to the
                            first subscriber who joins the channel.
                        greeting_configs:
                          type: object
                          description: Agent greeting broadcast configuration.
                          properties:
                            mode:
                              type: string
                              description: >-
                                Agent greeting broadcast mode supports the following options:

                                - `"single_every"`: (Default) The agent broadcasts a greeting every time a user joins
                                the empty channel.

                                - `"single_first"`: When only the first user joins the empty channel, the agent
                                broadcasts the greeting once.
                            delay_ms:
                              type: integer
                              description: >-
                                Agent greeting broadcast delay time (ms), the value range is [0, 5000]. After
                                configuration, the agent greeting will wait for the specified time before broadcasting
                                after the user joins the channel.
                        template_variables:
                          type: object
                          description: >-
                            Dynamic parameter configuration for inserting variables in the agent's `system_messages`,
                            `greeting_message`, `failure_message` and `parameters.silence_config.content` text. In the
                            form of key-value pairs, the key is the variable name and the value is the variable value.


                            **Usage**: Use the `{{variable_name}}` format to reference variables in the Prompt text, and
                            the system will automatically replace them with the corresponding values ​​defined in
                            `template_variables`.

                            > Note: Variable names and variable values ​​do not support referencing other variables. For
                            example, in the custom variable `"farewell": "Looking forward to seeing you next time,
                            {{name}}"`, the `{{name}}` in it will not be parsed.
                          additionalProperties:
                            type: string
                        failure_message:
                          type: string
                          description: >-
                            Agent processing failure prompt. If filled in, this will be returned via the TTS module on
                            an error in the LLM call.
                        vendor:
                          type: string
                          description: >-
                            LLM provider, supports the following two settings:

                            - Commercial large model provider, supports the following values:
                              - `aliyun`: Alibaba Cloud
                              - `bytedance`: Bytedance
                              - `deepseek`: deep search
                              - `tencent`：Tencent

                              Once set, it can improve compatibility and reduce request failures caused by carrying information not supported by LLM.
                            - Customize LLM, i.e. set to `"custom"`. After setting, when the agent calls custom LLM, in
                            addition to `role` and `content`, it will carry the following additional information:
                              - `turn_id`: unique conversation turn identifier. `turn_id` starts from 0 and increments, and a round of dialogue between the user and the agent corresponds to one `turn_id`.
                              - `timestamp`: request timestamp, precision is milliseconds.
                        mcp_servers:
                          type: array
                          description: >-
                            MCP (Model Context Protocol) server configuration list. By configuring the MCP server, the
                            agent can call tools provided by external services to implement more complex business logic.
                          items:
                            type: object
                            required:
                              - name
                              - endpoint
                            properties:
                              name:
                                type: string
                                description: >-
                                  The unique identifier of the MCP server. The length must not exceed 48 characters, and
                                  the following characters are supported:

                                  - All lowercase English letters: a to z

                                  - All uppercase English letters: A to Z

                                  - All numeric characters: 0 to 9

                                  - "." and "-"
                              endpoint:
                                type: string
                                description: >-
                                  The endpoint address of the MCP server through which the agent will communicate with
                                  the MCP server.
                              transport:
                                type: string
                                description: |-
                                  Transport protocol type, supports the following values:
                                  - `"streamable_http"`: streaming HTTP protocol
                              headers:
                                type: object
                                description: >-
                                  HTTP header information carried when requesting the MCP server, such as authentication
                                  information.
                                additionalProperties:
                                  type: string
                              allowed_tools:
                                type: array
                                description: >-
                                  A list of tools that the agent is allowed to call. Only tools in this list can be used
                                  by the agent.

                                  > `allowed_tools` field validation rules:

                                  > - Leave `allowed_tools` field unfilled: all tools take effect

                                  > - Fill in the `allowed_tools` field:

                                  > - Fill in as `[]`: all tools will not take effect

                                  > - Fill in as `["*"]`: all tools will take effect

                                  > - Fill in as `["aa", "bb", "cc"]`: `aa`, `bb`, `cc` are valid

                                  > - Fill in as `["aa", "bb", "*"]`: all tools will take effect
                                items:
                                  type: string
                              timeout_ms:
                                type: integer
                                description: >-
                                  MCP server request timeout, in milliseconds. After the request times out, the agent
                                  will not wait for the MCP server to respond, but will continue to execute subsequent
                                  logic.
                                default: 10000
                        headers:
                          type: object
                          description: >-
                            Custom request header included when requesting LLM. You can use this field to transparently
                            transmit business-related information such as business custom fields and tenant IDs.

                            > - The request header passed in by this parameter will be merged with the request header
                            generated by the conversational AI engine by default; when there is a key conflict, the
                            request header generated by the conversational AI engine will prevail (such as
                            authentication-related headers).

                            > - Header keys are merged according to exact string matching (case-sensitive). Shengwang
                            recommends using standard writing to avoid ambiguity caused by different case names with the
                            same name.
                          additionalProperties: {}
                        params:
                          type: object
                          description: >-
                            LLM additional information transmitted in the message body, such as the model used, the
                            maximum number of Tokens, etc. Different LLM vendors support different configurations.
                            Please refer to the corresponding documents to fill in the configuration as needed.
                          additionalProperties: {}
                    avatar:
                      type: object
                      description: Digital Man (Avatar) configuration.
                      properties:
                        enable:
                          type: boolean
                          description: >-
                            Whether to enable digital human functionality for the agent:

                            - `true`: enabled. After enabling, the `vendor` and `params` fields need to be configured.

                            - `false`: (Default) Not enabled.


                            > Enabling the digital human function will incur RTC video call charges. For details, please
                            see [RTC Billing
                            Instructions](https://doc.shengwang.cn/doc/rtc/android/billing/billing-strategy).
                        vendor:
                          type: string
                          description: |-
                            Digital human supplier, supports passing in the following values:
                            - `sensetime`: Sensetime digital person
                        params:
                          $ref: "#/components/schemas/avatar_params"
                          description: >-
                            Specify configuration parameters for the digital human provider.

                            > You can refer to the parameter filling examples of different digital human suppliers in
                            the calling example.
                    turn_detection:
                      type: object
                      description: >-
                        Conversation turn detection settings, used to control voice activity detection and conversation
                        turn determination logic.


                        > Since v2.6, `turn_detection` is only responsible for start of speech (SoS) and end of speech
                        (EoS) detection. The processing strategies for keyword interruption and closing interruptions
                        have been moved to the top-level `interruption` field.
                      properties:
                        mode:
                          type: string
                          description: >-
                            Dialog turn detection mode, currently supports the following values:

                            - `"default"`: (Default) Default mode, using standard conversation turn detection
                            configuration.
                          enum:
                            - default
                          default: default
                        config:
                          type: object
                          description: Conversation turn detection detailed configuration.
                          properties:
                            speech_threshold:
                              type: number
                              description: >-
                                Speech recognition sensitivity, the value range is (0.0, 1.0). Determines what level of
                                sound in the audio signal is considered "speech activity". Lower values ​​will make it
                                easier for the agent to detect speech, higher values ​​may ignore faint sounds.
                              format: float
                              default: 0.5
                            start_of_speech:
                              type: object
                              description: Start of Speech (SoS) detection configuration to determine when a user starts speaking.
                              properties:
                                mode:
                                  type: string
                                  description: >-
                                    Conversation start detection mode, supports the following values:

                                    - `"vad"`: (Default) Trigger based on VAD (Voice Activity Detection), using audio
                                    signal detection.

                                    - `"keywords"`: Deprecated, please use `properties.interruption.mode = "keywords"`
                                    to configure keyword interruption instead.

                                    - `"disabled"`: Deprecated, please use `properties.interruption.enable = false`
                                    instead with `properties.interruption.disabled_config.strategy` to configure the
                                    processing strategy after turning off interruption.
                                "{mode}_config":
                                  $ref: "#/components/schemas/start_of_speech_config"
                                  description: >-
                                    The dialog starts detecting configuration parameters. Pass in the corresponding
                                    configuration fields according to `mode`.
                            end_of_speech:
                              type: object
                              description: >-
                                End of Speech (EoS) detection configuration, used to determine when the user has
                                finished speaking.
                              properties:
                                mode:
                                  type: string
                                  description: >-
                                    Conversation end detection mode, supports the following values:

                                    - `"vad"`: (Default) Trigger based on VAD (Voice Activity Detection), detecting
                                    silence duration.

                                    - `"semantic"`: Based on semantic triggering, the semantic understanding module is
                                    used to determine the end of the conversation. This mode currently only supports
                                    recognition of Chinese and English text.
                                "{mode}_config":
                                  $ref: "#/components/schemas/end_of_speech_config"
                                  description: >-
                                    The end of the session checks the configuration parameters. Pass in the
                                    corresponding configuration fields according to `mode`.
                    interruption:
                      type: object
                      description: >-
                        Intelligent interruption control configuration is used to uniformly manage the behavior strategy
                        of agents interrupted by users.
                      properties:
                        enable:
                          type: boolean
                          default: true
                          description: |-
                            Whether to enable the agent interruption function:
                            - `true`: (default) enabled.
                            - `false`: off. After closing, the agent will not be interrupted midway.
                        mode:
                          type: string
                          default: start_of_speech
                          description: >-
                            Interrupt triggering mode, supports the following values:

                            - `"start_of_speech"`: (Default) Trigger interrupt when user starts speaking.

                            - `"keywords"`: Trigger interruption when the user speaks the specified keyword. Configure
                            the trigger keyword in the `keywords_config` field.
                        keywords_config:
                          type: object
                          description: >-
                            Configuration of triggering interrupts based on keywords. Only takes effect when `mode =
                            "keywords"`.
                          properties:
                            trigger_keywords:
                              type: array
                              description: List of keywords that trigger interruption. Supports setting up to 128 keywords.
                              items:
                                type: string
                        disabled_config:
                          type: object
                          description: >-
                            The processing strategy after turning off the interruption function. Only takes effect when
                            `interruption.enable` is `false`.
                          properties:
                            strategy:
                              type: string
                              description: >-
                                The processing strategy after turning off the interrupt function supports the following
                                values:

                                - `"append"`: Append mode, the human voice does not interrupt the agent. The agent will
                                process the vocal request just received after the current interaction ends.

                                - `"ignore"`: ignore mode, the agent ignores vocal requests. If the agent receives a
                                human voice while speaking or thinking, the agent will directly ignore and discard the
                                human voice request without storing the context.
                    sal:
                      type: object
                      description: |-
                        Selective Attention Locking (SAL) configuration.
                        > This feature is currently in beta.
                      properties:
                        sal_mode:
                          type: string
                          description: >-
                            Selective attention lock mode, supports the following options:

                            - `"locking"`: (Default) presenter locking mode. The intelligent body locks on the speaker
                            and blocks 95% of ambient human voices and noise. This mode can be enabled in two ways:
                              - Senseless recognition: If the user speaks loudly and clearly at the beginning of the conversation, the agent can automatically identify the user as the speaker.
                              - Pre-registration: When creating an agent, pre-register the voiceprint URL of a speaker through the `sample_urls` field, and the agent will lock the speaker based on the pre-registered voiceprint URL.
                            - `"recognition"`: Voiceprint recognition mode. You can pre-register the voiceprint URL
                            through the `sample_urls` field. Currently, only single voiceprint registration is
                            supported. The agent will recognize different speakers and suppress other background vocals
                            and environmental noise. The recognized speaker identity will be identified and sent to LLM
                            through the `vpids` field in the `metadata` field. You need to set `llm.vendor` to
                            `"custom"` and refer to [Customized Large
                            Model](/doc/convoai/restful/user-guides/custom-llm) to learn how to let LLM process speaker
                            information.
                          default: locking
                        sample_urls:
                          type: object
                          description: >-
                            The registered voiceprint URL is in the form of a key-value pair. The key is the registered
                            voiceprint name, and the value is the voiceprint URL download address of the corresponding
                            speaker.

                            > - The incoming voiceprint name cannot be set to `"unknown"`, which is a reserved keyword
                            used to identify unknown speakers.

                            > - For registered voiceprints, the following conditions must be met:

                            > - Quantity: The number of registered voiceprint URLs requested by each task. Currently,
                            only single voiceprint is supported, and the quantity is 1.

                            > - Size: A single voiceprint file must not exceed 2 MB.

                            > - Duration: The duration is 10 to 15 seconds, of which the effective audio is not less
                            than 8 seconds (cannot have too many silent segments).

                            > - Format: Must be a 16k sampling rate, 16bit bit depth, mono PCM audio file, the file name
                            suffix must be `.pcm`.
                    labels:
                      type: object
                      description: >-
                        Custom tags, in the form of key-value pairs, where the key is the tag name and the value is the
                        tag value. Used to allow intelligent agents to carry customized business information.


                        These custom information will be bound to the agent and returned in the `payload` field of all
                        types of message notification callbacks in the conversational AI engine. It can be used to
                        implement custom business logic, such as marking activity IDs, customer groupings, business
                        scenarios, etc.
                      additionalProperties:
                        type: string
                    rtc:
                      type: object
                      description: RTC media content encryption configuration.
                      properties:
                        encryption_key:
                          type: string
                          description: |-
                            Encryption key of type string with no limit on length. Agora recommends using a 32-byte key.
                            > If the encryption key is not set or is set to empty, built-in encryption cannot be used.
                        encryption_salt:
                          type: string
                          description: >-
                            Salt value used for encryption, Base64 encoded string, decoded to 32 bytes in length.

                            > This parameter only takes effect when `encryption_mode` is set to `7` (AES_128_GCM2) or
                            `8` (AES_256_GCM2). In this case, make sure the parameter is not empty.
                        encryption_mode:
                          type: integer
                          description: >-
                            Built-in encryption mode, supports the following values:

                            - `1`: AES_128_XTS - 128-bit AES encryption, XTS mode.

                            - `2`: AES_128_ECB - 128-bit AES encryption, ECB mode.

                            - `3`: AES_256_XTS - 256-bit AES encryption, XTS mode.

                            - `4`: SM4_128_ECB - 128-bit SM4 encryption, ECB mode.

                            - `5`: AES_128_GCM - 128-bit AES encryption, GCM mode.

                            - `6`: AES_256_GCM - 256-bit AES encryption, GCM mode.

                            - `7`: AES_128_GCM2 - 128-bit AES encryption, GCM mode. This mode requires salt
                            (`encryption_salt`) to be set.

                            - `8`: AES_256_GCM2 - 256-bit AES encryption, GCM mode. This mode requires salt
                            (`encryption_salt`) to be set.


                            > Agora recommends using `7` (AES_128_GCM2) or `8` (AES_256_GCM2) mode. These two modes
                            support the use of encryption salts to improve security.
                    filler_words:
                      type: object
                      description: >-
                        The padding function (Beta) configuration is used to broadcast padding when LLM is waiting for a
                        response, so as to relieve the user's waiting anxiety and improve the smoothness of the
                        conversation.


                        Pre-word broadcasting follows the following rules:

                        - **Broadcast Order**: When multiple pad words or LLM responses are waiting to be broadcast,
                        they will be broadcast in the order in which the texts arrive.

                        - **Interruption Control**: Inherit the interruption mode setting in the global configuration
                        (`turn_detection.config`).
                      properties:
                        enable:
                          type: boolean
                          description: |-
                            Whether to enable the padding function:
                            - `true`: enabled.
                            - `false`: (Default) Not enabled.
                          default: false
                        trigger:
                          type: object
                          description: The pre-word trigger configuration defines when to trigger the pre-word broadcast.
                          properties:
                            mode:
                              type: string
                              description: >-
                                Pad word trigger mode supports the following values:

                                - `"fixed_time"`: Fixed time trigger. When the LLM response waiting time exceeds the set
                                threshold, a pad word broadcast is triggered.
                            "{mode}_config":
                              $ref: "#/components/schemas/filler_words_trigger_config"
                              description: >-
                                Pad words trigger configuration parameters. Select the corresponding configuration
                                according to `mode`.
                        content:
                          type: object
                          description: >-
                            Configure the content of the pad words, and define the source and selection rules of the pad
                            words.
                          properties:
                            mode:
                              type: string
                              description: |-
                                Pad content mode, supports the following values:
                                - `"static"`: static prefix. Use a predefined list of padding words.
                            "{mode}_config":
                              $ref: "#/components/schemas/filler_words_content_config"
                              description: >-
                                The configuration parameters of the padding content. Select the corresponding
                                configuration according to `mode`.
                    parameters:
                      type: object
                      description: Agent parameter configuration.
                      properties:
                        silence_config:
                          type: object
                          description: Agent silent settings.
                          properties:
                            timeout_ms:
                              type: integer
                              description: "The maximum silent time of the agent (ms), the value range is [0,60000]. After the agent is successfully created and the user joins the channel, the duration during which the agent is not listening, thinking or speaking is called the agent silent time. After the silent time reaches the set value, the agent will broadcast a silent prompt message. This feature can be used to have the agent remind the user when they are inactive.\r\n- Set to `0` (default): disables this feature.\r\n- When set to `(0,60000]`, `content` must be set at the same time to properly broadcast the silent prompt, otherwise the setting is invalid."
                            action:
                              type: string
                              description: "After the silent time reaches the set value, the behavior taken by the agent can be set to the following values:\r\n- `\"speak\"`: (default) uses the TTS module to speak the silent prompt content (`content`).\r\n- `\"think\"`: Append the silent prompt content (`content`) to the end of the context and pass it to LLM."
                            content:
                              type: string
                              description: >-
                                The content of the silent prompt message. The content of the settings will be used in
                                different ways depending on the settings in `action`.
                        farewell_config:
                          type: object
                          description: The agent gracefully hangs up settings.
                          properties:
                            graceful_enabled:
                              type: boolean
                              description: >-
                                Whether to enable graceful exit (Graceful Leave) function:

                                - `true`: enabled. After enabling it, call the [POST Stop Conversational
                                Agent](/doc/convoai/restful/convoai/operations/stop-agent) interface. When the agent
                                exits the channel, it will ensure that the agent is in a silent state (`IDLE`) before
                                leaving the channel.

                                - `false`: (Default) Not enabled.
                              default: false
                            graceful_timeout_seconds:
                              type: integer
                              description: >-
                                The graceful exit timeout (s) represents the maximum time to wait for the agent to enter
                                the silent state (`IDLE`) before exiting the channel. After this time is exceeded, the
                                agent will exit the channel immediately even if it is not in the silent state. This
                                field only takes effect when `graceful_enabled` is `true`, and the value range is
                                [0,120].
                              default: 30
                        data_channel:
                          type: string
                          description: "Agent data transmission channel, optional following values:\r\n- `rtm`: Use RTM transport. This configuration only takes effect when `advanced_features.enable_rtm` is `true`. \r\n- `datastream`: (Default) Use RTC's [`DataStream`](https://doc.shengwang.cn/api-ref/rtc/android/API/toc_datastream#callback_irtcengineeventhandler_onstreammessage) transmission."
                        enable_metrics:
                          type: boolean
                          default: false
                          description: >-
                            Whether to receive agent performance data:

                            - `true`: receive.

                            - `false`: (Default) Do not receive.


                            This configuration only takes effect when `advanced_features.enable_rtm` is `true`. You can
                            refer to [Listening to Agent Events](/doc/convoai/restful/user-guides/listen-agent-events)
                            to learn how to use client components to receive agent performance data, or refer to
                            [Receiving Webhook Events](/doc/convoai/restful/webhook/enable-ncs) to learn how to use
                            Webhook to receive agent performance data.
                        enable_error_message:
                          type: boolean
                          default: false
                          description: >-
                            Whether to receive agent error events:

                            - `true`: receive.

                            - `false`: (Default) Do not receive.


                            This configuration only takes effect when `advanced_features.enable_rtm` is `true`. You can
                            refer to [Listening to Agent Events](/doc/convoai/restful/user-guides/listen-agent-events)
                            to learn how to use client components to receive agent error events.
            examples:
              Defalut:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: "123"
                    remote_rtc_uids:
                      - "321"
                    enable_string_uid: false
                    idle_timeout: 120
                    llm:
                      url: https://api.minimax.chat/v2/text/chatcompletion_v2
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: You are a helpful chatbot.
                      greeting_message: Hello, how can I help you?
                      failure_message: Sorry, I cannot answer this question.
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
                        userName: Tomas
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: minimax
                      skip_patterns:
                        - 1
                      params:
                        group_id: xxxx
                        key: xxxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
              Using String UID:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: friday
                    remote_rtc_uids:
                      - "*"
                    enable_string_uid: true
                    idle_timeout: 120
                    llm:
                      url: https://api.minimax.chat/v1/text/chatcompletion_v2
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: You are a helpful chatbot.
                      greeting_message: Hello, how can I help you?
                      failure_message: Sorry, I cannot answer this question.
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_tokens: 1024
                        userName: Tomas
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: tencent
                      skip_patterns:
                        - 1
                        - 3
                      params:
                        group_id: xxx
                        key: xxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
              Full configuration example:
                value:
                  name: full_config_agent
                  properties:
                    channel: full_channel_name
                    token: full_token_value
                    agent_rtc_uid: "12345"
                    remote_rtc_uids:
                      - "67890"
                    enable_string_uid: false
                    idle_timeout: 180
                    advanced_features:
                      enable_rtm: true
                      enable_sal: true
                      enable_tools: true
                    asr:
                      language: zh-CN
                      vendor: microsoft
                      params:
                        key: your_microsoft_key
                        region: chinaeast2
                        language: zh-CN
                        phrase_list:
                          - agora
                          - fengming
                    tts:
                      vendor: microsoft
                      skip_patterns:
                        - 1
                        - 2
                      params:
                        key: your_microsoft_key
                        region: chinaeast2
                        voice_name: zh-CN-YunxiNeural
                        speed: 1
                        volume: 70
                        sample_rate: 24000
                    llm:
                      url: https://api.openai.com/v1/chat/completions
                      api_key: your_openai_api_key
                      system_messages:
                        - role: system
                          content: You are a professional AI assistant. User name is {{user_name}}.
                      greeting_message: Hello {{user_name}}, I am the AI assistant from {{company_name}}. How can I help you?
                      greeting_configs:
                        mode: single_every
                        delay_ms: 500
                      failure_message: Sorry, the system encountered a problem. Please try again later.
                      max_history: 64
                      input_modalities:
                        - text
                        - image
                      output_modalities:
                        - text
                      vendor: custom
                      headers:
                        X-Tenant-ID: tenant-123
                        X-Custom-Metadata: production
                      mcp_servers:
                        - name: weather-server
                          endpoint: https://mcp.example.com/weather
                          transport: streamable_http
                          headers:
                            Authorization: Bearer your_mcp_token
                          allowed_tools:
                            - get_current_weather
                            - get_weather_forecast
                          timeout_ms: 15000
                      params:
                        model: gpt-4o
                        temperature: 0.8
                        max_tokens: 2048
                        stream: true
                      template_variables:
                        user_name: Alex
                        company_name: Agora
                    avatar:
                      enable: true
                      vendor: sensetime
                      params:
                        agora_token: avatar_token
                        agora_uid: "99999"
                        appId: sensetime_app_id
                        app_key: sensetime_app_key
                        sceneList:
                          - digital_role:
                              face_feature_id: face_feature_id_001
                              position:
                                x: 0
                                "y": 0
                              url: https://example.com/avatar_model.zip
                    turn_detection:
                      mode: default
                      config:
                        speech_threshold: 0.5
                        start_of_speech:
                          mode: vad
                          vad_config:
                            interrupt_duration_ms: 160
                            speaking_interrupt_duration_ms: 320
                            prefix_padding_ms: 800
                        end_of_speech:
                          mode: semantic
                          semantic_config:
                            silence_duration_ms: 320
                            max_wait_ms: 3000
                            pause_state_enabled: true
                    interruption:
                      enable: true
                      mode: keywords
                      keywords_config:
                        trigger_keywords:
                          - hello
                          - are you there
                          - hello
                    sal:
                      sal_mode: locking
                      sample_urls:
                        speaker1: https://example.com/voiceprint1.pcm
                    labels:
                      campaign_id: spring_2025
                      customer_group: vip
                      region: east_china
                    rtc:
                      encryption_key: your_32_byte_encryption_key_here
                      encryption_salt: TsP4fLLyxxxxxxxxxroLA9oE=
                      encryption_mode: 8
                    filler_words:
                      enable: true
                      trigger:
                        mode: fixed_time
                        fixed_time_config:
                          response_wait_ms: 1500
                      content:
                        mode: static
                        static_config:
                          phrases:
                            - Please wait a moment.
                            - Okay.
                            - Got it.
                          selection_rule: shuffle
                    parameters:
                      silence_config:
                        timeout_ms: 15000
                        action: think
                        content: The user has not responded for a long time. Proactively ask whether they need to continue the service.
                      farewell_config:
                        graceful_enabled: true
                        graceful_timeout_seconds: 60
                      data_channel: rtm
                      enable_metrics: true
                      enable_error_message: true
              Connect to MCP:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: "123"
                    remote_rtc_uids:
                      - "321"
                    idle_timeout: 120
                    llm:
                      url: https://api.minimax.chat/v2/text/chatcompletion_v2
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: >-
                            You are a helpful assistant. User name is {{user_name}}, and their account ID is
                            {{account_id}}.
                      greeting_message: Hello {{user_name}}, how can I help you?
                      failure_message: Sorry {{user_name}}, I cannot answer this question. Please try again later.
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
                      template_variables:
                        user_name: Alex
                        account_id: ACC123456
                        silent_prompt: The user has not responded for a long time. Ask whether they need to continue the service.
                      mcp_servers:
                        - name: mcpserver
                          endpoint: https://registry.run.mcp.com.ai/mcp
                          transport: streamable_http
                          headers:
                            Authentication: Basic xxxx
                          allowed_tools:
                            - getV01Servers
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: minimax
                      skip_patterns:
                        - 1
                      params:
                        group_id: xxxx
                        key: xxxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
                    parameters:
                      silence_config:
                        timeout_ms: 10000
                        action: think
                        content: "{{silent_prompt}}"
      responses:
        "200":
          $ref: "#/components/responses/200"
      servers:
        - url: https://api.agora.io/cn/api/conversational-ai-agent
          description: ""
  /v2/projects/{appid}/agents/{agentId}/leave:
    post:
      summary: Stop a conversational AI agent
      description: Stops the specified conversational agent instance and causes the agent to exit the RTC channel.
      operationId: stop-agent
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/agentId"
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response body is empty.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
      servers:
        - url: https://api.agora.io/cn/api/conversational-ai-agent
          description: ""
  /v2/projects/{appid}/agents/{agentId}/update:
    post:
      summary: Update agent configuration
      description: Update some parameter configurations of the specified running agent.
      operationId: agent-update
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/agentId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  token: 007eJxTYxxxQ4vkFB
              properties:
                properties:
                  type: object
                  properties:
                    token:
                      type: string
                      description: >-
                        Dynamic key used for authentication. If your project has App Certificates enabled, be sure to
                        pass your project's dynamic key in this field. For details, see [Using Token
                        Authentication](https://doc.shengwang.cn/doc/rtc/android/basic-features/token-authentication).
                    llm:
                      type: object
                      description: Large language model (LLM) setup.
                      properties:
                        system_messages:
                          type: array
                          description: >-
                            A set of predefined messages that are prepended every time LLM is called to control the LLM
                            output. It can be role settings, prompt words, answer samples, etc. Requires compatibility
                            with OpenAI protocol.
                          items:
                            type: object
                            additionalProperties: {}
                        params:
                          type: object
                          description: "LLM additional information transmitted in the message body, such as the model used, the maximum number of Tokens, etc. Different LLM vendors support different configurations. Please refer to the corresponding documents to fill in the configuration as needed.\r\n> After this field is updated, it will overwrite the configuration when the agent was created. When updating, make sure to pass in the complete `params` field."
                          additionalProperties: {}
            examples:
              Example 1:
                value:
                  properties:
                    token: 007eJxTYxxxxxxxxxxIaHMLAAAA0ex66
                    llm:
                      system_messages:
                        - role: system
                          content: You are a helpful assistant. xxx
                        - role: system
                          content: "Previously, user has talked about their favorite hobbies with some key topics: xxx"
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
        description: ""
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response body contains the results of this request.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent id: 1NT29XOXFT4Jxxxx410TXRCFG10HI00
                    create ts: 173836896
                    state: RUNNING
                properties:
                  agent_id:
                    type: string
                    description: Agent unique identifier.
                  create_ts:
                    type: integer
                    description: Agent creation timestamp.
                  state:
                    type: string
                    description: "Agent running status:\r\n- `IDLE` (0): Agent in idle state.\r\n- `STARTING` (1): The agent being started.\r\n- `RUNNING` (2): The running agent.\r\n- `STOPPING` (3): Stopping agent.\r\n- `STOPPED` (4): Agent that has finished exiting.\r\n- `RECOVERING` (5): The recovering agent.\r\n- `FAILED` (6): Agent that failed to execute."
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XOXFT4Jxxxx410TXRCFG10HI00
                    create_ts: 173836896
                    state: RUNNING
      servers:
        - url: https://api.agora.io/cn/api/conversational-ai-agent
          description: ""
  /v2/projects/{appid}/agents/{agentId}:
    get:
      summary: Query agent status
      description: Query the current running status of the specified agent instance.
      operationId: query-agent-status
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/agentId"
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response body contains the results of this request.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    message: "agent exits with reason: xxxx"
                    start_ts: 1735035893
                    stop_ts: 1735035900
                    status: FAILED
                    name: support_agent_001
                    agent_id: 1NT29X1xxxxZNU80BEIN56XF
                properties:
                  message:
                    type: string
                    description: Request information.
                  start_ts:
                    type: integer
                    description: Agent creation timestamp.
                  stop_ts:
                    type: integer
                    description: Agent stop timestamp.
                  status:
                    type: string
                    description: "Agent running status:\r\n- `IDLE` (0): Agent in idle state.\r\n- `STARTING` (1): The agent being started.\r\n- `RUNNING` (2): The running agent.\r\n- `STOPPING` (3): Stopping agent.\r\n- `STOPPED` (4): Agent that has finished exiting.\r\n- `RECOVERING` (5): The recovering agent.\r\n- `FAILED` (6): Agent that failed to execute."
                  name:
                    type: string
                    description: >-
                      The name of the agent, which is the `name` passed in when calling the created interface. Unique
                      within the same channel.
                  agent_id:
                    type: string
                    description: The unique identifier of the agent.
              examples:
                Example 1:
                  value:
                    message: "agent exits with reason: xxxx"
                    start_ts: 1735035893
                    stop_ts: 1735035900
                    status: FAILED
                    name: support_agent_001
                    agent_id: 1NT29X11GQSxxxxxNU80BEIN56XF
      servers:
        - url: https://api.agora.io/cn/api/conversational-ai-agent
          description: ""
  /v2/projects/{appid}/agents:
    get:
      summary: Retrieve a list of agents
      operationId: get-agent-list
      description: |-
        Retrieve a list of agents that match specified criteria.
        > This interface only supports querying the list of agents created within the last 7 days.
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/appid"
        - name: channel
          in: query
          description: Query the list of agents under the specified channel name.
          schema:
            type: string
            examples:
              - TEST
        - name: from_time
          in: query
          description: Query list start timestamp (s), default is 1 day ago.
          schema:
            type: integer
            examples:
              - 1733013296
        - name: to_time
          in: query
          description: Query list end timestamp (s), default is the current time.
          schema:
            type: integer
            examples:
              - 1734016896
        - name: state
          in: query
          description: >-
            Specify the status of the agent to be queried. A single query does not support specifying multiple states:
            <li>`IDLE` (0): Agent in idle state. </li><li>`STARTING` (1): The agent being started. </li><li>`RUNNING`
            (2): Running agent. </li><li>`STOPPING` (3): Stopping agent. </li><li>`STOPPED` (4): Agent that has
            completed exit. </li><li>`RECOVERING` (5): The recovering agent. </li><li>`FAILED` (6): Agent that failed to
            execute. </li>
          schema:
            type: string
            default: "2"
            examples:
              - "1"
        - name: limit
          in: query
          description: Paginate to obtain the maximum number of items returned at a time.
          schema:
            type: integer
            default: 20
            examples:
              - 20
        - name: cursor
          in: query
          description: The paging cursor is the `agent_id` of the starting position of paging.
          schema:
            type: string
            examples:
              - agent_id
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response body contains the results of this request.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: The number of agents returned this time.
                      list:
                        type: array
                        description: List of agents that meet the conditions.
                        items:
                          type: object
                          properties:
                            start_ts:
                              type: integer
                              description: Agent creation timestamp.
                            status:
                              type: string
                              description: "Agent running status:\r\n- `IDLE` (0): Agent in idle state.\r\n- `STARTING` (1): The agent being started.\r\n- `RUNNING` (2): The running agent.\r\n- `STOPPING` (3): Stopping agent.\r\n- `STOPPED` (4): Agent that has finished exiting.\r\n- `RECOVERING` (5): The recovering agent.\r\n- `FAILED` (6): Agent that failed to execute."
                            agent_id:
                              type: string
                              description: The unique identifier of the agent.
                  meta:
                    type: object
                    description: Returns the meta information of the list.
                    properties:
                      cursor:
                        type: string
                        description: Pagination cursor.
                      total:
                        type: integer
                        description: The total number of agents that meet the query conditions.
                  status:
                    type: string
                    description: Request status.
              examples:
                Example 1:
                  value:
                    data:
                      count: 1
                      list:
                        - start_ts: 1735035893
                          status: RUNNING
                          agent_id: 1NT29X11GQSxxxxx80BEIN56XF
                    meta:
                      cursor: ""
                      total: 1
                    status: ok
      servers:
        - url: https://api.agora.io/cn/api/conversational-ai-agent
          description: ""
  /v2/projects/{appid}/agents/{agentId}/speak:
    parameters:
      - $ref: "#/components/parameters/Authorization"
      - $ref: "#/components/parameters/appid"
      - $ref: "#/components/parameters/agentId"
    post:
      summary: Broadcast a message using TTS
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response packet body is agent information, and the agent starts broadcasting the specified content.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                    channel: test_channel
                    start_ts: "178444582"
                properties:
                  agent_id:
                    $ref: "#/components/schemas/agent_id"
                  channel:
                    $ref: "#/components/schemas/channel"
                  start_ts:
                    $ref: "#/components/schemas/start_ts"
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
      operationId: agent-speak
      description: "Let the specified agent broadcast a custom message.\r\n\r\nDuring the conversation with the agent, calling this interface allows the agent to use the TTS module to immediately broadcast a custom message. After the agent receives the request, the broadcast behavior will interrupt the current speaking and thinking process."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: The text content to be broadcast must not exceed 512 bytes.
                priority:
                  type: string
                  description: >-
                    The priority of the reporting behavior can be set to the following values:

                    - `"INTERRUPT"`: (Default) High priority, interrupt and broadcast. The agent will terminate the
                    current interaction and directly broadcast the message.

                    - `"APPEND"`: Medium priority, additional broadcast. The agent will announce the message after the
                    current interaction ends.

                    - `"IGNORE"`: low priority, broadcast when idle. If the agent is interacting at this time, the agent
                    will directly ignore and discard the message to be broadcast; the message will be broadcast only
                    when the agent is not interacting.
                interruptable:
                  type: boolean
                  description: "Whether to allow the user to interrupt the agent's broadcast by speaking:\r\n- `true`: (default) allowed.\r\n- `false`: not allowed."
                  default: true
            examples:
              Example 1:
                value:
                  text: Sorry, the conversation content does not comply with the policy.
                  priority: INTERRUPT
                  interruptable: false
  /v2/projects/{appid}/agents/{agentId}/interrupt:
    parameters:
      - $ref: "#/components/parameters/Authorization"
      - $ref: "#/components/parameters/appid"
      - $ref: "#/components/parameters/agentId"
    post:
      summary: Interrupt the agent
      responses:
        default:
          description: "- If the returned status code is `200`, the request is successful. The response packet body is agent information, and the agent starts broadcasting the specified content.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    $ref: "#/components/schemas/agent_id"
                  channel:
                    $ref: "#/components/schemas/channel"
                  start_ts:
                    $ref: "#/components/schemas/start_ts"
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
      operationId: agent-interrupt
      description: Interrupt the specified agent from speaking or thinking.
      requestBody:
        description: The request body is empty.
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              Example 1:
                value: {}
  /v2/projects/{appid}/agents/{agentId}/think:
    parameters:
      - $ref: "#/components/parameters/Authorization"
      - $ref: "#/components/parameters/appid"
      - $ref: "#/components/parameters/agentId"
    post:
      summary: Send a custom instruction
      operationId: agent-think
      description: >-
        Send a custom text command to the specified agent.


        The interface will inject incoming text as user input into the current conversation link, and the conversational
        AI engine will continue to reason and respond according to the processing logic of ordinary user input. You can
        use this interface to implement scenarios such as implicit command injection, client-side event triggering, and
        voice and text collaboration.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: >-
                    Customize the text content of the command. This will be injected into the current conversation link
                    as user input.
                on_listening_action:
                  type: string
                  description: >-
                    The processing action when the agent is in the listening state, supports the following values:

                    - `"inject"`: (Default) Custom text command is injected into the current round without interrupting
                    the current round.

                    - `"ignore"`: Ignore this request.
                on_thinking_action:
                  type: string
                  description: |-
                    The processing action when the agent is in the thinking state supports the following values:
                    - `"interrupt"`: (Default) Interrupt the current state and initiate a new round of dialogue.
                    - `"ignore"`: Ignore this request.
                on_speaking_action:
                  type: string
                  description: |-
                    The processing action when the agent is in the speaking state, supports the following values:
                    - `"interrupt"`: Interrupt the current state and initiate a new round of dialogue.
                    - `"ignore"`: (Default) Ignore this request.
                interruptable:
                  type: boolean
                  description: |-
                    Whether to allow users to interrupt custom instructions by speaking:
                    - `true`: (default) allowed.
                    - `false`: not allowed.
                  default: true
                metadata:
                  type: object
                  description: Custom metadata. You can pass in additional information such as business ID through this field.
                  additionalProperties: {}
            examples:
              Example 1:
                value:
                  text: The user just clicked the purchase button.
                  on_listening_action: inject
                  on_thinking_action: interrupt
                  on_speaking_action: ignore
                  interruptable: true
                  metadata:
                    publisher: user123
                    model: deepseek-r1
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response package body is agent information.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    $ref: "#/components/schemas/agent_id"
                  channel:
                    $ref: "#/components/schemas/channel"
                  start_ts:
                    $ref: "#/components/schemas/start_ts"
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
  /v2/projects/{appid}/agents/{agentId}/history:
    parameters:
      - $ref: "#/components/parameters/Authorization"
      - $ref: "#/components/parameters/appid"
      - $ref: "#/components/parameters/agentId"
    get:
      summary: Retrieve agent history
      operationId: get-history
      description: "Capture the short-term memory of the conversation between the user and the agent.\r\nYou can call this API during the running of the agent (`RUNNING`) to obtain the short-term memory information stored until the creation of the agent, including:\r\n- timestamps when the agent was created and stopped\r\n- User and agent conversation messages"
      responses:
        default:
          description: "- If the returned status code is `200`, the request is successful. The response body contains the results of this request.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent_id: xxxx
                    start_ts: 123
                    end_ts: 144
                    status: STOPPED
                    contents:
                      - role: user
                        content: hello.
                      - role: assistant
                        content: hi, how can I help you?
                properties:
                  agent_id:
                    type: string
                    description: The unique identifier of the agent.
                  start_ts:
                    type: integer
                    description: Agent creation timestamp.
                  status:
                    type: string
                    description: >-
                      The running status of the agent. Only the query status of `RUNNING` (2), that is, the running
                      agent, is supported.
                  contents:
                    type: array
                    description: Agent short-term memory.
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                          description: "Message sender. Possible values are:\r\n- `user`: user.\r\n- `assistant`: agent."
                        content:
                          type: string
                          description: Message content.
              examples:
                Example 1:
                  value:
                    agent_id: xxxx
                    start_ts: 123
                    status: RUNNING
                    contents:
                      - role: user
                        content: hello.
                      - role: assistant
                        content: hi, how can I help you?
  /v2/projects/{appid}/agents/{agentId}/turns:
    get:
      summary: Query conversation turn information
      description: >-
        After the session with the agent ends, call this interface to query the dialogue round information of this
        session, including the start information, end information, and performance indicators of each dialogue round.

        > Only supports querying sessions within 7 days.
      operationId: get-turns
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/appid"
        - $ref: "#/components/parameters/agentId"
      responses:
        "200":
          description: "- If the returned status code is `200`, the request is successful. The response body contains the results of this request.\r\n- If the returned status code is not `200`, it means the request failed. The response package body contains the error category and description. You can refer to [Response Status Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes."
          content:
            application/json:
              schema:
                type: object
                properties:
                  turns:
                    type: array
                    description: List of dialogue turns.
                    items:
                      type: object
                      properties:
                        agent_id:
                          type: string
                          description: The unique identifier of the agent.
                        channel:
                          type: string
                          description: Conversation channel name.
                        turn_id:
                          type: integer
                          description: Conversation turn ID, starting from 1 and increasing.
                        start:
                          type: object
                          description: Round start message.
                          properties:
                            start_at:
                              type: integer
                              description: Start timestamp, UTC time in milliseconds.
                            type:
                              type: string
                              description: >-
                                Start type:

                                - `voice_input`: Started by user voice input.

                                - `greeting`: starts when the agent broadcasts a greeting.

                                - `silence_timeout`: Started due to agent silence timeout.

                                - `api_speak`: Started by calling the [Report custom
                                information](/doc/convoai/restful/convoai/operations/agent-speak) interface to broadcast
                                information.
                            metadata:
                              $ref: "#/components/schemas/sos_metadata"
                              description: Start appending metadata, including different fields depending on the `type` field.
                        end:
                          type: object
                          description: Round end message.
                          properties:
                            end_at:
                              type: integer
                              description: End timestamp, UTC time in milliseconds.
                            type:
                              type: string
                              description: |-
                                Round end type:
                                - `ok`: End normally.
                                - `interrupted`: interrupted.
                                - `ignored`: ignored.
                                - `error`: execution error.
                            metadata:
                              $ref: "#/components/schemas/eos_metadata"
                              description: End additional metadata, containing different fields depending on the `type` field.
                        metrics:
                          type: object
                          description: Dialogue turn performance metric details.
                          properties:
                            e2e_latency_ms:
                              type: integer
                              description: Total end-to-end latency (ms).
                            segmented_latency_ms:
                              type: array
                              description: List of segment latency metric details.
                              items:
                                type: object
                                properties:
                                  name:
                                    $ref: "#/components/schemas/metrics_modality"
                                    description: >-
                                      Delay module name. Different delay modules are returned depending on the LLM input
                                      mode set when [Creating Conversational
                                      Agent](/doc/convoai/restful/convoai/operations/start-agent).
                                  latency:
                                    type: integer
                                    description: Delay time (ms).
              examples:
                Example 1:
                  value:
                    turns:
                      - agent_id: A42Axxxxxxxxx37MT56J
                        channel: test_channel
                        turn_id: 1
                        start:
                          start_at: 1774579820147
                          type: greeting
                          metadata:
                            greeting_nth: 1
                        end:
                          end_at: 1774579822412
                          type: interrupted
                          metadata:
                            caused_by: api_interrupt
                            transport: rtm
                        metrics:
                          e2e_latency_ms: 337
                          segmented_latency_ms:
                            - name: tts_ttfb
                              latency: 337
      servers:
        - url: https://api.agora.io/cn/api/conversational-ai-agent
          description: ""
components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: >-
        When sending an HTTP request, you need to choose one of the following authentication methods: <ol><li>**
        (Recommended) Use RTC Token**: Fill in the `Authorization` field with the RTC Token used by the Agora
        conversational AI engine project. You can choose the following methods to obtain Token: <ul><li>In the test
        environment, you can generate a temporary Token (valid for 24 hours) for your project from [Shengwang
        Console](https://console.shengwang.cn/). </li><li>In a production environment, you can refer to [Using Token
        Authentication](https://doc.shengwang.cn/doc/rtc/android/basic-features/token-authentication) to deploy the
        Token server to generate Token. </li></ul>Example of passing parameters: `Authorization: agora
        token="007abcxxxxxxx123"`</li><li>**Use Basic Auth**: Refer to [Implementing HTTP security
        authentication](https://doc.shengwang.cn/doc/convoai/restful/user-guides/http-basic-auth#Use-http-basic
        authentication) to generate the Base64-encoded `Authorization` field. <br/>Parameter passing example:
        `Authorization: Basic NDI1OTQ3N2I4MzYy...YwZjA=`</li></ol>
      required: true
      schema:
        type: string
        example: agora token=007abcxxxxxxxxxxxxxx123
    appid:
      name: appid
      in: path
      description: >-
        [App ID](http://doc.shengwang.cn/doc/convoai/restful/get-started/enable-service#%E8%8E%B7%E5%8F%96-app-id) used
        by your project.
      required: true
      schema:
        type: string
    agentId:
      name: agentId
      in: path
      description: >-
        Agent instance ID, which is the unique identifier of the agent. After calling [POST to create a conversational
        agent](https://doc.shengwang.cn/doc/convoai/restful/convoai/operations/start-agent) successfully, it will be
        obtained in the response package body.
      required: true
      schema:
        type: string
    phone_number:
      name: phone_number
      in: path
      description: "A phone number in E.164 format (for example: +11234567890) as a unique identifier."
      required: true
      schema:
        type: string
  responses:
    "200":
      description: >-
        - If the returned status code is `200`, the request is successful. The response body contains the results of
        this request.

        - If the returned status code is not `200`, it means the request failed. The response package body contains the
        error category and description. You can refer to [Response Status
        Code](https://doc.shengwang.cn/doc/convoai/restful/api/response-code) to learn about possible causes.
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                state: RUNNING
            properties:
              agent_id:
                $ref: "#/components/schemas/agent_id"
                description: The unique identifier of the agent.
              create_ts:
                $ref: "#/components/schemas/start_ts"
                description: Agent creation timestamp.
              status:
                type: string
                description: "Agent running status:\r\n- `IDLE` (0): Agent in idle state.\r\n- `STARTING` (1): The agent being started.\r\n- `RUNNING` (2): The running agent.\r\n- `STOPPING` (3): Stopping agent.\r\n- `STOPPED` (4): Agent that has finished exiting.\r\n- `RECOVERING` (5): The recovering agent.\r\n- `FAILED` (6): Agent that failed to execute."
          examples:
            Example 1:
              value:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                status: RUNNING
    phone_number_error:
      description: >-
        If the returned HTTP status code is not a success status code, it means that the request failed. The response
        body will contain a JSON object containing the type and description of the error.


        **Possible status codes and reasons:**


        - 401 `unauthorized`: Authentication failed, please check your credentials.

        - 404 `not_found`: The specified phone number was not found.

        - 409 `phone_number_exists`: The phone number already exists and repeated import is not allowed.

        - 409 `conflict`: Concurrent modification conflicts or the resource is locked.

        - 422 `unprocessable_content`: The request format is incorrect or parameter verification failed.

        - 500 `internal_server_error`: Server internal error.
      content:
        application/json:
          schema:
            type: object
            properties:
              error_type:
                type: string
                description: Error type.
              description:
                type: string
                description: Error description.
          examples:
            Example 1:
              value:
                error_type: unauthorized
                description: Authentication failed, please check your credentials.
    outbound_call_error:
      description: >-
        If the returned HTTP status code is not 200, it means the request failed. The response body will contain a JSON
        object containing the type and description of the error.


        **Possible status codes and reasons:**


        - 400 `invalid_phone_format`: The phone number format is invalid (not E.164 format).

        - 401 `unauthorized`: Authentication failed, please check your credentials.

        - 500 `internal_server_error`: Server internal error.
      content:
        application/json:
          schema:
            type: object
            properties:
              error_type:
                type: string
                description: Error type.
              description:
                type: string
[...]
