openapi: 3.1.0
info:
  version: ''
  title: 对话式智能体 API 概述
  description: |-
    本文介绍声网对话式智能体服务 RESTful API 的基本信息。

    ## 数据格式

    所有 HTTP 请求的 `Content-Type` 请求 Header 均为 `application/json`。所有请求和响应内容的格式均为 JSON。
servers:
  - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
    description: ''
paths:
  '/v2/projects/{appid}/join':
    post:
      # tags:
      #   - 智能体管理
      summary: 创建对话式智能体
      description: 创建一个对话式智能体 (Conversational AI agent) 实例，并加入 RTC 频道。
      operationId: start-agent
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/appid'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - properties
              properties:
                name:
                  type: string
                  description: 智能体唯一标识，相同标识不可重复创建。
                properties:
                  type: object
                  description: 智能体详细配置。
                  required:
                    - channel
                    - agent_rtc_uid
                    - remote_rtc_uids
                    - tts
                    - llm
                  properties:
                    channel:
                      type: string
                      description: 智能体加入的 RTC 频道名。
                    token:
                      type: string
                      description: '加入 RTC 频道使用的 Token，即用于鉴权的动态密钥。如果你的项目已启用 App 证书，则务必在该字段中传入你项目的动态密钥。详见[使用 Token 鉴权](/zh-CN/realtime-media/rtc/basic-features/token-authentication)。'
                    agent_rtc_uid:
                      type: string
                      description: |-
                        智能体在 RTC 频道内的用户 ID。
                        > 同一 `channel` 内的用户 ID 不可重复，否则智能体加入频道会失败。
                    remote_rtc_uids:
                      type: array
                      description: '智能体在 RTC 频道中订阅的用户 ID 列表，只有订阅的用户才能与智能体互动。目前只支持订阅一个用户 ID。 '
                      items:
                        type: string
                    # agent_rtm_uid:
                    #   type: string
                    #   description: |-
                    #     > 该字段已废弃，请参考 [FAQ](https://doc.shengwang.cn/faq/integration-issues/generate-token) 生成同时具备 RTC 和 RTM 权限的 Token，之后改用 `agent_rtc_uid` 字段。

                    #     智能体在 RTM 频道内的用户 ID。仅在 `advanced_features.enable_rtm` 为 `true` 时生效。
                    enable_string_uid:
                      type: boolean
                      default: false
                      description: |
                        是否启用 String UID：
                        - `true`：智能体和订阅用户 ID 均使用 String UID。
                        - `false`：（默认）智能体和订阅用户 ID 均使用 Int UID。
                        > 同一频道内，Int 型和 String 型的用户 ID 不可混用。更多使用 String UID 的相关信息请参考[如何使用 String 型用户 ID](https://doc.shengwang.cn/faq/integration-issues/string-uid)。
                    idle_timeout:
                      type: integer
                      minimum: 0
                      maximum: 259200
                      description: |-
                        RTC 频道的最大空闲时间，单位为秒。系统检测到 `remote_rtc_uids` 中指定的用户已全部离开频道后，会开始计算空闲时长；空闲时长超过该值时，智能体会自动停止并退出频道。
                        - 取值范围为 `[0, 259200]`，默认值为 `30`。其中 `259200` 秒即 72 小时，超过该值会报错。
                        - 设置为 `0` 仅表示不因“频道空闲超时”退出。
                        - 无论 `idle_timeout` 取值为何，单次任务的最长运行时间均为 72 小时；达到 72 小时后，智能体会自动退出。
                      default: 30
                    # silence_timeout:
                    #   type: integer
                    #   default: 0
                    #   description: |-
                    #     > 该字段已废弃，请改用 `parameters.silence_config`。

                    #     智能体最大静默时间 (s)，取值范围为 [0,60]。智能体创建成功，且用户加入频道后，智能体不处于倾听、思考或说话状态的持续时间称为智能体静默时间。静默时间达到设定值后，智能体将播报 `llm.silence_message` 中填写的静默提示消息，之后重新计算静默时间。
                    #     - 设置为 `0`（默认值）：表示不启用该功能。
                    #     - 设置为 (0,60] 时，必须同时设置 `llm.silence_message` 才能正常播报静默提示消息，否则设置无效。
                    advanced_features:
                      type: object
                      description: 高级功能配置。
                      properties:
                        # enable_aivad:
                        #   type: boolean
                        #   default: false
                        #   description: |-
                        #     > 该字段已废弃，请改用 `turn_detection.config.end_of_speech.mode` 为 `semantic` 实现。
                        enable_rtm:
                          type: boolean
                          description: |-
                            是否启用实时消息 RTM 服务。启用后智能体会自动登录 RTM 并订阅 `channel` 中指定的频道，可结合 RTM 提供的能力实现一些进阶功能，例如[传递自定义信息](/zh-CN/ai/user-guides/custom-data)。

                            > 启用 RTM 服务前需要确保 Token 同时具备 RTC 和 RTM 权限。智能体加入 RTM 频道会复用 `token` 字段配置的 Token。你可以参考 [FAQ](https://doc.shengwang.cn/faq/integration-issues/generate-token) 了解如何生成同时具备 RTC 和 RTM 权限的 Token。
                          default: false
                        enable_sal:
                          type: boolean
                          description: |-
                            是否启用选择性注意力锁定（Selective Attention Locking, SAL）功能。启用后，在 `sal` 字段中完成相关设置，智能体即可识别用户的声纹特征，有效区分不同说话者，屏蔽 95% 的环境人声、噪声。
                            > 该功能目前处于 Beta 阶段。
                          default: false
                        enable_tools:
                          type: boolean
                          description: |-
                            是否启用工具调用功能。启用后，智能体可以调用 MCP 服务器提供的工具，实现更复杂的业务逻辑。
                          default: false
                    asr:
                      type: object
                      description: 自动语音识别 (ASR) 配置。
                      properties:
                        language:
                          type: string
                          description: "用户与智能体互动时使用的语言：\r\n- `zh-CN`：中文（支持中英文混合）\r\n- `en-US`：英语"
                          default: zh-CN
                        vendor:
                          type: string
                          description: |-
                            ASR 服务供应商，可选以下值：
                            - `fengming`：（默认）声网凤鸣 ASR。
                            - `tencent`：腾讯 ASR。
                            - `microsoft`：微软 ASR。
                            - `xfyun`：(Beta) 讯飞云传统语音转写识别服务。
                            - `xfyun_bigmodel`：(Beta) 讯飞云语音识别大模型服务。
                            - `xfyun_dialect`：(Beta) 讯飞云方言自由说识别服务。
                        params:
                          $ref: '#/components/schemas/asr_params'
                          description: |
                            指定 ASR 供应商的配置参数。
                            > 你可以参考调用示例中不同 ASR 供应商的参数填写样例。
                    tts:
                      type: object
                      description: 文本转语音 (TTS) 模块配置。
                      required:
                        - vendor
                        - params
                      properties:
                        vendor:
                          type: string
                          description: |
                            TTS 供应商，支持传入以下值：
                            - `minimax`：Minimax TTS
                            - `tencent`：腾讯 TTS
                            - `bytedance`：火山引擎 TTS
                            - `microsoft`：微软 Azure TTS
                            - `cosyvoice`：(Beta) 阿里云 CosyVoice TTS
                            - `bytedance_duplex`：火山引擎双向流式 TTS
                            - `stepfun`：(Beta) 阶跃星辰 TTS
                        skip_patterns:
                          type: array
                          description: |
                            过滤模式配置，用于控制是否跳过 LLM 返回文本中括号内的内容，避免智能体播报不必要的结构性提示信息如语气、动作描述等。默认值为 `[]`，即不过滤任何内容。可选值如下，传入即启用该功能：
                            
                            - `1`：跳过中文圆括号（ ）中的内容
                            - `2`：跳过中文方括号【 】中的内容
                            - `3`：跳过英文圆括号 ( ) 中的内容
                            - `4`：跳过英文方括号 [ ] 中的内容
                            - `5`：跳过英文花括号 \{ } 中的内容

                            > - 当输入文本中存在嵌套括号，且多种括号类型都被配置为跳过时，智能体只处理最外层括号，即系统将从文本的起始位置开始匹配，一旦找到第一个符合跳过规则的最外层括号对，该括号对及其包含的所有内容（包括任何嵌套的其他类型括号）都将被整体跳过。
                            > - 无论是否打开[实时字幕](/zh-CN/ai/user-guides/realtime-sub)，智能体短期记忆都会包含被过滤的内容，即 LLM 生成的完整文本。
                            > - 开启[实时字幕](/zh-CN/ai/user-guides/realtime-sub)时，实时字幕在 TTS 播报时不会包含被过滤的内容，等这句话播报完毕后，字幕会把这些内容添加回来。
                            > - 火山引擎双向流式 TTS 暂不支持该功能。
                          items:
                            type: integer
                          default: []
                        params:
                          $ref: '#/components/schemas/tts_params'
                          description: |
                            指定 TTS 供应商的配置参数。
                            > 你可以参考调用示例中不同 TTS 供应商的参数填写样例。
                    llm:
                      type: object
                      description: 大语言模型 (LLM) 配置。
                      required:
                        - url
                      properties:
                        url:
                          type: string
                          description: LLM 回调地址，要求与 OpenAI 协议兼容。
                        api_key:
                          type: string
                          description: LLM 鉴权 API key。默认为空，生产环境中务必启用 API key。
                        system_messages:
                          type: array
                          description: 一组每次调用 LLM 时被附加在最前的预定义信息，用于控制 LLM 输出。可以是角色设定、提示词和回答样例等。要求与 OpenAI 协议兼容。
                          items:
                            type: object
                            additionalProperties: {}
                        max_history:
                          $ref: '#/components/schemas/max_history'
                        input_modalities:
                          type: array
                          description: |
                            LLM 的输入模态，支持：
                            - `["text"]`：（默认）仅文字。
                            - `["text", "image"]`：文字加图片。推荐配置，要求所选 LLM 支持视觉模态输入。
                          items:
                            type: string
                        output_modalities:
                          type: array
                          
                          description: "LLM 的输出模态，支持：\r\n- `[\"text\"]`：（默认）仅文字。输出的文字会经过 TTS 模块转换成语音后发布至 RTC 频道。\r\n- `[\"audio\"]`：仅语音。语音会直接发布至 RTC 频道。\r\n- `[\"text\", \"audio\"]`：文字加语音。你可以自行编写逻辑，按需处理 LLM 的输出。"
                          items:
                            type: string
                        greeting_message:
                          type: string
                          description: |-
                            智能体问候语文本。如果填写，则在频道内没有订阅用户列表 (`remote_rtc_uids`) 中的用户时，智能体会自动向首位加入频道的订阅用户发送问候语。

                            - 你可以单独配置该字段，走原有实时 TTS 开场白路径。
                            - 也可以在配置 `greeting_audio_url` 时，将该字段作为录音开场白的兜底文本。
                            - 当 `greeting_configs.interruptable = true` 且录音开场白被用户打断时，系统会结合 `greeting_message` 估算已播报的文本片段，并将其注入短期记忆以保持对话上下文连贯。
                        
                        greeting_audio_url:
                          type: string
                          maxLength: 2048
                          format: uri
                          description: |-
                            智能体问候语录音文件的 URL。配置后，系统会优先下载并播放该录音作为开场白。

                            支持以下格式的音频文件：
                            - `mp3`
                            - `wav`
                            - `pcm`

                            使用说明如下：
                            - 仅支持 `http://` 或 `https://` 开头的 URL；空字符串、非 URL 字符串或长度超过 `2048` 字节时，请求会返回 `400` 错误。
                            - 对于 `pcm` 文件，需要额外通过 `greeting_configs.audio_pcm_sample_rate` 指定采样率。
                            - 系统会将导入的音频统一转换为与 `tts.params.sample_rate` 一致的采样率后再进行播报。
                            >- 配置 `greeting_audio_url` 时，必须同时配置 `greeting_message`用于异常回退；否则请求会返回 `400` 错误。
                            >- 当 `greeting_audio_url` 对应的录音下载失败、解码失败或格式不支持时，系统会自动使用 `greeting_message` 进行 TTS 合成并继续播报。
                        greeting_configs:
                          type: object
                          description: |
                            智能体问候语播报配置。
                          properties:
                            mode:
                              type: string
                              description: |
                                智能体问候语播报模式，支持以下选项：
                                - `"single_every"`：（默认）每次有用户加入空频道时，智能体都播报一次问候语。
                                - `"single_first"`：仅首位用户加入空频道时，智能体播报一次问候语。
                            delay_ms:
                              type: integer
                              minimum: 0
                              maximum: 5000
                              default: 0
                              description: 智能体问候语播报延迟时间 (ms)，取值范围为 [0, 5000]。配置后，智能体问候语会在用户加入频道后等待指定时间再播报。
                            interruptable:
                              type: boolean
                              description: |
                                智能体问候语是否可被打断：
                                - `true`：（默认）可打断，遵循全局打断配置 (`interruption`)。
                                - `false`：不可打断，问候语会完整播放；播放期间识别到的用户 ASR 文本会被静默接收，待问候语结束后拼接为单轮 user 消息，再统一送入大模型进行一次推理和回复。
                            audio_download_timeout_ms:
                              type: integer
                              minimum: 200
                              maximum: 10000
                              default: 1000
                              description: |-
                                录音开场白下载超时时间，单位为毫秒。仅在配置 `greeting_audio_url` 时生效。
                                - 取值范围为 `[200, 10000]`。
                                - `null` 和字段缺失均视为未配置，此时使用默认值 `1000`。
                                - 超时后系统会回退到 `greeting_message` 的 TTS 路径。
                            audio_pcm_sample_rate:
                              type: integer
                              default: 16000
                              description: |-
                                录音开场白为 PCM 文件时的采样率，单位为 Hz。仅在配置 `greeting_audio_url` 且录音格式为 PCM 时生效。
                                - 默认值为 `16000`。
                                - `mp3` 和 `wav` 文件无需配置该字段。
                        template_variables:
                          type: object
                          description: |-
                            动态参数配置，用于在智能体的 `system_messages`、`greeting_message`、`failure_message` 和 `parameters.silence_config.content` 文本中插入变量。键值对形式，键为变量名，值为变量值。
                            
                            **使用方式**:在 Prompt 文本中使用 `{{variable_name}}` 格式引用变量，系统会自动将其替换为 `template_variables` 中定义的对应值。
                            > 变量名和变量值不支持引用其他变量。例如自定义变量 `"farewell": "期待下次再见，{{name}}"`，其中的 `{{name}}` 不会被解析。
                          additionalProperties:
                            type: string
                        failure_message:
                          type: string
                          description: 智能体处理失败提示语。如果填写，则在 LLM 调用错误时会通过 TTS 模块返回。
                        # silence_message:
                        #   type: string
                          
                        #   description: |-
                        #     > 该字段已废弃，请改用 `parameters.silence_config`。

                        #     静默提示消息。默认为空字符串。智能体创建成功，且用户加入频道后，智能体不处于倾听、思考或说话状态的持续时间称为智能体静默时间。静默时间达到 `silence_timeout` 中设定的值后，智能体将播报静默提示消息。`silence_timeout` 设置为 `0` 时，该参数无效。
                        # style:
                        #   type: string
                        #   description: "LLM 协议，支持以下值：\r\n- `\"openai\"`（默认）\r\n- `\"dify\"`\r\n- `\"gemini\"`\r\n- `\"anthropic\"`"
                        vendor:
                          type: string
                          
                          description: |-
                            LLM 供应商，支持以下两种设置：
                            - 商业大模型供应商，支持以下值：
                              - `aliyun`：阿里云
                              - `bytedance`：字节跳动
                              - `deepseek`：深度求索
                              - `tencent`：腾讯

                              设置后，可提高兼容性，减少因携带 LLM 不支持的信息而导致请求失败的情况。
                            - 自定义 LLM，即设为 `"custom"`。设置后智能体调用 custom LLM 时，除了 `role` 和 `content` 外，将额外携带以下信息：
                              - `turn_id`：唯一的对话轮次标识符。`turn_id` 从 0 开始递增，用户和智能体的一轮对话对应一个 `turn_id`。
                              - `timestamp`：请求时间戳，精度为毫秒。
                        mcp_servers:
                          type: array
                          description: MCP (Model Context Protocol) 服务器配置列表。通过配置 MCP 服务器，智能体可以调用外部服务提供的工具，实现更复杂的业务逻辑。
                          items:
                            type: object
                            required:
                              - name
                              - endpoint
                            properties:
                              name:
                                type: string
                                description: |
                                  MCP 服务器的唯一标识。长度不超过 48 字符，支持以下字符：
                                  - 所有小写英文字母：a 到 z
                                  - 所有大写英文字母：A 到 Z
                                  - 所有数字字符：0 到 9
                                  - "." 和 "-"
                              endpoint:
                                type: string
                                description: MCP 服务器的端点地址，智能体将通过该地址与 MCP 服务器通信。
                              transport:
                                type: string
                                description: |
                                  传输协议类型，支持传入以下值：
                                  - `"streamable_http"`：流式 HTTP 协议
                              headers:
                                type: object
                                description: 请求 MCP 服务器时携带的 HTTP 头部信息，例如认证信息。
                                additionalProperties:
                                  type: string
                              allowed_tools:
                                type: array
                                description: |
                                  允许智能体调用的工具列表。只有在此列表中的工具才能被智能体使用。
                                  > `allowed_tools` 字段生效规则:
                                  > - 不填写 `allowed_tools` 字段：所有工具都生效
                                  > - 填写 `allowed_tools` 字段：
                                  >    - 填写为 `[]`：所有工具不生效
                                  >    - 填写为 `["*"]`：所有工具生效
                                  >    - 填写为 `["aa", "bb", "cc"]`：`aa`、`bb`、`cc` 生效
                                  >    - 填写为 `["aa", "bb", "*"]`：所有工具生效
                                items:
                                  type: string
                              timeout_ms:
                                type: integer
                                description: MCP 服务器请求超时时间，单位为毫秒。请求超时后，智能体将不会等待 MCP 服务器响应，而是继续执行后续逻辑。
                                default: 10000
                        headers:
                          type: object
                          description: |
                            请求 LLM 时附带的自定义请求 Header。你可以通过该字段透传业务自定义字段、租户标识等业务相关信息。
                            > - 该参数传入的请求 Header 会与对话式 AI 引擎默认生成的请求 Header 合并；当键冲突时，以对话式 AI 引擎生成的请求 Header 为准（例如认证相关 Header）。
                            > - Header 键按字符串精确匹配进行合并（区分大小写），声网建议统一使用标准写法，避免同名不同大小写导致歧义。
                          additionalProperties: {}
                        params:
                          type: object
                          
                          description: 在消息体内传输的 LLM 附加信息，例如使用的模型、最大 Token 数限制等。不同的 LLM 供应商支持的配置不同，请参考对应文档按需填入。
                          additionalProperties: {}
                    avatar:
                      type: object
                      description: 数字人 (Avatar) 配置。
                      properties:
                        enable:
                          type: boolean
                          description: |
                            是否为智能体启用数字人功能：
                            - `true`：启用。启用后需配置 `vendor` 和 `params` 字段。
                            - `false`：（默认）不启用。

                            > 开启数字人功能将产生 RTC 视频通话费用，详见 [RTC 计费说明](/zh-CN/realtime-media/rtc/billing/billing-strategy)。
                        vendor:
                          type: string
                          description: |
                            数字人供应商，支持传入以下值：
                            - `sensetime`：商汤数字人
                            - `spatius`：Spatius 数字人
                        params:
                          $ref: '#/components/schemas/avatar_params'
                          description: |
                            指定数字人供应商的配置参数。
                            > 你可以参考调用示例中不同数字人供应商的参数填写样例。
                    turn_detection:
                      type: object
                      description: |-
                        对话轮次检测设置，用于控制语音活动检测和对话轮次判定逻辑。

                        > 自 v2.6 起，`turn_detection` 仅负责开始说话（SoS）和结束说话（EoS）的检测。关键词打断和关闭打断后的处理策略已迁移至顶级 `interruption` 字段。
                      properties:
                        mode:
                          type: string
                          
                          description: |-
                            对话轮次检测模式，当前支持以下值：
                            - `"default"`：（默认）默认模式，使用标准的对话轮次检测配置。
                          enum:
                            - default
                          default: default
                        config:
                          type: object
                          
                          description: 对话轮次检测详细配置。
                          properties:
                            speech_threshold:
                              type: number
                              description: 语音识别灵敏度，取值范围为 (0.0, 1.0)。决定音频信号中何种程度的声音被视为"语音活动"。较低的值会使智能体更容易检测到语音，较高的值则可能忽略微弱声音。
                              format: float
                              default: 0.5
                            start_of_speech:
                              type: object
                              description: 对话开始 (Start of Speech, SoS) 检测配置，用于判定用户何时开始说话。
                              properties:
                                mode:
                                  type: string
                                  description: |-
                                    对话开始检测模式，支持以下值：
                                    - `"vad"`：（默认）基于 VAD（语音活动检测）触发，使用音频信号检测。
                                    - `"manual"`：手动 SoS 模式。关闭服务端自动 SoS 检测，由客户端通过 RTM 消息显式声明用户开始说话。
                                    - `"keywords"`：已废弃，请改用 `properties.interruption.mode = "keywords"` 配置关键词打断。
                                    - `"disabled"`：已废弃，请改用 `properties.interruption.enable = false` 配合 `properties.interruption.disabled_config.strategy` 配置关闭打断后的处理策略。

                                    > 使用 `"manual"` 时：
                                    > - 必须同时开启 `advanced_features.enable_rtm = true`。
                                    > - 必须同时设置 `parameters.data_channel = "rtm"`。
                                    > - 不支持传入 `manual_config`；该模式下无需公开配置项。

                                '{mode}_config':
                                  $ref: '#/components/schemas/start_of_speech_config'
                                  description: |
                                    对话开始检测配置参数。根据 `mode` 传入对应的配置字段。
                                    - 当 `mode = "manual"` 时无需传入额外配置字段。
                            end_of_speech:
                              type: object
                              description: 对话结束 (End of Speech, EoS) 检测配置，用于判定用户何时结束说话。
                              properties:
                                mode:
                                  type: string
                                  description: |-
                                    对话结束检测模式，支持以下值：
                                    - `"vad"`：（默认）基于 VAD（语音活动检测）触发，检测静音持续时间。
                                    - `"semantic"`：优雅打断，基于语义触发，使用语义理解模块判定用户是否结束说话还是短暂停顿。该模式目前仅支持识别中文和英文文本。
                                    - `"manual"`：手动 EoS 模式。关闭服务端自动 EoS 判停，由客户端通过 RTM 消息显式声明用户结束说话。

                                    > 使用 `"manual"` 时：
                                    > - 必须同时开启 `advanced_features.enable_rtm = true`。
                                    > - 必须同时设置 `parameters.data_channel = "rtm"`。
                                    > - 不支持传入 `manual_config`；该模式下无需公开配置项。
                                '{mode}_config':
                                  $ref: '#/components/schemas/end_of_speech_config'
                                  description: |
                                    对话结束检测配置参数。根据 `mode` 传入对应的配置字段。
                                    - 当 `mode = "manual"` 时，不支持传入 `manual_config`。
                    interruption:
                      type: object
                      description: |-
                        智能打断控制配置，用于统一管理智能体被用户打断的行为策略。
                      properties:
                        enable:
                          type: boolean
                          default: true
                          description: |-
                            是否开启智能体打断功能：
                            - `true`：（默认）开启。
                            - `false`：关闭。关闭后，智能体不会被中途打断。
                        mode:
                          type: string
                          default: start_of_speech
                          description: |-
                            打断触发方式，支持以下值：
                            - `"start_of_speech"`：（默认）用户开始说话时触发打断。
                            - `"keywords"`：用户说出指定关键词时触发打断，在 `keywords_config` 字段中配置触发关键词。
                        keywords_config:
                          type: object
                          description: |-
                            基于关键词触发打断的配置。仅在 `mode = "keywords"` 时生效。
                          properties:
                            trigger_keywords:
                              type: array
                              description: 触发打断的关键词列表。最多支持设置 128 个关键词。
                              items:
                                type: string
                        disabled_config:
                          type: object
                          description: |-
                            关闭打断功能后的处理策略。仅在 `interruption.enable` 为 `false` 时生效。
                          properties:
                            strategy:
                              type: string
                              description: |
                                关闭打断功能后的处理策略，支持以下值：
                                - `"append"`：追加模式，人声不打断智能体。智能体会在当前交互结束后处理刚才收到的人声请求。
                                - `"ignore"`：忽略模式，智能体忽略人声请求。如果智能体正在说话或思考中途收到人声，智能体会直接忽略并丢弃人声请求，不存入上下文。
                    sal:
                      type: object
                      description: |-
                        选择性注意力锁定（Selective Attention Locking, SAL）配置。
                        > 该功能目前处于 Beta 阶段。
                      properties:
                        sal_mode: 
                          type: string
                          description: |-
                            选择性注意力锁定模式，支持以下选项：
                            - `"locking"`：（默认）主讲人锁定模式。智能体锁定主讲人，屏蔽 95% 的环境人声、噪声。该模式可通过两种方式启用：
                              - 无感识别：用户在对话初期大声、清晰地说话，智能体即可自动将用户识别为主讲人。
                              - 预注册：创建智能体时，通过 `sample_urls` 字段预注册一名主讲人的声纹 URL，智能体将根据预注册的声纹 URL 锁定主讲人。
                            - `"recognition"`：声纹识别模式。你可以通过 `sample_urls` 字段预注册声纹 URL，目前仅支持单声纹注册。智能体将识别不同的说话人并抑制其他背景人声和环境噪音。识别到的说话人身份会通过 `metadata` 字段里的 `vpids` 字段标识并发送给 LLM，你需要将 `llm.vendor` 设置为 `"custom"`，并参考[自定义大模型](/zh-CN/ai/user-guides/custom-llm)了解如何让 LLM 处理说话人信息。
                          default: "locking"
                        sample_urls:
                          type: object
                          description: |-
                            注册声纹 URL，为键值对形式，键为注册的声纹名称，值为对应说话者的声纹 URL 下载地址。
                            > - 传入的声纹名称不可设置为 `"unknown"`，这是一个保留关键字，用于标识未知说话人。
                            > - 对于注册的声纹，需满足以下条件：
                            >   - 数量: 每个任务请求的注册声纹URL数量，目前仅支持单声纹，数量为 1 个。
                            >   - 大小: 单个声纹文件不得超过 2 MB。
                            >   - 时长：时长为 10 到 15 秒, 其中有效音频不小于 8 秒（不能有太多静音段）。
                            >   - 格式: 必须为 16k 采样率、16bit 位深、单声道的 PCM 音频文件，文件名后缀必须为 `.pcm`。
                    labels:
                      type: object
                      description: |-
                        自定义标签，键值对形式，键为标签名，值为标签值。用于让智能体携带自定义业务信息。
                        
                        这些自定义信息会与智能体绑定，并在对话式 AI 引擎所有类型消息通知回调的 `payload` 字段中返回，可用于实现自定义业务逻辑，例如标记活动 ID、客户分组、业务场景等。
                      additionalProperties:
                        type: string
                    rtc:
                      type: object
                      description: RTC 媒体内容加密配置。
                      properties:
                        encryption_key:
                          type: string
                          description: |-
                            字符串类型的加密密钥，长度不受限制。声网建议使用 32 字节的密钥。
                            > 如果未设置加密密钥或将其设置为空，则无法使用内置加密。
                        encryption_salt:
                          type: string
                          description: |-
                            用于加密的盐值，Base64 编码的字符串，解码后长度为 32 字节。
                            > 该参数仅在 `encryption_mode` 设为 `7`（AES_128_GCM2）或 `8`（AES_256_GCM2）时生效。在此情况下，请确保该参数不为空。
                        encryption_mode:
                          type: integer
                          description: |-
                            内置加密模式，支持以下值：
                            - `1`: AES_128_XTS - 128 位 AES 加密，XTS 模式。
                            - `2`: AES_128_ECB - 128 位 AES 加密，ECB 模式。
                            - `3`: AES_256_XTS - 256 位 AES 加密，XTS 模式。
                            - `4`: SM4_128_ECB - 128 位 SM4 加密，ECB 模式。
                            - `5`: AES_128_GCM - 128 位 AES 加密，GCM 模式。
                            - `6`: AES_256_GCM - 256 位 AES 加密，GCM 模式。
                            - `7`: AES_128_GCM2 - 128 位 AES 加密，GCM 模式。该模式需设置 salt（`encryption_salt`）。
                            - `8`: AES_256_GCM2 - 256 位 AES 加密，GCM 模式。该模式需设置 salt（`encryption_salt`）。
                            
                            > 声网建议使用 `7`（AES_128_GCM2）或 `8`（AES_256_GCM2）模式，这两种模式支持使用加密盐以提升安全性。
                    filler_words:
                      type: object
                      description: |-
                        垫词功能 (Beta) 配置，用于在 LLM 响应等待时播报垫词，缓解用户等待焦虑，提升对话流畅度。
                        
                        垫词播报遵循以下规则：
                        - **播报顺序**：当多个垫词或 LLM 响应等待播报时，按照文本到达的先后顺序进行播报。
                        - **打断控制**：继承全局配置中的打断模式设置 (`turn_detection.config`)。
                      properties:
                        enable:
                          type: boolean
                          description: |-
                            是否启用垫词功能：
                            - `true`：启用。
                            - `false`：（默认）不启用。
                          default: false
                        trigger:
                          type: object
                          description: 垫词触发配置，定义何时触发垫词播报。
                          properties:
                            mode:
                              type: string
                              description: |-
                                垫词触发模式，支持以下值：
                                - `"fixed_time"`：固定时间触发。当 LLM 响应等待时间超过设定阈值时触发垫词播报。
                            '{mode}_config':
                              $ref: '#/components/schemas/filler_words_trigger_config'
                              description: |
                                垫词触发配置参数。根据 `mode` 选择对应的配置。
                        content:
                          type: object
                          description: 垫词内容配置，定义垫词的来源和选择规则。
                          properties:
                            mode:
                              type: string
                              description: |-
                                垫词内容模式，支持以下值：
                                - `"static"`：静态垫词。使用预定义的垫词列表。
                            '{mode}_config':
                              $ref: '#/components/schemas/filler_words_content_config'
                              description: |
                                垫词内容配置参数。根据 `mode` 选择对应的配置。
                    parameters:
                      type: object
                      description: 智能体参数配置。
                      properties:
                        silence_config:
                          type: object
                          
                          description: 智能体静默设置。
                          properties:
                            timeout_ms:
                              type: integer
                              description: "智能体最大静默时间 (ms)，取值范围为 [0,60000]。智能体创建成功，且用户加入频道后，智能体不处于倾听、思考或说话状态的持续时间称为智能体静默时间。静默时间达到设定值后，智能体将播报静默提示消息。该功能可用于在用户不活跃时让智能体提醒用户。\r\n- 设置为 `0`（默认值）：表示不启用该功能。\r\n- 设置为 `(0,60000]` 时，必须同时设置 `content` 才能正常播报静默提示，否则设置无效。"
                            action:
                              type: string
                              description: "静默时间达到设定值后，智能体采取的行为，可设为以下值：\r\n- `\"speak\"`：（默认）使用 TTS 模块播报静默提示内容 (`content`)。\r\n- `\"think\"`：将静默提示内容 (`content`) 追加在上下文的最后，并传递给 LLM。"
                            content:
                              type: string
                              description: 静默提示消息的内容。设置的内容会根据 `action` 中的设置以不同的方式使用。
                        farewell_config:
                          type: object
                          description: 智能体优雅挂断设置。
                          properties:
                            graceful_enabled:
                              type: boolean
                              description: |-
                                是否启用优雅退出（Graceful Leave）功能：
                                - `true`：启用。开启后，调用 [POST 停止对话式智能体](/zh-CN/api-reference/api-ref/conversational-ai/leave)接口，让智能体退出频道时，会确保智能体处于静默状态（`IDLE`）后再离开频道。
                                - `false`：（默认）不启用。
                              default: false
                            graceful_timeout_seconds:
                              type: integer
                              description: 优雅退出超时时间 (s)，表示在退出频道前等待智能体进入静默状态（`IDLE`）的最长时间，超出该时间后，即便智能体不处于静默状态，也会立即退出频道。该字段仅在 `graceful_enabled` 为 `true` 时生效，取值范围为 [0,120]。
                              default: 30
                        data_channel:
                          type: string
                          description: |-
                            智能体数据传输通道，可选以下值：
                            - `rtm`：使用 RTM 传输。该配置仅在 `advanced_features.enable_rtm` 为 `true` 时生效。
                            - `datastream`：（默认）使用 RTC 的 [`DataStream`](https://doc.shengwang.cn/api-ref/rtc/android/API/toc_datastream#callback_irtcengineeventhandler_onstreammessage) 传输。

                            > 如果 `turn_detection.config.start_of_speech.mode` 或 `turn_detection.config.end_of_speech.mode` 为 `manual`，则必须同时开启 `advanced_features.enable_rtm = true`，并将该字段设为 `rtm`。
                        enable_metrics:
                          type: boolean
                          
                          default: false
                          description: |-
                            是否接收智能体性能数据：
                            - `true`：接收。
                            - `false`：（默认）不接收。
                            
                            该配置仅在 `advanced_features.enable_rtm` 为 `true` 时生效。你可以参考[监听智能体事件](/zh-CN/ai/user-guides/listen-agent-events)了解如何使用客户端组件接收智能体性能数据，或参考[接收 Webhook 事件](/zh-CN/ai/webhook/enable-ncs)了解如何使用 Webhook 接收智能体性能数据。
                        enable_error_message:
                          type: boolean
                          default: false
                          description: |-
                            是否接收智能体错误事件：
                            - `true`：接收。
                            - `false`：（默认）不接收。
                            
                            该配置仅在 `advanced_features.enable_rtm` 为 `true` 时生效。你可以参考[监听智能体事件](/zh-CN/ai/user-guides/listen-agent-events)了解如何使用客户端组件接收智能体错误事件。
                        opt_out:
                          type: boolean
                          default: false
                          description: |-
                            是否关闭当前会话的数据留存:
                            - `false`：（默认）不关闭。
                            - `true`：关闭会话数据留存。关闭后将无法依托历史内容开展故障排查、效果复盘与智能体优化。

                            > 为保障服务运行、智能体迭代调优与故障排查，默认在最短必要周期内临时留存会话交互文本、音频。若您的业务对数据存储有严格的安全或合规要求，建议启用该字段，关闭当前会话的数据留存。
                        # ifttt:
                        #   type: object
                        #   description: |-
                        #     IFTTT (If This Then That) 自动化触发配置，用于根据智能体的状态自动执行特定操作。
                            
                        #     通过配置触发条件（如智能体处于特定状态持续一定时间），系统可以自动调用 MCP 服务器提供的工具，实现自动挂断、自动留言、状态转换等自动化流程。
                        #   properties:
                        #     jobs:
                        #       type: array
                        #       description: 自动化任务列表，每个任务定义一个触发条件和对应的执行动作。
                        #       items:
                        #         type: object
                        #         properties:
                        #           state:
                        #             type: string
                        #             description: |-
                        #               触发条件的状态匹配规则。支持以下格式：
                        #               - `"state_name"`：智能体处于指定状态时触发。
                        #               - `"!state_name"`：智能体不处于指定状态时触发（使用 `!` 前缀表示否定）。
                                      
                        #               常见状态包括：`listening`（倾听中）、`thinking`（思考中）、`speaking`（说话中）、`idle`（空闲）等。
                        #           duration_ms:
                        #             type: integer
                        #             description: 状态持续时间阈值 (ms)。当智能体持续处于指定状态达到该时间后，触发执行动作。
                        #           tool:
                        #             type: string
                        #             description: 要调用的工具名称，该工具必须在 `mcp_servers` 配置的 `allowed_tools` 列表中。
                        #           from:
                        #             type: string
                        #             description: 工具所属的 MCP 服务器引用，格式为 `"mcp_servers/{server_name}"`，其中 `{server_name}` 是 `mcp_servers` 中定义的服务器名称。
                        #           args:
                        #             type: object
                        #             description: 调用工具时传递的参数，具体参数结构取决于工具的定义。
                        #             additionalProperties: true
            examples:
              Defalut:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: '123'
                    remote_rtc_uids:
                      - '321'
                    enable_string_uid: false
                    idle_timeout: 120
                    llm:
                      url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: You are a helpful chatbot.
                      greeting_message: 您好，有什么可以帮您？
                      failure_message: 抱歉，我无法回答这个问题。
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
                        userName: Tomas
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: minimax
                      skip_patterns: [1]
                      params:
                        group_id: xxxx
                        key: xxxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
              # 录音开场白:
              #   value:
              #     name: outbound_voice_agent
              #     properties:
              #       channel: outbound_call_channel_001
              #       token: token
              #       agent_rtc_uid: '123'
              #       remote_rtc_uids:
              #         - '321'
              #       enable_string_uid: false
              #       idle_timeout: 120
              #       llm:
              #         url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
              #         api_key: xxx
              #         system_messages:
              #           - role: system
              #             content: You are a helpful chatbot.
              #         greeting_audio_url: 'https://cdn.example.com/audio/standard-welcome.mp3'
              #         greeting_message: 您好，感谢拨打声网客服热线。我们检测到您的套餐即将到期，请问需要为您办理续费吗？
              #         greeting_configs:
              #           delay_ms: 600
              #           interruptable: true
              #           audio_download_timeout_ms: 1000
              #         failure_message: 抱歉，我无法回答这个问题。
              #         max_history: 32
              #         params:
              #           model: abab6.5s-chat
              #           max_token: 1024
              #       asr:
              #         language: zh-CN
              #         vendor: fengming
              #       tts:
              #         vendor: minimax
              #         params:
              #           group_id: xxxx
              #           key: xxxx
              #           model: speech-01-turbo
              #           voice_setting:
              #             voice_id: female-shaonv
              #             speed: 1
              #             vol: 1
              #             pitch: 0
              #             emotion: happy
              #           audio_setting:
              #             sample_rate: 16000
              # PCM 录音开场白:
              #   value:
              #     name: brand_intro_agent
              #     properties:
              #       channel: inbound_channel_002
              #       token: token
              #       agent_rtc_uid: '123'
              #       remote_rtc_uids:
              #         - '321'
              #       llm:
              #         url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
              #         api_key: xxx
              #         greeting_audio_url: 'https://cdn.example.com/audio/brand-intro.pcm'
              #         greeting_message: 您好，欢迎致电XX银行，我是您的智能助手小惠，请问有什么可以帮助您？
              #         greeting_configs:
              #           delay_ms: 0
              #           interruptable: false
              #           uninterruptible_asr_policy: merge_reply
              #           audio_download_timeout_ms: 1000
              #           audio_pcm_sample_rate: 16000
              #         params:
              #           model: abab6.5s-chat
              #       asr:
              #         language: zh-CN
              #       tts:
              #         vendor: minimax
              #         params:
              #           group_id: xxxx
              #           key: xxxx
              #           model: speech-01-turbo
              #           voice_setting:
              #             voice_id: female-shaonv
              #           audio_setting:
              #             sample_rate: 16000
              使用 String uid:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: friday
                    remote_rtc_uids:
                      - '*'
                    enable_string_uid: true
                    idle_timeout: 120
                    llm:
                      url: 'https://api.minimax.chat/v1/text/chatcompletion_v2'
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: You are a helpful chatbot.
                      greeting_message: 您好，有什么可以帮您？
                      failure_message: 抱歉，我无法回答这个问题。
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_tokens: 1024
                        userName: Tomas
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: tencent
                      skip_patterns: [1, 3]
                      params:
                        group_id: xxx
                        key: xxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
              完整配置示例:
                value:
                  name: full_config_agent
                  properties:
                    channel: full_channel_name
                    token: full_token_value
                    agent_rtc_uid: '12345'
                    remote_rtc_uids:
                      - '67890'
                    enable_string_uid: false
                    idle_timeout: 180
                    advanced_features:
                      enable_rtm: true
                      enable_sal: true
                      enable_tools: true
                    asr:
                      language: zh-CN
                      vendor: microsoft
                      params:
                        key: your_microsoft_key
                        region: chinaeast2
                        language: zh-CN
                        phrase_list:
                          - agora
                          - fengming
                    tts:
                      vendor: microsoft
                      skip_patterns: [1, 2]
                      params:
                        key: your_microsoft_key
                        region: chinaeast2
                        voice_name: zh-CN-YunxiNeural
                        speed: 1.0
                        volume: 70
                        sample_rate: 24000
                    llm:
                      url: 'https://api.openai.com/v1/chat/completions'
                      api_key: your_openai_api_key
                      system_messages:
                        - role: system
                          content: 'You are a professional AI assistant. User name is {{user_name}}.'
                      greeting_message: '您好{{user_name}}，我是{{company_name}}的智能助手，有什么可以帮您？'
                      greeting_configs:
                        mode: single_every
                        delay_ms: 500
                        interruptable: false
                      failure_message: 抱歉，系统出现问题，请稍后再试。
                      max_history: 64
                      input_modalities:
                        - text
                        - image
                      output_modalities:
                        - text
                      vendor: custom
                      headers:
                        X-Tenant-ID: tenant-123
                        X-Custom-Metadata: production
                      mcp_servers:
                        - name: weather-server
                          endpoint: 'https://mcp.example.com/weather'
                          transport: streamable_http
                          headers:
                            Authorization: 'Bearer your_mcp_token'
                          allowed_tools:
                            - get_current_weather
                            - get_weather_forecast
                          timeout_ms: 15000
                      params:
                        model: gpt-4o
                        temperature: 0.8
                        max_tokens: 2048
                        stream: true
                      template_variables:
                        user_name: 张三
                        company_name: 声网科技
                    avatar:
                      enable: true
                      vendor: sensetime
                      params:
                        agora_token: avatar_token
                        agora_uid: '99999'
                        appId: sensetime_app_id
                        app_key: sensetime_app_key
                        sceneList:
                          - digital_role:
                              face_feature_id: face_feature_id_001
                              position:
                                x: 0
                                y: 0
                              url: 'https://example.com/avatar_model.zip'
                    turn_detection:
                      mode: default
                      config:
                        speech_threshold: 0.5
                        start_of_speech:
                          mode: vad
                          vad_config:
                            interrupt_duration_ms: 160
                            speaking_interrupt_duration_ms: 320
                            prefix_padding_ms: 800
                        end_of_speech:
                          mode: semantic
                          semantic_config:
                            silence_duration_ms: 320
                            max_wait_ms: 3000
                            pause_state_enabled: true
                    interruption:
                      enable: true
                      mode: keywords
                      keywords_config:
                        trigger_keywords:
                          - 你好
                          - 在吗
                          - hello
                    sal:
                      sal_mode: locking
                      sample_urls:
                        speaker1: 'https://example.com/voiceprint1.pcm'
                    labels:
                      campaign_id: spring_2025
                      customer_group: vip
                      region: east_china
                    rtc:
                      encryption_key: your_32_byte_encryption_key_here
                      encryption_salt: TsP4fLLyxxxxxxxxxroLA9oE=
                      encryption_mode: 8
                    filler_words:
                      enable: true
                      trigger:
                        mode: fixed_time
                        fixed_time_config:
                          response_wait_ms: 1500
                      content:
                        mode: static
                        static_config:
                          phrases:
                            - 请稍等。
                            - 好的。
                            - 嗯嗯。
                          selection_rule: shuffle
                    parameters:
                      silence_config:
                        timeout_ms: 15000
                        action: think
                        content: 用户长时间未响应，请主动询问是否需要继续服务。
                      farewell_config:
                        graceful_enabled: true
                        graceful_timeout_seconds: 60
                      data_channel: rtm
                      enable_metrics: true
                      enable_error_message: true
                      opt_out: false
              # Spatius 数字人:
              #   value:
              #     name: spatius_agent_room_001
              #     properties:
              #       channel: room-001
              #       token: <agent_rtc_token>
              #       agent_rtc_uid: '67890'
              #       remote_rtc_uids:
              #         - '12345'
              #       enable_string_uid: false
              #       idle_timeout: 120
              #       asr:
              #         language: zh-CN
              #         vendor: fengming
              #       llm:
              #         vendor: bytedance
              #         url: 'https://ark.cn-beijing.volces.com/api/v3/chat/completions'
              #         api_key: <LLM_API_KEY>
              #         greeting_message: 您好，有什么可以帮您？
              #         failure_message: 抱歉，我无法回答这个问题。
              #         max_history: 32
              #         params:
              #           model: <your_model_endpoint_id>
              #       tts:
              #         vendor: minimax
              #         params:
              #           key: <MINIMAX_TTS_KEY>
              #           group_id: <MINIMAX_TTS_GROUP_ID>
              #           model: speech-01-turbo
              #           voice_setting:
              #             voice_id: <MINIMAX_TTS_VOICE_ID>
              #             speed: 1.0
              #             vol: 1.0
              #             pitch: 0
              #             latex_read: false
              #             english_normalization: true
              #           audio_setting:
              #             sample_rate: 16000
              #       avatar:
              #         enable: true
              #         vendor: spatius
              #         params:
              #           spatius_api_key: <SPATIUS_API_KEY>
              #           spatius_app_id: <SPATIUS_APP_ID>
              #           spatius_avatar_id: <SPATIUS_AVATAR_ID>
              #           agora_uid: '77777'
              #           agora_token: <avatar_rtc_token>
              #           region: cn-beijing
              #           sample_rate: 16000
              #           session_expire_minutes: 30
              接入 MCP:
                value:
                  name: unique_name
                  properties:
                    channel: channel_name
                    token: token
                    agent_rtc_uid: '123'
                    remote_rtc_uids:
                      - '321'
                    idle_timeout: 120
                    llm:
                      url: 'https://api.minimax.chat/v2/text/chatcompletion_v2'
                      api_key: xxx
                      system_messages:
                        - role: system
                          content: 'You are a helpful assistant. User name is {{user_name}}, and their account ID is {{account_id}}.'
                      greeting_message: '您好 {{user_name}}，有什么可以帮您？'
                      failure_message: '抱歉 {{user_name}}，我无法回答这个问题。请稍后再试。'
                      max_history: 32
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
                      template_variables:
                        user_name: '张三'
                        account_id: 'ACC123456'
                        silent_prompt: '用户长时间未响应，请询问是否需要继续服务。'
                      mcp_servers:
                        - name: mcpserver
                          endpoint: 'https://registry.run.mcp.com.ai/mcp'
                          transport: streamable_http
                          headers:
                            Authentication: 'Basic xxxx'
                          allowed_tools:
                            - getV01Servers
                    asr:
                      language: zh-CN
                      vendor: fengming
                    tts:
                      vendor: minimax
                      skip_patterns: [1]
                      params:
                        group_id: xxxx
                        key: xxxx
                        model: speech-01-turbo
                        voice_setting:
                          voice_id: female-shaonv
                          speed: 1
                          vol: 1
                          pitch: 0
                          emotion: happy
                        audio_setting:
                          sample_rate: 16000
                    parameters:
                      silence_config:
                        timeout_ms: 10000
                        action: think
                        content: '{{silent_prompt}}'
                      opt_out: false
                      # ifttt:
                      #   jobs:
                      #     - state: '!listening'
                      #       duration_ms: 60000
                      #       tool: sip-hangup
                      #       from: mcp_servers/sip_manager
                      #       args:
                      #         reason: silence
      responses:
        '200':
          $ref: '#/components/responses/200'
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
  '/v2/projects/{appid}/agents/{agentId}/leave':
    post:
      # tags:
      #   - 智能体管理
      summary: 停止对话式智能体
      description: 停止指定的对话式智能体实例，并让智能体退出 RTC 频道。
      operationId: stop-agent
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为空。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
  '/v2/projects/{appid}/agents/{agentId}/update':
    post:
      # tags:
      #   - 智能体管理
      summary: 更新智能体配置
      description: 更新指定运行中智能体的部分参数配置。
      operationId: agent-update
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  token: 007eJxTYxxxQ4vkFB
              properties:
                properties:
                  type: object
                  properties:
                    token:
                      type: string
                      description: '用于鉴权的动态密钥。如果你的项目已启用 App 证书，则务必在该字段中传入你项目的动态密钥。运行中的智能体收到 `104 agent expire` 事件后，你可以调用本接口并更新该字段以刷新 RTC Token。详见[使用 Token 鉴权](/zh-CN/realtime-media/rtc/basic-features/token-authentication)。'
                    llm:
                      type: object
                      description: 大语言模型 (LLM) 设置。
                      properties:
                        system_messages:
                          type: array
                          
                          description: 一组每次调用 LLM 时被附加在最前的预定义信息，用于控制 LLM 输出。可以是角色设定、提示词和回答样例等。要求与 OpenAI 协议兼容。
                          items:
                            type: object
                            additionalProperties: {}
                        params:
                          type: object
                          
                          description: "在消息体内传输的 LLM 附加信息，例如使用的模型、最大 Token 数限制等。不同的 LLM 供应商支持的配置不同，请参考对应文档按需填入。\r\n> 该字段更新后将覆盖智能体创建时的配置。更新时，请确保传入完整的 `params` 字段。"
                          additionalProperties: {}
            examples:
              Example 1:
                value:
                  properties:
                    token: 007eJxTYxxxxxxxxxxIaHMLAAAA0ex66
                    llm:
                      system_messages:
                        - role: system
                          content: You are a helpful assistant. xxx
                        - role: system
                          content: 'Previously, user has talked about their favorite hobbies with some key topics: xxx'
                      params:
                        model: abab6.5s-chat
                        max_token: 1024
        description: ''
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent id: 1NT29XOXFT4Jxxxx410TXRCFG10HI00
                    create ts: 173836896
                    state: RUNNING
                properties:
                  agent_id:
                    type: string
                    description: 智能体唯一标识符。
                  create_ts:
                    type: integer
                    description: 智能体创建时间戳。
                  state:
                    type: string
                    description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XOXFT4Jxxxx410TXRCFG10HI00
                    create_ts: 173836896
                    state: RUNNING
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
  '/v2/projects/{appid}/agents/{agentId}':
    get:
      # tags:
      #   - 智能体管理
      summary: 查询智能体状态
      description: 查询指定智能体实例的当前运行状态。
      operationId: query-agent-status
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    message: 'agent exits with reason: xxxx'
                    start_ts: 1735035893
                    stop_ts: 1735035900
                    status: FAILED
                    name: support_agent_001
                    agent_id: 1NT29X1xxxxZNU80BEIN56XF
                properties:
                  message:
                    type: string
                    description: 请求信息。
                  start_ts:
                    type: integer
                    description: 智能体创建时间戳。
                  stop_ts:
                    type: integer
                    description: 智能体停止时间戳。
                  status:
                    type: string
                    description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
                  name:
                    type: string
                    description: 智能体名称，即调用创建接口时传入的 `name`。同一频道内唯一。
                  agent_id:
                    type: string
                    description: 智能体唯一标识。
              examples:
                Example 1:
                  value:
                    message: 'agent exits with reason: xxxx'
                    start_ts: 1735035893
                    stop_ts: 1735035900
                    status: FAILED
                    name: support_agent_001
                    agent_id: 1NT29X11GQSxxxxxNU80BEIN56XF
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
  '/v2/projects/{appid}/agents':
    get:
      # tags:
      #   - 智能体管理
      summary: 获取智能体列表
      operationId: get-agent-list
      description: 检索符合指定条件的智能体列表。
      x-docs-callouts:
        - position: after-description
          markdown: 该接口仅支持查询最近 7 天内创建的智能体列表。
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/appid'
        - name: channel
          in: query
          description: 查询指定频道名下的智能体列表。
          schema:
            type: string
            examples:
              - TEST
        - name: from_time
          in: query
          description: 查询列表开始时间戳 (s)，默认为 1 天前。
          schema:
            type: integer
            examples:
              - 1733013296
        - name: to_time
          in: query
          description: 查询列表结束时间戳 (s)，默认为当前时刻。
          schema:
            type: integer
            examples:
              - 1734016896
        - name: state
          in: query
          description: 指定需要查询智能体的状态，单次查询不支持指定多种状态：<li>`IDLE` (0)：空闲状态的智能体。</li><li>`STARTING` (1)：正在启动的智能体。</li><li>`RUNNING` (2)：正在运行的智能体。</li><li>`STOPPING` (3)：正在停止的智能体。</li><li>`STOPPED` (4)：已完成退出的智能体。</li><li>`FAILED` (6)：执行失败的智能体。</li>
          schema:
            type: string
            default: '2'
            examples:
              - '1'
        - name: limit
          in: query
          description: 分页获取单次返回的最大条数。
          schema:
            type: integer
            default: 20
            examples:
              - 20
        - name: cursor
          in: query
          description: 分页游标，即分页起始位置的 `agent_id`。
          schema:
            type: string
            examples:
              - agent_id
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: 本次返回的智能体数量。
                      list:
                        type: array
                        description: 满足条件的智能体列表。
                        items:
                          type: object
                          properties:
                            start_ts:
                              type: integer
                              description: 智能体创建时间戳。
                            status:
                              type: string
                              description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
                            agent_id:
                              type: string
                              description: 智能体唯一标识。
                  meta:
                    type: object
                    description: 返回列表的元信息。
                    properties:
                      cursor:
                        type: string
                        description: 分页游标。
                      total:
                        type: integer
                        description: 满足本次查询条件的智能体总数量。
                  status:
                    type: string
                    description: 请求状态。
              examples:
                Example 1:
                  value:
                    data:
                      count: 1
                      list:
                        - start_ts: 1735035893
                          status: RUNNING
                          agent_id: 1NT29X11GQSxxxxx80BEIN56XF
                    meta:
                      cursor: ''
                      total: 1
                    status: ok
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
  '/v2/projects/{appid}/agents/{agentId}/speak':
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    post:
      summary: 播报自定义消息
      # tags:
      #   - 智能体管理
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为智能体信息，智能体开始播报指定内容。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                    channel: test_channel
                    start_ts: '178444582'
                properties:
                  agent_id:
                    $ref: '#/components/schemas/agent_id'
                  channel:
                    $ref: '#/components/schemas/channel'
                  start_ts:
                    $ref: '#/components/schemas/start_ts'
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
      operationId: agent-speak
      description: 让指定智能体播报自定义消息。
      x-docs-sections:
        - position: after-description
          markdown: 与智能体对话期间，调用该接口可以让智能体使用 TTS 模块立刻播报自定义消息。智能体收到请求后，播报行为会打断当前说话和思考流程。
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: 播报的文本内容，最长不超过 512 字节 (bytes)。
                priority:
                  type: string
                  description: |-
                    播报行为的优先级，支持设为以下值：
                    - `"INTERRUPT"`：（默认）高优先级，打断并播报。智能体会终止当前交互，直接播报消息。
                    - `"APPEND"`: 中优先级，追加播报。智能体会在当前交互结束后播报消息。
                    - `"IGNORE"`: 低优先级，空闲时播报。如果此时智能体正在交互，智能体会直接忽略并丢弃要播报的消息；只有智能体不在交互中才会播报消息。
                interruptable:
                  type: boolean
                  description: "是否允许用户说话打断智能体播报：\r\n- `true`：（默认）允许。\r\n- `false`：不允许。"
                  default: true
            examples:
              Example 1:
                value:
                  text: 抱歉，对话内容不符合规范。
                  priority: INTERRUPT
                  interruptable: false
  '/v2/projects/{appid}/agents/{agentId}/interrupt':
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    post:
      summary: 打断智能体
      # tags:
      #   - 智能体管理
      responses:
        default:
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为智能体信息，智能体开始播报指定内容。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    $ref: '#/components/schemas/agent_id'
                  channel:
                    $ref: '#/components/schemas/channel'
                  start_ts:
                    $ref: '#/components/schemas/start_ts'
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
      operationId: agent-interrupt
      description: 打断指定智能体说话或思考。
      requestBody:
        description: 请求包体为空。
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              Example 1:
                value: {}
  '/v2/projects/{appid}/agents/{agentId}/think':
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    post:
      summary: 发送自定义指令
      # tags:
      #   - 智能体管理
      operationId: agent-think
      description: 向指定智能体发送一段自定义文本指令。
      x-docs-sections:
        - position: after-description
          markdown: 该接口会将传入文本作为用户输入注入当前对话链路，并由对话式 AI 引擎继续按照普通用户输入的处理逻辑进行推理和响应。你可以使用该接口实现隐式指令注入、客户端事件触发和语音与文本协同等场景。
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: 自定义指令文本内容。系统会将其作为用户输入注入当前对话链路。
                on_listening_action:
                  type: string
                  description: |
                    智能体处于倾听状态时的处理动作，支持以下值：
                    - `"inject"`：自定义文本指令注入当前轮次，不打断当前轮次。
                    - `"interrupt"`：（默认）立即打断当前处理流程，并发起新一轮对话。
                    - `"ignore"`：忽略本次请求。
                on_thinking_action:
                  type: string
                  description: |
                    智能体处于思考状态时的处理动作，支持以下值：
                    - `"interrupt"`：（默认）打断当前状态，并发起新一轮对话。
                    - `"ignore"`：忽略本次请求。
                on_speaking_action:
                  type: string
                  description: |
                    智能体处于说话状态时的处理动作，支持以下值：
                    - `"interrupt"`：打断当前状态，并发起新一轮对话。
                    - `"ignore"`：（默认）忽略本次请求。
                interruptable:
                  type: boolean
                  description: |
                    是否允许用户说话打断自定义指令：
                    - `true`：（默认）允许。
                    - `false`：不允许。
                  default: true
                metadata:
                  type: object
                  description: 自定义元数据。你可以通过该字段传入业务标识等附加信息。
                  additionalProperties: {}
            examples:
              Example 1:
                value:
                  text: 用户刚才点击了购买按钮
                  on_listening_action: interrupt
                  on_thinking_action: interrupt
                  on_speaking_action: ignore
                  interruptable: true
                  metadata:
                    publisher: user123
                    model: deepseek-r1
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体为智能体信息。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    $ref: '#/components/schemas/agent_id'
                  channel:
                    $ref: '#/components/schemas/channel'
                  start_ts:
                    $ref: '#/components/schemas/start_ts'
              examples:
                Example 1:
                  value:
                    agent_id: 1NT29XxxxxxxxxELWEHC8OS
                    channel: test_channel
                    start_ts: 1744877089
  '/v2/projects/{appid}/agents/{agentId}/history':
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/appid'
      - $ref: '#/components/parameters/agentId'
    get:
      # tags:
      #   - 智能体管理
      summary: 获取智能体短期记忆
      operationId: get-history
      description: 获取用户和智能体对话的短期记忆。
      x-docs-sections:
        - position: after-description
          markdown: |-
            你可以在智能体运行期间 (`RUNNING`) 调用该 API 获取智能体创建到现在储存的短期记忆信息，包括：
            - 智能体创建和停止的时间戳
            - 用户和智能体对话消息
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  "llm.vendor = custom":
                    agent_id: xxxx
                    start_ts: 1715000000
                    status: RUNNING
                    contents:
                      - role: assistant
                        content: 'Hello, welcome to the AI customer service. How can I help you?'
                        speech_start_ms: 1715000001200
                        speech_end_ms: 1715000004800
                      - role: user
                        content: ''
                        speech_start_ms: 1715000004900
                        speech_end_ms: 1715000005100
                        speech_algorithmic_delay: 120
                      - role: user
                        content: "I'd like to check the status of my package, tracking number 12345."
                        speech_start_ms: 1715000005200
                        speech_end_ms: 1715000007600
                        speech_algorithmic_delay: 120
                      - role: assistant
                        content: 'Your package with tracking number 12345 is currently out for delivery.'
                        speech_start_ms: 1715000009500
                        speech_end_ms: 1715000013200
                      - role: user
                        content: '[think API injected] User level: VIP'
                  default:
                    agent_id: xxxx
                    start_ts: 123
                    status: RUNNING
                    contents:
                      - role: user
                        content: hello.
                      - role: assistant
                        content: 'hi, how can I help you?'
                    # tool_calls:
                    #   - index: 0
                    #     type: function
                    #     id: call_u9oldpnqdxxxxxxaqdkaqjzq
                    #     function:
                    #       name: _publish_message
                    #       arguments: '{"content": "你好"}'
                    # - role: tool
                    #   content: '{"result": "ok"}'
                    # tool_call_id: call_u9oldpnqdxxxxxxaqdkaqjzq
                properties:
                  agent_id:
                    type: string
                    description: 智能体唯一标识。
                  start_ts:
                    type: integer
                    description: 智能体创建时间戳。
                  status:
                    type: string
                    description: 智能体运行状态。仅支持查询状态为 `RUNNING` (2)，即正在运行的智能体。
                  contents:
                    type: array
                    description: 智能体短期记忆。
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                          description: "消息发送者。可能为以下值：\r\n- `user`：用户。\r\n- `assistant`：智能体。"
                        content:
                          type: string
                          description: 消息内容。
                        speech_start_ms:
                          type: integer
                          description: 说话或 TTS 播报开始时间戳，单位为毫秒（Unix 时间戳）。仅在 `llm.vendor = custom` 时返回。
                        speech_end_ms:
                          type: integer
                          description: 说话结束、TTS 播报完成或被打断的时间戳，单位为毫秒（Unix 时间戳）。仅在 `llm.vendor = custom` 时返回。
                        speech_algorithmic_delay:
                          type: integer
                          description: |-
                            算法处理时延，单位为毫秒。
                            - 仅当 `llm.vendor = custom`，`contents[].role = user` 且存在实际语音输入时返回。
                            - 表示音频从用户设备麦克风采集后，经过降噪、背景人声消除、声纹锁定等算法处理引入的总延迟，可用于进一步对齐云录制原始音频的时间戳。
              #           tool_calls:
              #             type: array
              #             description: 工具调用信息。仅在 `role` 为 `assistant`，且本次消息触发了工具调用时返回。包含以下字段：
              #             items:
              #               type: object
              #               properties:
              #                 index:
              #                   type: integer
              #                   description: 工具调用索引。
              #                 type:
              #                   type: string
              #                   description: 工具调用类型。当前仅支持 `function`，即函数调用。
              #                 id:
              #                   type: string
              #                   description: 工具调用 ID。每次调用工具会为当前调用请求生成唯一的 ID。
              #                 function:
              #                   type: object
              #                   description: 函数调用信息。
              #                   properties:
              #                     name:
              #                       type: string
              #                       description: "函数名称。当前支持：\r\n-  `_publish_message`：向端侧发布消息。"
              #                     arguments:
              #                       type: string
              #                       description: 函数参数。
              #           tool_call_id:
              #             type: string
              #             description: 工具调用 ID。仅当 `role` 为 `tool` 时返回，对应 `content` 中反应了本次工具调用的结果。
              examples:
                default:
                  summary: 默认返回示例
                  value:
                    agent_id: xxxx
                    start_ts: 123
                    status: RUNNING
                    contents:
                      - role: user
                        content: hello.
                      - role: assistant
                        content: 'hi, how can I help you?'
                "llm.vendor = custom":
                  summary: 返回包含语音时间戳字段
                  value:
                    agent_id: xxxx
                    start_ts: 1715000000
                    status: RUNNING
                    contents:
                      - role: assistant
                        content: 'Hello, welcome to the AI customer service. How can I help you?'
                        speech_start_ms: 1715000001200
                        speech_end_ms: 1715000004800
                      - role: user
                        content: ''
                        speech_start_ms: 1715000004900
                        speech_end_ms: 1715000005100
                        speech_algorithmic_delay: 120
                      - role: user
                        content: "I'd like to check the status of my package, tracking number 12345."
                        speech_start_ms: 1715000005200
                        speech_end_ms: 1715000007600
                        speech_algorithmic_delay: 120
                      - role: assistant
                        content: 'Your package with tracking number 12345 is currently out for delivery.'
                        speech_start_ms: 1715000009500
                        speech_end_ms: 1715000013200
                      - role: user
                        content: '[think API injected] User level: VIP'
                    #           tool_calls:
                    #             - index: 0
                    #               type: function
                    #               id: call_u9oldpnqdxxxxxxaqdkaqjzq
                    #               function:
                    #                 name: _publish_message
                    #                 arguments: '{"content": "你好"}'
                    #         - role: tool
                    #           content: '{"result": "ok"}'
                    #           tool_call_id: call_u9oldpnqdxxxxxxaqdkaqjzq
  '/v2/projects/{appid}/agents/{agentId}/turns':
    get:
      summary: 查询对话轮次信息
      description: 在与智能体会话结束后，调用该接口分页查询本次会话的对话轮次信息，包含每个对话轮次的开始信息、结束信息、性能指标。
      x-docs-callouts:
        - position: after-description
          markdown: |-
            自 v2.7 起，该接口从单次返回全部对话轮次改为分页返回。默认请求第 1 页，默认每页返回 50 条对话轮次数据。
            仅支持查询 7 天内的会话。
      operationId: get-turns
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/appid'
        - $ref: '#/components/parameters/agentId'
        - name: page_index
          in: query
          description: 页码。从 `1` 开始。默认值为 `1`。
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: 每页返回的对话轮次数量。默认值为 `50`，取值范围为 [10,200]。
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: "- 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。\r\n- 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。"
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                    description: 智能体唯一标识。
                  name:
                    type: string
                    description: 智能体名称。
                  channel:
                    type: string
                    description: 对话频道名称。
                  total_turn_count:
                    type: integer
                    description: 当前会话中的对话轮次总数。
                  pagination:
                    type: object
                    description: 分页信息。
                    properties:
                      page_index:
                        type: integer
                        description: 当前页码，从 1 开始。
                      total_pages:
                        type: integer
                        description: 总页数。
                      is_last_page:
                        type: boolean
                        description: 当前页是否为最后一页。
                  turns:
                    type: array
                    description: 对话轮次列表。
                    items:
                      type: object
                      properties:
                        agent_id:
                          type: string
                          description: 智能体唯一标识。
                        channel:
                          type: string
                          description: 对话频道名称。
                        turn_id:
                          type: integer
                          description: 对话轮次 ID，从 1 开始递增。
                        start:
                          type: object
                          description: 轮次开始信息。
                          properties:
                            start_at:
                              type: integer
                              description: 开始时间戳，毫秒级 UTC 时间。
                            type:
                              type: string
                              description: |
                                开始类型：
                                - `voice_input`：因用户语音输入而开始。
                                - `greeting`：因智能体播报问候语而开始。
                                - `silence_timeout`：因智能体静音超时而开始。
                                - `api_speak`：因调用[播报自定义信息](/zh-CN/api-reference/api-ref/conversational-ai/speak)接口播报信息而开始。
                            metadata:
                              $ref: '#/components/schemas/sos_metadata'
                              description: 开始附加元数据，根据 `type` 字段的不同，包含不同的字段。
                        end:
                          type: object
                          description: 轮次结束信息。
                          properties:
                            end_at:
                              type: integer
                              description: 结束时间戳，毫秒级 UTC 时间。
                            type:
                              type: string
                              description: |
                                轮次结束类型：
                                - `ok`：正常结束。
                                - `interrupted`：被中断。
                                - `ignored`：被忽略。
                                - `error`：执行错误。
                            metadata:
                              $ref: '#/components/schemas/eos_metadata'
                              description: 结束附加元数据，根据 `type` 字段的不同，包含不同的字段。
                        metrics:
                          type: object
                          description: 对话轮次性能指标详情。
                          properties:
                            e2e_latency_ms:
                              type: integer
                              description: 端到端总延迟 (ms)。
                            segmented_latency_ms:
                              type: array
                              description: 分段延迟指标详情列表。
                              items:
                                type: object
                                properties:
                                  name:
                                    $ref: '#/components/schemas/metrics_modality'
                                    description: 延迟模块名称，根据[创建对话式智能体](/zh-CN/api-reference/api-ref/conversational-ai/join)时设置的 LLM 输入模态的不同，返回不同的延迟模块。
                                  latency:
                                    type: integer
                                    description: 延迟时间 (ms)。
              examples:
                Example 1:
                  value:
                    agent_id: A42Axxxxxxxxx37MT56J
                    name: support_agent_001
                    channel: test_channel
                    total_turn_count: 250
                    pagination:
                      page_index: 1
                      total_pages: 5
                      is_last_page: false
                    turns:
                      - agent_id: A42Axxxxxxxxx37MT56J
                        channel: test_channel
                        turn_id: 1
                        start:
                          start_at: 1774579820147
                          type: greeting
                          metadata:
                            greeting_nth: 1
                        end:
                          end_at: 1774579822412
                          type: interrupted
                          metadata:
                            caused_by: api_interrupt
                            transport: rtm
                        metrics:
                          e2e_latency_ms: 337
                          segmented_latency_ms:
                            - name: tts_ttfb
                              latency: 337
      servers:
        - url: 'https://api.agora.io/cn/api/conversational-ai-agent'
          description: ''
components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: |
       发送 HTTP 请求时，你需要从以下鉴权方式中任选其一：
        1. **（推荐）使用 RTC Token**：将用于声网对话式 AI 引擎项目使用的 RTC Token 填入 `Authorization` 字段。你可以选择以下方式获取 Token：
            - 测试环境下，你可以从[声网控制台](https://console.shengwang.cn/)为你的项目生成临时 Token（有效期为 24 小时）。
            - 生产环境下，你可以参考[使用 Token 鉴权](/zh-CN/ai/build/http-basic-auth#使用-rtc-token-鉴权-推荐)部署 Token 服务器以生成 Token。
              - 传参示例：`Authorization: agora token="007abcxxxxxxx123"`
        2. **使用 Basic Auth**：参考[实现 HTTP 安全认证](/zh-CN/ai/build/http-basic-auth#使用-http-基本认证)生成 Base64 编码的 `Authorization` 字段。
              - 传参示例：`Authorization: Basic NDI1OTQ3N2I4MzYy...YwZjA=`
      required: true
      schema:
        type: string
    appid:
      name: appid
      in: path
      description: '你的项目使用的 [App ID](/zh-CN/ai/get-started/enable-service#%E8%8E%B7%E5%8F%96-app-id)。'
      required: true
      schema:
        type: string
    agentId:
      name: agentId
      in: path
      description: '智能体实例 ID，即智能体的唯一标识。调用 [POST 创建对话式智能体](/zh-CN/api-reference/api-ref/conversational-ai/join) 成功后在响应包体中获取。'
      required: true
      schema:
        type: string
    phone_number:
      name: phone_number
      in: path
      description: E.164 格式的电话号码（如：+11234567890），作为唯一标识符。
      required: true
      schema:
        type: string
  responses:
    '200':
      description: |-
        - 若返回的状态码为 `200` 则表示请求成功。响应包体中包含本次请求的结果。
        - 若返回的状态码不为 `200` 则表示请求失败。响应包体中包含错误的类别和描述，你可以参考[响应状态码](/zh-CN/ai/api/response-code)了解可能的原因。
      content:
        application/json:
          schema:
            type: object
            x-examples:
              Example 1:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                state: RUNNING
            properties:
              agent_id:
                $ref: '#/components/schemas/agent_id'
                description: 智能体唯一标识。
              create_ts:
                $ref: '#/components/schemas/start_ts'
                description: 智能体创建时间戳。
              status:
                type: string
                description: "智能体运行状态：\r\n- `IDLE` (0)：空闲状态的智能体。\r\n- `STARTING` (1)：正在启动的智能体。\r\n- `RUNNING` (2)：正在运行的智能体。\r\n- `STOPPING` (3)：正在停止的智能体。\r\n- `STOPPED` (4)：已完成退出的智能体。\r\n- `FAILED` (6)：执行失败的智能体。"
          examples:
            Example 1:
              value:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                status: RUNNING
    phone_number_error:
      description: |
        若返回的 HTTP 状态码不为成功状态码，则表示请求失败。响应包体将包含一个 JSON 对象，其中包含错误的类型和描述。
        
        **可能的状态码及原因:**
        
        - 401 `unauthorized`：认证失败，请检查您的凭证。
        - 404 `not_found`：未找到指定的电话号码。
        - 409 `phone_number_exists`：电话号码已存在，不允许重复导入。
        - 409 `conflict`：并发修改冲突或资源被锁定。
        - 422 `unprocessable_content`：请求格式错误或参数校验失败。
        - 500 `internal_server_error`：服务器内部错误。
      content:
        application/json:
          schema:
            type: object
            properties:
              error_type:
                type: string
                description: 错误类型。
              description:
                type: string
                description: 错误描述。
          examples:
            Example 1:
              value:
                error_type: "unauthorized"
                description: "认证失败，请检查您的凭证。"
    outbound_call_error:
      description: |
        若返回的 HTTP 状态码不为 200，则表示请求失败。响应包体将包含一个 JSON 对象，其中包含错误的类型和描述。
        
        **可能的状态码及原因:**
        
        - 400 `invalid_phone_format`：电话号码格式无效（非 E.164 格式）。
        - 401 `unauthorized`：认证失败，请检查您的凭证。
        - 500 `internal_server_error`：服务器内部错误。
      content:
        application/json:
          schema:
            type: object
            properties:
              error_type:
                type: string
                description: 错误类型。
              description:
                type: string
                description: 错误描述。
          examples:
            Example 1:
              value:
                error_type: "invalid_phone_format"
                description: "电话号码格式无效（非E.164格式）。"
  schemas:
    voice_id:
      type: string
      title: voice_id
      description: '智能体音色 ID，支持的音色 ID 详见[音色 ID 表](/zh-CN/ai/api/voice-ids)。'
    max_history:
      type: integer
      description: LLM 中缓存的短期记忆条目数。取值范围为 `[1,1024]`。短期记忆包括用户和智能体对话消息、工具调用信息和时间戳。智能体和用户会单独记录短期记忆条目。
      default: 32
    tts_params:
      title: params
      description: |-
        TTS 配置参数。不同 TTS 供应商下该参数结构不同。
        > 各供应商示例代码中未提及的参数，声网对话式 AI 引擎不保证完全支持。
      oneOf:
        - $ref: '#/components/schemas/tts_minimax'
        - $ref: '#/components/schemas/tts_tencent'
        - $ref: '#/components/schemas/tts_bytedance'
        - $ref: '#/components/schemas/tts_microsoft'
        - $ref: '#/components/schemas/tts_cosyvoice'
        - $ref: '#/components/schemas/tts_duplex'
        - $ref: '#/components/schemas/tts_stepfun'
    tts_minimax:
      title: Minimax
      type: object
      additionalProperties: {}
      description: |-
        Minimax TTS，具体协议详见 [Minimax 官方文档](https://platform.minimaxi.com/docs/api-reference/speech-t2a-http)。以下为示例：
        ```json
        "params": {
            "key": "xxxx",
            "model": "speech-01-turbo",
            "voice_setting": {
                "voice_id": "female-shaonv",
                "speed": 1,
                "vol": 1,
                "pitch": 0,
                "emotion": "happy",
                "latex_read": True,
                "english_normalization": True,
            },
            "audio_setting": {
                "sample_rate": 16000
            },
            "pronunciation_dict": {
                "tone": ["这是/(zei3)(si4)", "消息/(xiao3)(xi4)"]
            },
            # voice_id和timber_weights二选一必填
            # "timber_weights": [{
            #     "voice_id": "male-qn-qingse",
            #     "weight": 1
            # },
            # {
            #     "voice_id": "female-shaonv",
            #     "weight": 5
            # }],
            "language_boost": "auto"
        }
        ```
    tts_tencent:
      title: Tencent
      type: object
      additionalProperties: {}
      description: |-
        腾讯云 TTS，具体协议详见[腾讯云官方文档](https://cloud.tencent.com/document/product/1073/94308)。以下为示例：
        ```json
        "params": {
            "app_id": "xxxx",
            "secret_id": "xxxx",
            "secret_key": "xxxx",
            "voice_type": 601005,
            "volume": 0,
            "speed": 0,
            "emotion_category": "happy",
            "emotion_intensity": 100
        }
        ```
    tts_bytedance:
      title: Bytedance
      type: object
      description: |-
        火山 TTS，具体协议详见[火山引擎官方文档](https://www.volcengine.com/docs/6561/79823)。以下为示例：
        ```json
        "params": {
            "token": "xxxxx",
            "app_id": "xxxx",
            "cluster": "volcano_tts",
            "voice_type": "BV700_streaming",
            "speed_ratio": 1.0,
            "volume_ratio": 1.0,
            "pitch_ratio": 1.0,
            "emotion": "happy"
        }
        ```
      additionalProperties: {}
    tts_cosyvoice:
      title: CosyVoice
      type: object
      additionalProperties: {}
      description: |-
        阿里云 CosyVoice TTS，具体协议详见[阿里云官方文档](https://help.aliyun.com/zh/model-studio/cosyvoice-large-model-for-speech-synthesis/)。以下为示例：
        ```json
        "params": {
          "api_key": "your_cosyvoice_api_key",
          "model": "cosyvoice-v1",
          "sample_rate": 16000,
          "voice": "longxiaochun"
        }
        ```
    tts_duplex:
      title: Bytedance Duplex
      type: object
      additionalProperties: {}
      description: |-
       火山引擎双向流式 TTS，具体协议详见[火山引擎官方文档](https://www.volcengine.com/docs/6561/1329505)。以下为示例：
        ```json
        "params": {
          "app_id": "your_bytedance_tts_app_id",
          "token": "your_bytedance_tts_token",
          "speaker": "zh_female_shuangkuaisisi_moon_bigtts"
        }
        ```
    tts_stepfun:
      title: StepFun
      type: object
      additionalProperties: {}
      description: |-
       阶跃星辰 TTS，具体协议详见[阶跃星辰官方文档](https://platform.stepfun.com/docs/api-reference/audio/ws_audio)。以下为示例：
        ```json
        "params": {
          "api_key": "your_stepfun_tts_key",
          "model": "step-tts-mini",
          "voice_id": "cixingnansheng"
        }
        ```
    agent_id:
      title: agent_id
      type: string
      description: 对话式智能体 ID，即智能体唯一标识。
    channel:
      title: channel
      type: string
      description: 智能体所在 RTC 频道名。
    start_ts:
      title: start_ts
      type: integer
      description: 智能体创建时间戳。
    tts_microsoft:
      title: Microsoft
      type: object
      additionalProperties: {}
      description: |-
        微软 Azure TTS。以下为示例和参数说明：
        ```json
        "params": {
            "key": "<your_microsoft_key>",
            "region": "chinaeast2",
            "voice_name": "zh-CN-YunxiNeural",
            "speed": 1.0,
            "volume": 70
        }
        ```
        - `key`：（必需）String。微软 Azure 的 API key。
        - `region`：（必需）String。微软 TTS 服务的区域。
        - `voice_name`：（必需）String。音色。
        - `speed`：（可选）Number。语速。取值范围为 [0.5, 2.0]，默认值为 1.0。用于指示文本的语速。语速可以在单词或句子级别应用。
        - `volume`：（可选）Number。音量。取值范围为 [0.0, 100.0]，默认值为 100。例如，值为 75 表示音量设置为最大音量的 75%。
        - `sample_rate`：（可选）Integer。音频采样率 (Hz)。可选取值为 [16000, 24000, 48000]，默认值为 24000。

        > 更多信息请参考[微软官方文档](https://docs.azure.cn/zh-cn/ai-services/speech-service/)。
    metrics_modality:
      title: modality
      type: string
      description: 延迟模块名称，根据[创建对话式智能体](/zh-CN/api-reference/api-ref/conversational-ai/join)时设置的 LLM 输入模态的不同，返回不同的延迟模块。
      oneOf:
        - $ref: '#/components/schemas/metrics_modality_text'
        - $ref: '#/components/schemas/metrics_modality_audio'
    metrics_modality_text:
      title: text
      type: string
      description: |
        LLM 输入模态为 `text` 时，返回的延迟模块：
          - `algorithm_processing`：算法处理延迟，表示从用户说话结束的实际时间到判定出用户说话结束的延迟时间。
          - `asr_ttlw`：ASR 模块的 ttlw（Time To Last Word）指标，表示从检测到用户说话结束到 ASR 输出最后一个词的延迟时间。
          - `llm_ttft`：LLM 模块的 ttft（Time To First Token）指标，表示从 LLM 收到请求到输出第一个 token 的延迟时间。
          - `llm_ftfs`：LLM 模块的 ftfs（First token To First Sentence）指标，表示从 LLM 输出第一个 token 到输出第一个完整句子的延迟时间。
[...]
