openapi: 3.1.0
info:
  version: ""
  title: Conversational AI RESTful API
  description: >-
    The Conversational AI RESTful API lets you create and manage Conversational AI agent instances
    from your server.
servers:
  - url: https://api.agora.io/api/conversational-ai-agent
    description: Base endpoint for Conversational AI RESTful APIs.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use Basic HTTP authentication with your Agora customer ID and customer secret.
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Use an RTC token in the format `agora token=<your_token>`.
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: >-
        Authentication credential. Use `agora token=<your_token>` for token authentication or `Basic
        <base64_credentials>` for Basic HTTP authentication.
  schemas:
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
          description: Detailed error information.
        reason:
          type: string
          description: The reason for the failure.
security:
  - tokenAuth: []
  - basicAuth: []
paths:
  /v2/projects/{appid}/join:
    post:
      summary: Start a conversational AI agent
      description: Creates and starts a Conversational AI agent instance.
      x-docs-sections:
        - position: after-description
          markdown: Use this endpoint to create and start a Conversational AI agent instance.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed. The response body
            includes the `detail` and `reason` for failure. Refer to [status
            codes](/en/api-reference/api-ref/conversational-ai/status-codes) to understand the possible reasons for
            failure.


            - The following turn detection configuration is deprecated. To create more natural
            conversations and reduce unintended interruptions, Agora recommends using the latest
            version of `turn_detection` above.
      operationId: start-agent
      x-docs-code-sample-groups:
        - samples:
            - lang: bash
              label: curl
              source: |-
                curl --request post \
                --url https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join \
                --header 'Authorization: Basic <your_base64_encoded_credentials>' \
                --data '
                {
                    "name": "unique_name",
                    "properties": {
                        "channel": "channel_name",
                        "token": "token",
                        "agent_rtc_uid": "1001",
                        "remote_rtc_uids": [
                            "1002"
                        ],
                        "idle_timeout": 120,
                        "llm": {
                            "url": "https://api.openai.com/v1/chat/completions",
                            "api_key": "<your_llm_key>",
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful chatbot."
                                }
                            ],
                            "max_history": 32,
                            "greeting_message": "Hello, how can I assist you today?",
                            "failure_message": "Please hold on a second.",
                            "params": {
                                "model": "gpt-4o-mini"
                            }
                        },
                        "tts": {
                            "vendor": "microsoft",
                            "params": {
                                "key": "<your_tts_api_key>",
                                "region": "eastus",
                                "voice_name": "en-US-AndrewMultilingualNeural"
                            }
                        },
                        "asr": {
                            "language": "en-US"
                        }
                    }
                }'
            - lang: python
              label: Python
              source: |-
                import requests
                import json

                url = "https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join"

                headers = {"Authorization": "Basic <your_base64_encoded_credentials>"}

                data = {
                    "name": "unique_name",
                    "properties": {
                        "channel": "channel_name",
                        "token": "token",
                        "agent_rtc_uid": "1001",
                        "remote_rtc_uids": ["1002"],
                        "idle_timeout": 120,
                        "llm": {
                            "url": "https://api.openai.com/v1/chat/completions",
                            "api_key": "<your_llm_key>",
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful chatbot."
                                }
                            ],
                            "max_history": 32,
                            "greeting_message": "Hello, how can I assist you today?",
                            "failure_message": "Please hold on a second.",
                            "params": {
                                "model": "gpt-4o-mini"
                            }
                        },
                        "tts": {
                            "vendor": "microsoft",
                            "params": {
                                "key": "<your_tts_api_key>",
                                "region": "eastus",
                                "voice_name": "en-US-AndrewMultilingualNeural"
                            }
                        },
                        "asr": {
                            "language": "en-US"
                        }
                    }
                }

                response = requests.post(url, headers=headers, data=json.dumps(data))

                print(response.status_code)
                print(response.json())
            - lang: js
              label: Node.js
              source: >-
                const axios = require("axios");


                const url =
                "https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join";


                const headers = {
                    "Authorization": "Basic <your_base64_encoded_credentials>"
                };


                const data = {
                    name: "unique_name",
                    properties: {
                    channel: "channel_name",
                    token: "token",
                    agent_rtc_uid: "1001",
                    remote_rtc_uids: ["1002"],
                    idle_timeout: 120,
                    llm: {
                        url: "https://api.openai.com/v1/chat/completions",
                        api_key: "<your_llm_key>",
                        system_messages: [
                        {
                            role: "system",
                            content: "You are a helpful chatbot."
                        }
                        ],
                        max_history: 32,
                        greeting_message: "Hello, how can I assist you today?",
                        failure_message: "Please hold on a second.",
                        params: {
                        model: "gpt-4o-mini"
                        }
                    },
                    tts: {
                        vendor: "microsoft",
                        params: {
                        key: "<your_tts_api_key>",
                        region: "eastus",
                        voice_name: "en-US-AndrewMultilingualNeural"
                        }
                    },
                    asr: {
                        language: "en-US"
                    }
                    }
                };


                axios
                    .post(url, data, { headers })
                    .then(response => {
                    console.log("Status:", response.status);
                    console.log("Response:", response.data);
                    })
                    .catch(error => {
                    console.error("Error:", error.response ? error.response.data : error.message);
                    });
          title: Basic configuration
        - samples:
            - lang: bash
              label: curl
              source: >-
                curl -X POST
                'https://api.agora.io/api/conversational-ai-agent/v2/projects/<your_app_id>/join' \
                  -H 'Content-Type: application/json' \
                  -H 'Authorization: agora token=<your_token>' \
                  -d '{
                    "name": "<unique_agent_name>",
                    "pipeline_id": "<your_pipeline_id>",
                    "properties": {
                      "channel": "<your_channel_name>",
                      "token": "<your_rtc_token>",
                      "agent_rtc_uid": "1001",
                      "agent_rtm_uid": "<agent_rtm_uid>",
                      "remote_rtc_uids": ["1002"],
                      "enable_string_uid": false
                    }
                  }'
            - lang: python
              label: Python
              source: >-
                import requests

                import json


                url =
                "https://api.agora.io/api/conversational-ai-agent/v2/projects/<your_app_id>/join"


                headers = {
                    "Content-Type": "application/json",
                    "Authorization": "agora token=<your_token>"
                }


                data = {
                    "name": "<unique_agent_name>",
                    "pipeline_id": "<your_pipeline_id>",
                    "properties": {
                        "channel": "<your_channel_name>",
                        "token": "<your_rtc_token>",
                        "agent_rtc_uid": "1001",
                        "agent_rtm_uid": "<agent_rtm_uid>",
                        "remote_rtc_uids": ["1002"],
                        "enable_string_uid": False
                    }
                }


                response = requests.post(url, headers=headers, data=json.dumps(data))

                print(response.json())
            - lang: js
              label: Node.js
              source: >-
                const url =
                "https://api.agora.io/api/conversational-ai-agent/v2/projects/<your_app_id>/join";


                const headers = {
                  "Content-Type": "application/json",
                  "Authorization": "agora token=<your_token>"
                };


                const data = {
                  name: "<unique_agent_name>",
                  pipeline_id: "<your_pipeline_id>",
                  properties: {
                    channel: "<your_channel_name>",
                    token: "<your_rtc_token>",
                    agent_rtc_uid: "1001",
                    agent_rtm_uid: "<agent_rtm_uid>",
                    remote_rtc_uids: ["1002"],
                    enable_string_uid: false
                  }
                };


                fetch(url, {
                  method: "POST",
                  headers: headers,
                  body: JSON.stringify(data)
                })
                  .then(response => response.json())
                  .then(json => console.log(json))
                  .catch(error => console.error("Error:", error));
          title: Saved agent configuration
        - samples:
            - lang: bash
              label: curl
              source: |-
                curl --request POST \
                  --url https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join \
                  --header 'Authorization: Basic <credentials>' \
                  --data '
                {
                  "name": "full_config_agent",
                  "properties": {
                    "channel": "full_channel_name",
                    "token": "full_token_value",
                    "agent_rtc_uid": "12345",
                    "remote_rtc_uids": [
                      "67890"
                    ],
                    "enable_string_uid": false,
                    "idle_timeout": 180,
                    "advanced_features": {
                      "enable_rtm": true,
                      "enable_sal": true
                    },
                    "asr": {
                      "language": "en-US",
                      "vendor": "microsoft",
                      "params": {
                        "key": "your_microsoft_key",
                        "region": "eastus",
                        "language": "en-US",
                        "phrase_list": [
                          "agora",
                          "fengming"
                        ]
                      }
                    },
                    "tts": {
                      "vendor": "microsoft",
                      "skip_patterns": [
                        1,
                        2
                      ],
                      "params": {
                        "key": "your_microsoft_key",
                        "region": "eastus",
                        "voice_name": "en-US-AndrewMultilingualNeural",
                        "speed": 1,
                        "volume": 70,
                        "sample_rate": 24000
                      }
                    },
                    "llm": {
                      "url": "https://api.openai.com/v1/chat/completions",
                      "api_key": "your_openai_api_key",
                      "system_messages": [
                        {
                          "role": "system",
                          "content": "You are a professional AI assistant. User name is {{user_name}}."
                        }
                      ],
                      "greeting_message": "Hello {{user_name}}, I am your smart assistant. How can I help you?",
                      "greeting_configs": {
                        "mode": "single_every"
                      },
                      "failure_message": "Sorry, there was a system problem. Please try again later.",
                      "max_history": 64,
                      "input_modalities": [
                        "text",
                        "image"
                      ],
                      "output_modalities": [
                        "text"
                      ],
                      "params": {
                        "model": "gpt-4o",
                        "temperature": 0.8,
                        "max_tokens": 2048,
                        "stream": true
                      },
                      "template_variables": {
                        "user_name": "John",
                        "company_name": "Agora"
                      }
                    },
                    "avatar": {
                      "vendor": "heygen",
                      "enable": true,
                      "params": {
                        "api_key": "<heygen_key>",
                        "quality": "medium",
                        "agora_uid": "<avatar_rtc_uid>",
                        "agora_token": "<avatar_rtc_token>",
                        "avatar_id": "",
                        "disable_idle_timeout": false,
                        "activity_idle_timeout": 60
                      }
                    },
                    "turn_detection": {
                      "mode": "default",
                      "config": {
                        "speech_threshold": 0.5,
                        "start_of_speech": {
                          "mode": "vad",
                          "vad_config": {
                            "interrupt_duration_ms": 160,
                            "speaking_interrupt_duration_ms": 320,
                            "prefix_padding_ms": 800
                          }
                        },
                        "end_of_speech": {
                          "mode": "semantic",
                          "semantic_config": {
                            "silence_duration_ms": 320,
                            "max_wait_ms": 3000
                          }
                        }
                      }
                    },
                    "sal": {
                      "sal_mode": "locking",
                      "sample_urls": {
                        "speaker1": "https://example.com/voiceprint1.pcm"
                      }
                    },
                    "labels": {
                      "campaign_id": "spring_2025",
                      "customer_group": "vip",
                      "region": "eastus"
                    },
                    "rtc": {
                      "encryption_key": "your_32_byte_encryption_key_here",
                      "encryption_salt": "TsP4fLLyxxxxxxxxxroLA9oE=",
                      "encryption_mode": 8
                    },
                    "filler_words": {
                      "enable": true,
                      "trigger": {
                        "mode": "fixed_time",
                        "config": {
                          "response_wait_ms": 1500
                        }
                      },
                      "content": {
                        "mode": "static",
                        "config": {
                          "phrases": [
                            "Please wait a moment.",
                            "OK",
                            "Uh-huh."
                          ],
                          "selection_rule": "shuffle"
                        }
                      }
                    },
                    "parameters": {
                      "silence_config": {
                        "timeout_ms": 15000,
                        "action": "think",
                        "content": "User has not responded for an extended period. Please inquire whether continued service is needed."
                      },
                      "farewell_config": {
                        "graceful_enabled": true,
                        "graceful_timeout_seconds": 60
                      },
                      "data_channel": "rtm",
                      "enable_metrics": true,
                      "enable_error_message": true,
                      "opt_out": false
                    }
                  }
                }'
            - lang: python
              label: Python
              source: |-
                import requests

                url = "https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join"

                payload = {
                    "name": "full_config_agent",
                    "properties": {
                        "channel": "full_channel_name",
                        "token": "full_token_value",
                        "agent_rtc_uid": "12345",
                        "remote_rtc_uids": ["67890"],
                        "enable_string_uid": False,
                        "idle_timeout": 180,
                        "advanced_features": {
                            "enable_rtm": True,
                            "enable_sal": True
                        },
                        "asr": {
                            "language": "en-US",
                            "vendor": "microsoft",
                            "params": {
                                "key": "your_microsoft_key",
                                "region": "eastus",
                                "language": "en-US",
                                "phrase_list": ["agora", "fengming"]
                            }
                        },
                        "tts": {
                            "vendor": "microsoft",
                            "skip_patterns": [1, 2],
                            "params": {
                                "key": "your_microsoft_key",
                                "region": "eastus",
                                "voice_name": "en-US-AndrewMultilingualNeural",
                                "speed": 1,
                                "volume": 70,
                                "sample_rate": 24000
                            }
                        },
                        "llm": {
                            "url": "https://api.openai.com/v1/chat/completions",
                            "api_key": "your_openai_api_key",
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a professional AI assistant. User name is {{user_name}}."
                                }
                            ],
                            "greeting_message": "Hello {{user_name}}, I am your smart assistant. How can I help you?",
                            "greeting_configs": { "mode": "single_every" },
                            "failure_message": "Sorry, there was a system problem. Please try again later.",
                            "max_history": 64,
                            "input_modalities": ["text", "image"],
                            "output_modalities": ["text"],
                            "params": {
                                "model": "gpt-4o",
                                "temperature": 0.8,
                                "max_tokens": 2048,
                                "stream": True
                            },
                            "template_variables": {
                                "user_name": "John",
                                "company_name": "Agora"
                            }
                        },
                        "avatar": {
                            "vendor": "heygen",
                            "enable": True,
                            "params": {
                                "api_key": "<heygen_key>",
                                "quality": "medium",
                                "agora_uid": "<avatar_rtc_uid>",
                                "agora_token": "<avatar_rtc_token>",
                                "avatar_id": "",
                                "disable_idle_timeout": False,
                                "activity_idle_timeout": 60
                            }
                        },
                        "turn_detection": {
                            "mode": "default",
                            "config": {
                                "speech_threshold": 0.5,
                                "start_of_speech": {
                                    "mode": "vad",
                                    "vad_config": {
                                        "interrupt_duration_ms": 160,
                                        "speaking_interrupt_duration_ms": 320,
                                        "prefix_padding_ms": 800
                                    }
                                },
                                "end_of_speech": {
                                    "mode": "semantic",
                                    "semantic_config": {
                                        "silence_duration_ms": 320,
                                        "max_wait_ms": 3000
                                    }
                                }
                            }
                        },
                        "sal": {
                            "sal_mode": "locking",
                            "sample_urls": { "speaker1": "https://example.com/voiceprint1.pcm" }
                        },
                        "labels": {
                            "campaign_id": "spring_2025",
                            "customer_group": "vip",
                            "region": "eastus"
                        },
                        "rtc": {
                            "encryption_key": "your_32_byte_encryption_key_here",
                            "encryption_salt": "TsP4fLLyxxxxxxxxxroLA9oE=",
                            "encryption_mode": 8
                        },
                        "filler_words": {
                            "enable": True,
                            "trigger": {
                                "mode": "fixed_time",
                                "config": { "response_wait_ms": 1500 }
                            },
                            "content": {
                                "mode": "static",
                                "config": {
                                    "phrases": ["Please wait a moment.", "OK", "Uh-huh."],
                                    "selection_rule": "shuffle"
                                }
                            }
                        },
                        "parameters": {
                            "silence_config": {
                                "timeout_ms": 15000,
                                "action": "think",
                                "content": "User has not responded for an extended period. Please inquire whether continued service is needed."
                            },
                            "farewell_config": {
                                "graceful_enabled": True,
                                "graceful_timeout_seconds": 60
                            },
                            "data_channel": "rtm",
                            "enable_metrics": True,
                            "enable_error_message": True
                        }
                    }
                }
                headers = {"Authorization": "Basic <credentials>"}

                response = requests.post(url, json=payload, headers=headers)

                print(response.text)
            - lang: js
              label: Node.js
              source: >-
                const url =
                'https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join';

                const options = {
                  method: 'POST',
                  headers: {Authorization: 'Basic <credentials>'},
                  body: JSON.stringify({
                    name: 'full_config_agent',
                    properties: {
                      channel: 'full_channel_name',
                      token: 'full_token_value',
                      agent_rtc_uid: '12345',
                      remote_rtc_uids: ['67890'],
                      enable_string_uid: false,
                      idle_timeout: 180,
                      advanced_features: {enable_rtm: true, enable_sal: true},
                      asr: {
                        language: 'en-US',
                        vendor: 'microsoft',
                        params: {
                          key: 'your_microsoft_key',
                          region: 'eastus',
                          language: 'en-US',
                          phrase_list: ['agora', 'fengming']
                        }
                      },
                      tts: {
                        vendor: 'microsoft',
                        skip_patterns: [1, 2],
                        params: {
                          key: 'your_microsoft_key',
                          region: 'eastus',
                          voice_name: 'en-US-AndrewMultilingualNeural',
                          speed: 1,
                          volume: 70,
                          sample_rate: 24000
                        }
                      },
                      llm: {
                        url: 'https://api.openai.com/v1/chat/completions',
                        api_key: 'your_openai_api_key',
                        system_messages: [
                          {
                            role: 'system',
                            content: 'You are a professional AI assistant. User name is {{user_name}}.'
                          }
                        ],
                        greeting_message: 'Hello {{user_name}}, I am your smart assistant. How can I help you?',
                        greeting_configs: {mode: 'single_every'},
                        failure_message: 'Sorry, there was a system problem. Please try again later.',
                        max_history: 64,
                        input_modalities: ['text', 'image'],
                        output_modalities: ['text'],
                        vendor: 'custom',
                        params: {model: 'gpt-4o', temperature: 0.8, max_tokens: 2048, stream: true},
                        template_variables: {user_name: 'John', company_name: 'Agora'}
                      },
                      avatar: {
                        vendor: 'heygen',
                        enable: true,
                        params: {
                          api_key: '<heygen_key>',
                          quality: 'medium',
                          agora_uid: '<avatar_rtc_uid>',
                          agora_token: '<avatar_rtc_token>',
                          avatar_id: '',
                          disable_idle_timeout: false,
                          activity_idle_timeout: 60
                        }
                      },
                      turn_detection: {
                        mode: 'default',
                        config: {
                          speech_threshold: 0.5,
                          start_of_speech: {
                            mode: 'vad',
                            vad_config: {
                              interrupt_duration_ms: 160,
                              speaking_interrupt_duration_ms: 320,
                              prefix_padding_ms: 800
                            }
                          },
                          end_of_speech: {
                            mode: 'semantic',
                            semantic_config: {silence_duration_ms: 320, max_wait_ms: 3000}
                          }
                        }
                      },
                      sal: {
                        sal_mode: 'locking',
                        sample_urls: {speaker1: 'https://example.com/voiceprint1.pcm'}
                      },
                      labels: {campaign_id: 'spring_2025', customer_group: 'vip', region: 'eastus'},
                      rtc: {
                        encryption_key: 'your_32_byte_encryption_key_here',
                        encryption_salt: 'TsP4fLLyxxxxxxxxxroLA9oE=',
                        encryption_mode: 8
                      },
                      filler_words: {
                        enable: true,
                        trigger: {mode: 'fixed_time', config: {response_wait_ms: 1500}},
                        content: {
                          mode: 'static',
                          config: {phrases: ['Please wait a moment.', 'OK', 'Uh-huh.'], selection_rule: 'shuffle'}
                        }
                      },
                      parameters: {
                        silence_config: {timeout_ms: 15000, action: 'think', content: 'User has not responded for an extended period. Please inquire whether continued service is needed.'},
                        farewell_config: {graceful_enabled: true, graceful_timeout_seconds: 60},
                        data_channel: 'rtm',
                        enable_metrics: true,
                        enable_error_message: true
                      }
                    }
                  })
                };


                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
          title: Advanced configuration
        - samples:
            - lang: bash
              label: curl
              source: |-
                curl --request POST \
                  --url https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join \
                  --header 'Authorization: Basic <credentials>' \
                  --data '
                {
                  "name": "unique_name",
                  "properties": {
                    "channel": "channel_name",
                    "token": "token",
                    "agent_rtc_uid": "friday",
                    "remote_rtc_uids": [
                      "1002"
                    ],
                    "enable_string_uid": true,
                    "idle_timeout": 120,
                    "llm": {
                      "url": "https://api.openai.com/v1/chat/completions",
                      "api_key": "<your_llm_key>",
                      "system_messages": [
                        {
                          "role": "system",
                          "content": "You are a helpful chatbot."
                        }
                      ],
                      "greeting_message": "Hello, how can I help you?",
                      "failure_message": "I'm sorry, I can't answer that question.",
                      "max_history": 32,
                      "params": {
                        "model": "gpt-4o-mini"
                      }
                    },
                    "asr": {
                      "language": "en-US"
                    },
                    "tts": {
                      "vendor": "microsoft",
                      "params": {
                        "key": "<your_tts_api_key>",
                        "region": "eastus",
                        "voice_name": "en-US-AndrewMultilingualNeural"
                      }
                    }
                  }
                }'
            - lang: python
              label: Python
              source: |-
                import requests

                url = "https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join"

                payload = {
                    "name": "unique_name",
                    "properties": {
                        "channel": "channel_name",
                        "token": "token",
                        "agent_rtc_uid": "friday",
                        "remote_rtc_uids": ["1002"],
                        "enable_string_uid": True,
                        "idle_timeout": 120,
                        "llm": {
                            "url": "https://api.openai.com/v1/chat/completions",
                            "api_key": "<your_llm_key>",
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful chatbot."
                                }
                            ],
                            "greeting_message": "Hello, how can I help you?",
                            "failure_message": "I'm sorry, I can't answer that question.",
                            "max_history": 32,
                            "params": {
                                "model": "gpt-4o-mini"
                            }
                        },
                        "asr": {
                            "language": "en-US"
                        },
                        "tts": {
                            "vendor": "microsoft",
                            "params": {
                                "key": "<your_tts_api_key>",
                                "region": "eastus",
                                "voice_name": "en-US-AndrewMultilingualNeural"
                            }
                        }
                    }
                }
                headers = {"Authorization": "Basic <credentials>"}

                response = requests.post(url, json=payload, headers=headers)

                print(response.text)
            - lang: js
              label: Node.js
              source: >-
                const url =
                'https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join';

                const options = {
                  method: 'POST',
                  headers: {Authorization: 'Basic <credentials>'},
                  body: JSON.stringify({
                    name: 'unique_name',
                    properties: {
                      channel: 'channel_name',
                      token: 'token',
                      agent_rtc_uid: 'friday',
                      remote_rtc_uids: ['1002'],
                      enable_string_uid: true,
                      idle_timeout: 120,
                      llm: {
                        url: 'https://api.openai.com/v1/chat/completions',
                        api_key: '<your_llm_key>',
                        system_messages: [{role: 'system', content: 'You are a helpful chatbot.'}],
                        greeting_message: 'Hello, how can I help you?',
                        failure_message: 'I'm sorry, I can't answer that question.',
                        max_history: 32,
                        params: {model: 'gpt-4o-mini'}
                      },
                      asr: {language: 'en-US'},
                      tts: {
                        vendor: 'microsoft',
                        params: {
                          key: '<your_tts_api_key>',
                          region: 'eastus',
                          voice_name: 'en-US-AndrewMultilingualNeural'
                        }
                      }
                    }
                  })
                };


                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
          title: String UID
        - samples:
            - lang: bash
              label: curl
              source: |-
                curl --request POST \
                  --url https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join \
                  --header 'Authorization: Basic <credentials>' \
                  --data '
                {
                  "name": "unique_name",
                  "properties": {
                    "channel": "channel_name",
                    "token": "token",
                    "agent_rtc_uid": "1001",
                    "remote_rtc_uids": [
                      "1002"
                    ],
                    "idle_timeout": 120,
                    "llm": {
                      "url": "https://api.openai.com/v1/chat/completions",
                      "api_key": "<your_llm_key>",
                      "system_messages": [
                        {
                          "role": "system",
                          "content": "You are a helpful assistant. User name is {{user_name}}, and their account ID is {{account_id}}."
                        }
                      ],
                      "greeting_message": "Hello {{user_name}}, how can I help you?",
                      "failure_message": "Sorry, {{user_name}}, I cannot answer this question. Please try again later.",
                      "max_history": 32,
                      "params": {
                        "model": "gpt-4o-mini"
                      },
                      "template_variables": {
                        "user_name": "John",
                        "account_id": "ACC123456",
                        "silent_prompt": "If the user does not respond for an extended period, please inquire whether you require continued service."
                      },
                      "mcp_servers": [
                          {
                              "name": "mcpserver",
                              "transport": "streamable_http",
                              "endpoint": "https://registry.run.mcp.com.ai/mcp",
                              "allowed_tools": [
                                  "getV01Servers"
                              ],
                          }
                      ]
                    },
                    "asr": {
                      "language": "en-US"
                    },
                    "tts": {
                      "vendor": "minimax",
                      "skip_patterns": [
                        1
                      ],
                      "params": {
                        "group_id": "xxxx",
                        "key": "xxxx",
                        "model": "speech-01-turbo",
                        "voice_setting": {
                          "voice_id": "English_captivating_female1",
                          "speed": 1,
                          "vol": 1,
                          "pitch": 0,
                          "emotion": "happy"
                        },
                        "audio_setting": {
                          "sample_rate": 16000
                        }
                      }
                    },
                    "parameters": {
                      "silence_config": {
                        "timeout_ms": 10000,
                        "action": "think",
                        "content": "{{silent_prompt}}"
                      },
                      "opt_out": false
                    }
                  }
                }'
            - lang: python
              label: Python
              source: |-
                import requests

                url = "https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join"

                payload = {
                    "name": "unique_name",
                    "properties": {
                        "channel": "channel_name",
                        "token": "token",
                        "agent_rtc_uid": "1001",
                        "remote_rtc_uids": ["1002"],
                        "idle_timeout": 120,
                        "llm": {
                            "url": "https://api.openai.com/v1/chat/completions",
                            "api_key": "<your_llm_key>",
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful assistant. User name is {{user_name}}, and their account ID is {{account_id}}."
                                }
                            ],
                            "greeting_message": "Hello {{user_name}}, how can I help you?",
                            "failure_message": "Sorry, {{user_name}}, I cannot answer this question. Please try again later.",
                            "max_history": 32,
                            "params": {
                                "model": "gpt-4o-mini"
                            },
                            "template_variables": {
                                "user_name": "John",
                                "account_id": "ACC123456",
                                "silent_prompt": "If the user does not respond for an extended period, please inquire whether you require continued service."
                            },
                            "mcp_servers": [
                                {
                                    "name": "mcpserver",
                                    "transport": "streamable_http",
                                    "endpoint": "https://registry.run.mcp.com.ai/mcp",
                                    "allowed_tools": ["getV01Servers"]
                                }
                            ]
                        },
                        "asr": {
                            "language": "en-US"
                        },
                        "tts": {
                            "vendor": "minimax",
                            "skip_patterns": [1],
                            "params": {
                                "group_id": "xxxx",
                                "key": "xxxx",
                                "model": "speech-01-turbo",
                                "voice_setting": {
                                    "voice_id": "English_captivating_female1",
                                    "speed": 1,
                                    "vol": 1,
                                    "pitch": 0,
                                    "emotion": "happy"
                                },
                                "audio_setting": { "sample_rate": 16000 }
                            }
                        },
                        "parameters": { "silence_config": {
                                "timeout_ms": 10000,
                                "action": "think",
                                "content": "{{silent_prompt}}"
                            } }
                    }
                }
                headers = {"Authorization": "Basic <credentials>"}

                response = requests.post(url, json=payload, headers=headers)

                print(response.text)
            - lang: js
              label: Node.js
              source: >-
                const url =
                'https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join';

                const options = {
                  method: 'POST',
                  headers: {Authorization: 'Basic <credentials>'},
                  body: JSON.stringify({
                    name: 'unique_name',
                    properties: {
                      channel: 'channel_name',
                      token: 'token',
                      agent_rtc_uid: '1001',
                      remote_rtc_uids: ['1002'],
                      idle_timeout: 120,
                      llm: {
                        url: 'https://api.openai.com/v1/chat/completions',
                        api_key: '<your_llm_key>',
                        system_messages: [
                          {
                            role: 'system',
                            content: 'You are a helpful assistant. User name is {{user_name}}, and their account ID is {{account_id}}.'
                          }
                        ],
                        greeting_message: 'Hello {{user_name}}, how can I help you?',
                        failure_message: 'Sorry, {{user_name}}, I cannot answer this question. Please try again later.',
                        max_history: 32,
                        params: {model: 'gpt-4o-mini'},
                        template_variables: {
                          user_name: 'John',
                          account_id: 'ACC123456',
                          silent_prompt: 'If the user does not respond for an extended period, please inquire whether you require continued service.'
                        },
                        mcp_servers: [
                          {
                            name: 'mcpserver',
                            transport: 'streamable_http',
                            endpoint: 'https://registry.run.mcp.com.ai/mcp',
                            allowed_tools: ['getV01Servers']
                          }
                        ]
                      },
                      asr: {language: 'en-US'},
                      tts: {
                        vendor: 'minimax',
                        skip_patterns: [1],
                        params: {
                          group_id: 'xxxx',
                          key: 'xxxx',
                          model: 'speech-01-turbo',
                          voice_setting: {voice_id: 'English_captivating_female1', speed: 1, vol: 1, pitch: 0, emotion: 'happy'},
                          audio_setting: {sample_rate: 16000}
                        }
                      },
                      parameters: {
                        silence_config: {timeout_ms: 10000, action: 'think', content: '{{silent_prompt}}'}
                      }
                    }
                  })
                };


                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
          title: MCP server integration
        - samples:
            - lang: bash
              label: curl
              source: |-
                curl --request POST \
                --url https://api.agora.io/api/conversational-ai-agent/v2/projects/:appid/join \
                --header 'Authorization: Basic <your_base64_encoded_credentials>' \
                --data '
                {
                    "name": "unique_name",
                    "preset": "deepgram_nova_3,openai_gpt_5_mini,minimax_speech_2_6_turbo",
                    "properties": {
                        "channel": "channel_name",
                        "token": "token",
                        "agent_rtc_uid": "1001",
                        "remote_rtc_uids": [
                            "1002"
                        ],
                        "idle_timeout": 120,
                        "llm": {
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful chatbot."
                                }
                            ],
                            "max_history": 32,
                            "greeting_message": "Hello, how can I assist you today?",
                            "failure_message": "Please hold on a second."
                        },
                        "tts": {
                            "vendor": "minimax",
                            "params": {
                                "voice_setting": {
                                    "voice_id": "English_captivating_female1"
                                }
                            }
                        },
                        "asr": {
                            "vendor": "deepgram",
                            "params": {
                                "language": "en",
                                "keyterm": "agora"
                            }
                        }
                    }
                }'
            - lang: python
              label: Python
              source: |-
                import requests
                import base64

                app_id = "<your_app_id>"
                credentials = "<your_base64_encoded_credentials>"

                url = f"https://api.agora.io/api/conversational-ai-agent/v2/projects/{app_id}/join"

                headers = {
                    "Authorization": f"Basic {credentials}",
                    "Content-Type": "application/json"
                }

                payload = {
                    "name": "unique_name",
                    "preset": "deepgram_nova_3,openai_gpt_5_mini,minimax_speech_2_6_turbo",
                    "properties": {
                        "channel": "channel_name",
                        "token": "token",
                        "agent_rtc_uid": "1001",
                        "remote_rtc_uids": ["1002"],
                        "idle_timeout": 120,
                        "llm": {
                            "system_messages": [
                                {
                                    "role": "system",
                                    "content": "You are a helpful chatbot."
                                }
                            ],
                            "max_history": 32,
                            "greeting_message": "Hello, how can I assist you today?",
                            "failure_message": "Please hold on a second."
                        },
                        "tts": {
                            "vendor": "minimax",
                            "params": {
                                "voice_setting": {
                                    "voice_id": "English_captivating_female1"
                                }
                            }
                        },
                        "asr": {
                            "vendor": "deepgram",
                            "params": {
                                "language": "en",
                                "keyterm": "agora"
                            }
                        }
                    }
                }

                response = requests.post(url, headers=headers, json=payload)
                print(response.status_code)
                print(response.json())
            - lang: js
              label: Node.js
              source: >-
                const appId = "<your_app_id>";

                const credentials = "<your_base64_encoded_credentials>";


                const url =
                `https://api.agora.io/api/conversational-ai-agent/v2/projects/${appId}/join`;


                const payload = {
                  name: "unique_name",
                  preset: "deepgram_nova_3,openai_gpt_5_mini,minimax_speech_2_6_turbo",
                  properties: {
                    channel: "channel_name",
                    token: "token",
                    agent_rtc_uid: "1001",
                    remote_rtc_uids: ["1002"],
                    idle_timeout: 120,
                    llm: {
                      system_messages: [
                        {
                          role: "system",
                          content: "You are a helpful chatbot."
                        }
                      ],
                      max_history: 32,
                      greeting_message: "Hello, how can I assist you today?",
                      failure_message: "Please hold on a second."
                    },
                    tts: {
                      vendor: "minimax",
                      params: {
                        voice_setting: {
                          voice_id: "English_captivating_female1"
                        }
                      }
                    },
                    asr: {
                      vendor: "deepgram",
                      params: {
                        language: "en",
                        keyterm: "agora"
                      }
                    }
                  }
                };


                const response = await fetch(url, {
                  method: "POST",
                  headers: {
                    "Authorization": `Basic ${credentials}`,
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify(payload)
                });


                const data = await response.json();

                console.log(response.status);

                console.log(data);
          title: Preset models
      parameters:
        - name: appid
          in: path
          required: true
          schema:
            type: string
          description: The App ID of the project.
      responses:
        "200":
          description: The request was successful. The response body contains the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                    description: Unique id of the agent instance
                  create_ts:
                    type: integer
                    description: Timestamp of when the agent was created
                  status:
                    type: string
                    enum:
                      - IDLE
                      - STARTING
                      - RUNNING
                      - STOPPING
                      - STOPPED
                      - FAILED
                    description: |-
                      Current status.

                      - `IDLE` (0): Agent is idle.

                      - `STARTING` (1): The agent is being started.

                      - `RUNNING` (2): The agent is running.

                      - `STOPPING` (3): The agent is stopping.

                      - `STOPPED` (4): The agent has exited.

                      - `FAILED` (6): The agent failed to execute.
              example:
                agent_id: 1NT29X10YHxxxxxWJOXLYHNYB
                create_ts: 1737111452
                status: RUNNING
        default:
          description: The request failed. The response body includes the error details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: >-
                    The unique identifier of the agent. The same identifier cannot be used
                    repeatedly.
                preset:
                  type: string
                  description: >-
                    Deprecated. Use `credential_mode: "managed"` within the `asr`, `llm`, or `tts`
                    block instead. See [Use managed
                    mode](/en/ai/build/custom-model-integration/managed-mode).


                    A comma-separated string of one or more presets. Each preset provides a
                    predefined configuration for ASR, LLM, and TTS. You can specify a preset for any
                    or all of ASR, LLM, and TTS. When a preset is specified, you do not need to
                    provide the endpoint URL, API key, or model for the preset providers. Use the
                    `asr`, `llm`, and `tts` fields to configure additional settings.
                  deprecated: true
                pipeline_id:
                  type: string
                  description: >-
                    The unique ID of a published agent in Conversational AI
                    Studio. When provided, the saved agent
                    configuration is used as the base configuration. Any fields specified in
                    `properties` override the corresponding agent settings. When you specify a
                    `pipeline_id`, the `asr`, `tts`, and `llm` fields in `properties` are optional.


                    The unique ID of a published agent in STUDIO. When provided, the saved agent
                    configuration is used as the base configuration. Any fields specified in
                    properties override the corresponding agent settings. When you specify a
                    pipeline_id, the asr, tts, and llm fields in properties are optional.
                properties:
                  type: object
                  additionalProperties: true
                  description: Configuration details of the agent.
                  properties:
                    channel:
                      type: string
                      description: The name of the channel to join.
                    token:
                      type: string
                      description: The authentication token used by the agent to join the channel.
                    agent_rtc_uid:
                      type: string
                      description: >-
                        The user ID of the agent in the channel. All UIDs within an RTC channel must
                        be unique. Ensure no other user or service bot is using this UID. A value of
                        `0` means that a unique random UID is generated and assigned. Set the
                        `token` accordingly.
                    remote_rtc_uids:
                      type: array
                      items:
                        type: string
                      description: >-
                        A list of user IDs that the agent subscribes to in the channel. Only
                        subscribed users can interact with the agent.
                      x-docs-callouts:
                        - type: info
                          title: Note
                          position: after-description
                          markdown: |
                            Currently, only one user ID is supported.
                    enable_string_uid:
                      type: boolean
                      default: false
                      description: |-
                        Whether to enable String uid:

                        - `true`: Both agent and subscriber user IDs use strings.

                        - `false`: Both agent and subscriber user IDs must be integers.
                    idle_timeout:
                      type: integer
                      default: 30
                      minimum: 0
                      maximum: 259200
                      description: >-
                        The maximum idle time in seconds after all users specified in
                        `remote_rtc_uids` are detected to have left the channel. When the idle time
                        exceeds this value, the agent automatically stops and exits the channel. The
                        valid range is `0` to `259200` (72 hours).

                        - When set to `0`, the agent does not exit due to channel idle timeout.

                        - Regardless of the `idle_timeout` value, the maximum running time for a
                        single session is 72 hours. The agent automatically exits after 72 hours.
                      x-docs-callouts:
                        - type: idea
                          title: Agent lifecycle best practice
                          position: after-description
                          markdown: >
                            For precise and reliable control over the agent's lifecycle, use the
                            [`leave`](/en/api-reference/api-ref/conversational-ai/leave) API to
                            terminate the agent as soon as its task is complete.
                    geofence:
                      type: object
                      description: >-
                        Regional access restriction configuration. Use this to limit which Agora
                        servers the Conversational AI Engine can access based on geographic regions.
                      additionalProperties: true
                      properties:
                        area:
                          type: string
                          enum:
                            - GLOBAL
                            - NORTH_AMERICA
                            - EUROPE
                            - ASIA
                            - INDIA
                            - JAPAN
                          description: The allowed region for server access.
                        exclude_area:
                          type: string
                          enum:
                            - NORTH_AMERICA
                            - EUROPE
                            - ASIA
                            - INDIA
                            - JAPAN
                          description: The excluded region. Only available when `area` is set to `GLOBAL`.
                      required:
                        - area
                    advanced_features:
                      type: object
                      additionalProperties: true
                      description: Advanced features configuration.
                      properties:
                        enable_mllm:
                          type: boolean
                          default: false
                          description: >-
                            Use [mllm.enable](#request-body-properties-mllm-enable) instead.


                            Enable Multimodal Large Language Model for voice-to-voice processing.
                            Enabling MLLM automatically disables ASR, LLM, and TTS since the MLLM
                            handles end-to-end voice processing directly. See `turn_detection.type`
                            for turn detection options available with MLLM.
                          deprecated: true
                        enable_rtm:
                          type: boolean
                          default: false
                          description: >-
                            Whether to enable the Signaling (RTM) service. When enabled, the agent
                            can combine the capabilities provided by Signaling to implement advanced
                            functions, such as delivering [custom
                            information](/en/ai/build/shape-the-conversation/custom-information).
                          x-docs-callouts:
                            - type: info
                              title: Note
                              position: after-description
                              markdown: >
                                Before enabling the Signaling service, make sure the token includes
                                both

                                RTC and RTM privileges. When an agent joins an RTM channel, it
                                reuses

                                the token specified in the `token` field. For more information, see

                                ["How can I generate a token with both RTC and Signaling

                                privileges?"](/en/api-reference/faq/integration/rtc_rtm_token).
                        enable_sal:
                          type: boolean
                          default: false
                          description: >-
                            Enable Selective Attention Locking (SAL). When enabled, configure the
                            `sal` field to set up speaker recognition or locking modes. See the
                            `sal` parameter for configuration details.
                        enable_tools:
                          type: boolean
                          default: false
                          description: >-
                            Enable tool invocation. When enabled, the agent can invoke tools
                            provided by the MCP server to implement advanced functionality.
                    asr:
                      type: object
                      additionalProperties: true
                      description: Automatic Speech Recognition (ASR) configuration.
                      properties:
                        credential_mode:
                          type: string
                          default: byok
                          enum:
                            - managed
                            - byok
                          description: >-
                            The credential mode for this provider:


                            - `managed`: Use Agora-managed credentials. You do not need to provide an
                            API key. See [Use managed
                            mode](/en/ai/build/custom-model-integration/managed-mode).


                            - `byok`: Bring your own key. Provide your own provider credentials,
                            including the API key.
                        language:
                          type: string
                          default: en-US
                          description: >-
                            The BCP-47 language tag identifying the primary language used for agent
                            interaction. If `params` contains a vendor-specific language code, it
                            takes precedence over this setting.
                        vendor:
                          type: string
                          default: ares
                          enum:
                            - ares
                            - microsoft
                            - deepgram
                            - openai
                            - google
                            - gemini
                            - amazon
                            - assemblyai
                            - sarvam
                            - xai
                          description: >-
                            ASR provider:

                            - `ares`: [Adaptive Recognition Engine for
                            Speech](/en/ai/models/asr/ares)

                            - `microsoft`: [Microsoft
                            Azure](/en/ai/models/asr/microsoft)

                            - `deepgram`: [Deepgram](/en/ai/models/asr/deepgram)

                            - `openai`: [OpenAI](/en/ai/models/asr/openai)

                            - `speechmatics`:
                            [Speechmatics](/en/ai/models/asr/speechmatics)

                            - `assemblyai`: [AssemblyAI](/en/ai/models/asr/assembly-ai)

                            - `amazon`: Amazon Transcribe

                            - `google`: [Google](/en/ai/models/asr/google)

                            - `gemini`: [Gemini](/en/ai/models/asr/gemini)

                            - `sarvam`: [Sarvam](/en/ai/models/asr/sarvam)

                            - `xai`: [xAI](/en/ai/models/asr/xai)
                        params:
                          type: object
                          additionalProperties: true
                          description: >-
                            The configuration parameters for the selected ASR vendor. For
                            vendor-specific parameters, see the corresponding ASR provider page
                            listed in `asr.vendor`.
                      required:
                        - params
                    tts:
                      type: object
                      additionalProperties: true
                      description: Text-to-speech (TTS) module configuration.
                      properties:
                        credential_mode:
                          type: string
                          default: byok
                          enum:
                            - managed
                            - byok
                          description: >-
                            The credential mode for this provider:


                            - `managed`: Use Agora-managed credentials. You do not need to provide an
                            API key. See [Use managed
                            mode](/en/ai/build/custom-model-integration/managed-mode).


                            - `byok`: Bring your own key. Provide your own provider credentials,
                            including the API key.
                        vendor:
                          type: string
                          enum:
                            - amazon
                            - cartesia
                            - deepgram
                            - elevenlabs
                            - fishaudio
                            - generic_http
                            - google
                            - gradium
                            - humeai
                            - microsoft
                            - minimax
                            - mistral
                            - openai
                            - rime
                            - sarvam
                            - xai
                          description: >-
                            TTS provider.

                            - `amazon`: [Amazon Polly](/en/ai/models/tts/amazon)

                            - `cartesia` : [Cartesia](/en/ai/models/tts/cartesia)

                            - `deepgram`: [Deepgram](/en/ai/models/tts/deepgram)

                            - `elevenlabs`: [ElevenLabs](/en/ai/models/tts/elevenlabs)

                            - `fishaudio`: [Fish Audio](/en/ai/models/tts/fish-audio)

                            - `generic_http`: [Generic TTS](/en/ai/models/tts/generic-http),
                            integrated using the OpenAI TTS protocol. Requires `tts.url`,
                            `tts.headers`, and `tts.params`.

                            - `google`: [Google](/en/ai/models/tts/google)

                            - `gradium`: [Gradium](/en/ai/models/tts/gradium)

                            - `humeai`: [Hume AI](/en/ai/models/tts/humeai)

                            - `microsoft`: [Microsoft
                            Azure](/en/ai/models/tts/microsoft)

                            - `minimax`: [MiniMax](/en/ai/models/tts/minimax)

                            - `mistral`: [Mistral](/en/ai/models/tts/mistral)

                            - `murf`: [Murf](/en/ai/models/tts/murf)

                            - `openai`: [OpenAI](/en/ai/models/tts/openai)

                            - `rime`: [Rime](/en/ai/models/tts/rime)

                            - `sarvam`: [Sarvam](/en/ai/models/tts/sarvam)

                            - `xai`: [xAI](/en/ai/models/tts/xai)
                        url:
                          type: string
                          description: >-
                            The OpenAI TTS protocol compatible service endpoint. Required only when
                            `tts.vendor` is `generic_http`.
                        headers:
                          type: object
                          additionalProperties: true
                          description: >-
                            Custom request headers to include in requests to the TTS service, such
                            as authentication credentials. Required only when `tts.vendor` is
                            `generic_http`.

                            **Example:**

                            ```json

                            {

                            "Authorization": "Bearer your_tts_api_key"

                            }

                            ```
                        params:
                          type: object
                          additionalProperties: true
                          description: >-
                            The configuration parameters for the selected TTS vendor. For
                            vendor-specific parameters, see the corresponding TTS provider page
                            listed in `tts.vendor`. Required when `tts.vendor` is `generic_http`.
                        skip_patterns:
                          type: array
                          items:
                            type: integer
                          description: >-
                            Controls whether the TTS module skips bracketed content when reading LLM
                            response text. This prevents the agent from vocalizing structural prompt
                            information like tone indicators, action descriptions, and system
                            prompts, creating a more natural and immersive listening experience.
                            Enable this feature by specifying one or more values:

                            - `1`: Skip content in Chinese parentheses `（）`

                            - `2`: Skip content in Chinese square brackets `【】`

                            - `3`: Skip content in parentheses `( )`

                            - `4`: Skip content in square brackets `[ ]`

                            - `5`: Skip content in curly braces `{ }`
                          x-docs-callouts:
                            - type: info
                              title: Note
                              position: after-description
                              markdown: >
                                - **Nested brackets**: When input text contains nested brackets and

                                multiple bracket types are configured to be skipped, the system

                                processes only the outermost brackets. The system matches from the

                                beginning of the text and skips the first outermost bracket pair
                                that

                                meets the skip rule, including all nested content.


                                - **Agent memory**: The agent's short-term memory always contains
                                the

                                complete, unfiltered LLM text, regardless of live captioning
                                settings.


                                - **Real-time transcript**: When enabled, transcript excludes
                                filtered

                                content during TTS playback but restores the complete text after
                                each

                                sentence finishes.
                      required:
                        - vendor
                        - params
                    llm:
                      type: object
                      additionalProperties: true
                      description: Large language model (LLM) configuration.
                      properties:
                        credential_mode:
                          type: string
                          default: byok
                          enum:
                            - managed
                            - byok
                          description: >-
                            The credential mode for this provider:


                            - `managed`: Use Agora-managed credentials. You do not need to provide an
                            API key. See [Use managed
                            mode](/en/ai/build/custom-model-integration/managed-mode).


                            - `byok`: Bring your own key. Provide your own provider credentials,
                            including the API key.
                        url:
                          type: string
                          description: The LLM callback address.
                        api_key:
                          type: string
                          default: ""
                          description: >-
                            The LLM verification API key. The default value is an empty string.
                            Ensure that you enable the API key in a production environment.
                        system_messages:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                          description: >-
                            A set of predefined information used as input to the LLM, including
                            prompt words and examples.
                        params:
                          type: object
                          additionalProperties: true
                          description: >-
                            Additional LLM configuration parameters, such as the `model` used, and
                            the maximum token limit. For vendor-specific parameters, see the
                            corresponding LLM provider page listed in `llm.vendor`.
                        max_history:
                          type: integer
                          default: 32
                          description: >-
                            The number of conversation history messages cached in the LLM. History
                            includes user and agent dialog messages, tool call information, and
                            timestamps. Agent and user messages are recorded separately.
                        input_modalities:
                          type: array
                          items:
                            type: string
                          default:
                            - text
                          description: >-
                            LLM input modalities:

                            - `["text"]`: Text only

                            - `["text", "image"]`: Text plus image. Recommended configuration,
                            requires the selected LLM to support visual input
                        output_modalities:
                          type: array
                          items:
                            type: string
                          default:
                            - text
                          description: >-
                            LLM output modalities:

                            - `["text"]`: The output text is converted to speech by the TTS module
                            and then published to the RTC channel.

                            - `["audio"]`: Voice only. Voice is published directly to the RTC
                            channel.

                            - `["text", "audio"]`: Text plus voice. Write your own logic to process
                            the output of LLM as needed.
                        greeting_configs:
                          type: object
                          additionalProperties: true
                          description: Agent greeting broadcast configuration.
                          properties:
                            mode:
                              type: string
                              default: single_every
                              enum:
                                - single_every
                                - single_first
                              description: >-
                                Determines when the agent sends greeting messages to users joining
                                the channel.


                                - `single_every`: Broadcasts a greeting every time a user joins the
                                channel.

                                - `single_first`: Broadcasts a greeting only once to the first user
                                who joins the channel.
                            delay_ms:
                              type: integer
                              description: >-
                                The delay in milliseconds before the agent plays the greeting
                                message after a user joins the channel.
                            interruptable:
                              type: boolean
                              default: true
                              description: >-
                                - `true`: Follows the global `interruption` configuration.

                                - `false`: Uninterruptible. The greeting plays in its entirety. If
                                the user speaks multiple times while the greeting plays, the system
                                merges the speech segments after the greeting ends and sends them to
                                the LLM for a single response.
                            audio_download_timeout_ms:
                              type: integer
                              default: 1000
                              minimum: 200
                              maximum: 10000
                              description: >-
                                The timeout in milliseconds for downloading the greeting audio file.
                                Only takes effect when `greeting_audio_url` is configured. If the
                                download times out, the system falls back to TTS synthesis using
                                `greeting_message`.
                            audio_pcm_sample_rate:
                              type: integer
                              default: 16000
                              description: >-
                                The sample rate in Hz of the greeting audio file when the format is
                                PCM. Only takes effect when `greeting_audio_url` is configured and the
                                audio format is PCM. Not required for `mp3` or `wav` files.
                        greeting_audio_url:
                          type: string
                          description: >-
                            The URL of a pre-recorded audio file to play as the agent's greeting. When
                            configured, the system downloads and plays this recording instead of
                            synthesizing the greeting via TTS.


                            Supported formats: `mp3`, `wav`, `pcm`.


                            - Only `http://` or `https://` URLs are supported. An empty string,
                            non-URL string, or a URL exceeding `2048` bytes causes the request to
                            return a `400` error.

                            - For `pcm` files, set `greeting_configs.audio_pcm_sample_rate` to specify
                            the sample rate.

                            - The system resamples the imported audio to match `tts.params.sample_rate`
                            before playback.


                            You must also configure `greeting_message` as a fallback when using
                            `greeting_audio_url`; otherwise the request returns a `400` error. If the
                            recording fails to download, decode, or is in an unsupported format, the
                            system automatically falls back to TTS synthesis using `greeting_message`.
                        greeting_message:
                          type: string
                          description: >-
                            Agent greeting text. This field serves the following purposes:


                            - **Standalone greeting**: If provided without `greeting_audio_url`, the
                            agent greets the first user who joins the channel using TTS synthesis.

                            - **Audio greeting fallback**: When `greeting_audio_url` is configured,
                            this field is required as a fallback. If the audio file fails to download,
                            decode, or is in an unsupported format, the agent falls back to TTS
                            synthesis using this text.

                            - **Interrupted greeting context**: When `greeting_configs.interruptable`
                            is `true` and the audio greeting is interrupted, the system uses this text
                            to estimate the portion already played and injects it into short-term
                            memory to maintain conversation context.
                        failure_message:
                          type: string
                          description: >-
                            Prompt for agent activation failure. If provided, it is returned through
                            TTS when the custom LLM call fails.
                        vendor:
                          type: string
                          enum:
                            - openai
                            - azure
                            - xai
                            - custom
                          description: >-
                            LLM provider, supports the following settings:

                            - `openai`: [OpenAI](/en/ai/models/llm/openai)

                            - `azure`: [Azure OpenAI](/en/ai/models/llm/azure-openai)

                            - `xai`: [xAI Grok](/en/ai/models/llm/xai)

                            - `custom`: [Custom LLM](/en/ai/build/custom-model-integration/custom-llm). When
                            you set this option, the agent includes the following fields, in
                            addition to `role` and `content` when making requests to the custom LLM:

                            - `turn_id`: A unique identifier for each conversation turn. It starts
                            from `0` and increments with each turn. One user-agent interaction
                            corresponds to one `turn_id`.

                            - `timestamp`: The request timestamp, in milliseconds.
                        style:
                          type: string
                          default: openai
                          enum:
                            - openai
                            - gemini
                            - anthropic
                            - dify
                          description: >-
                            The request style for chat completion:

                            - `openai`: For OpenAI and OpenAI-compatible APIs

                            - `gemini`: For Google Gemini and Google Vertex API format

                            - `anthropic`: For Anthropic Claude API format

                            - `dify`: For Dify API format


                            For vendor-specific parameters, see the corresponding LLM provider page
                            listed in `llm.vendor`.
                        template_variables:
                          type: object
                          additionalProperties: true
                          description: >-
                            Template parameter configuration used to insert variables into the
                            agent's `system_messages`, `greeting_message`, `failure_message`, and
                            `parameters.silence_config.content` text. Uses key-value pairs, where
                            the key is the variable name and the value is the variable's value.
                            Template variables, combined with prompt customization and SIP outbound
                            calling functionality, enable dynamic content injection, automating
                            processes such as automatic hang-up, voicemail recognition, automatic
                            message leaving, and call transfer.

                            To insert defined variables in the prompt text, use the syntax
                            `{{variable_name}}`. The system automatically replaces each variable
                            with the corresponding value defined in `template_variables`.
                          x-docs-callouts:
                            - type: info
                              title: Note
                              position: after-description
                              markdown: >
                                Variable values cannot reference other variables. For example, if
                                you

                                define `"farewell": "Looking forward to seeing you again,
                                {{name}}"`,

                                the `{{name}}` variable will not be resolved.
                        mcp_servers:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: >-
                                  A unique identifier for the MCP server. Maximum 48 characters.
                                  Accepts only English letters and numbers.
                              endpoint:
                                type: string
                                description: >-
                                  The endpoint address of the MCP server. The agent uses this to
                                  communicate with the MCP server.
                              transport:
                                type: string
                                description: |-
                                  Transport protocol type.
                                  - `streamable_http`: Streaming HTTP protocol
                              headers:
                                type: object
                                additionalProperties: true
                                description: >-
                                  HTTP header information to include when requesting the MCP server,
                                  such as authentication information.
                              allowed_tools:
                                type: array
                                items: {}
                                description: >-
                                  A list of tools that the agent is allowed to invoke. The agent can
                                  only use tools on this list.


                                  **Behavior:**

                                  - **Empty or omitted**: All tools are enabled.

                                  - **Empty array `[]`**: No tools are enabled.

                                  - **`["*"]`**: All tools are enabled.

                                  - **Specific tools `["aa", "bb", "cc"]`**: Only `aa`, `bb`, and
                                  `cc` are enabled.

                                  - **Mix with wildcard `["aa", "bb", "*"]`**: All tools are enabled
                                  (wildcard takes precedence).
                              timeout_ms:
                                type: integer
                                description: >-
                                  The MCP server request timeout in milliseconds. After timeout, the
                                  agent stops waiting for the MCP server's response and continues
                                  executing subsequent logic.
                            required:
                              - name
                              - endpoint
                          description: >-
                            MCP (Model Context Protocol) server configuration. By configuring MCP
                            servers, agents can call tools provided by external services to
                            implement advanced functionality.
                        headers:
                          type: object
                          additionalProperties: true
                          description: >-
                            Custom headers to include in requests to the LLM. Use this field to pass
                            business-specific information such as custom fields or tenant
                            identifiers.
                          x-docs-callouts:
                            - type: info
                              title: Note
                              position: after-description
                              markdown: >
                                - These headers are merged with the headers generated by the

                                Conversational AI Engine. If a key conflict occurs, the
                                engine-generated

                                header takes precedence. For example, authentication-related
                                headers.


                                - Header keys are merged using exact string matching and are

                                case-sensitive. Agora recommends using standard capitalization to
                                avoid

                                ambiguity from duplicate keys with different casing.
                      required:
                        - url
                    mllm:
                      type: object
                      additionalProperties: true
                      description: >-
                        Multimodal Large Language Model (MLLM) configuration for real-time audio and
                        text processing. `mllm` is an exclusive alternative to the standard `asr` +
                        `llm` + `tts` pipeline."
                      properties:
                        enable:
                          type: boolean
                          description: >-
                            Enable Multimodal Large Language Model for voice-to-voice processing.
                            Enabling MLLM automatically disables ASR, LLM, and TTS since the MLLM
                            handles end-to-end voice processing directly. Replaces the deprecated
                            `advanced_features.enable_mllm`.
                        url:
                          type: string
                          description: The MLLM WebSocket URL for real-time communication.
                        api_key:
                          type: string
                          description: The API key used for MLLM authentication.
                        messages:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                          description: >-
                            Array of conversation items used for short-term memory management. Uses
                            the same structure as `item.content` from the [OpenAI Realtime
                            API](https://platform.openai.com/docs/api-reference/realtime-client-events/conversation/item/create).
                        params:
                          type: object
                          additionalProperties: true
                          description: >-
                            Additional MLLM configuration parameters.

                            - **Modalities override**: The `modalities` setting in params is
                            overridden by `input_modalities` and `output_modalities`.

                            - **Turn detection override**: The `turn_detection` setting in `params`
                            is overridden by `mllm.turn_detection`.


                            For vendor-specific parameters, see the corresponding MLLM provider page
                            listed in `mllm.vendor`.
                        input_modalities:
                          type: array
                          items:
                            type: string
                          default:
                            - audio
                          description: |-
                            MLLM input modalities:
                            - `["audio"]`: Audio only
                            - `["audio", "text"]`: Audio plus text
                        output_modalities:
                          type: array
                          items:
                            type: string
                          default:
                            - text
                            - audio
                          description: |-
                            MLLM output modalities:
                            - `["text", "audio"]`: Text plus audio
                        greeting_message:
                          type: string
                          description: >-
                            Agent greeting message. If provided, the first user in the channel is
                            automatically greeted with this message upon joining.
                        vendor:
                          type: string
                          enum:
                            - openai
                            - gemini
                            - vertexai
                            - xai
                          description: >-
                            MLLM provider. Currently supports:

                            - `openai`: [OpenAI Realtime API](/en/ai/models/mllm/openai)

                            - `gemini`: [Google Gemini Live](/en/ai/models/mllm/gemini)

                            - `vertexai`: [Google Gemini Live (Vertex
                            AI)](/en/ai/models/mllm/google-vertex-ai)

                            - `xai`: [xAI Grok](/en/ai/models/mllm/xai)
[...]
