openapi: 3.1.0
info:
  version: ""
  title: Query channel information
  description: >-
    Query online channel and user information using the Agora Channel
    Management RESTful API. Retrieve the list of channels under a project, the
    users or hosts in a channel, and the status of a specified user.


    All requests are sent to the host `api.agora.io`.


    - **Authentication**: All APIs require Basic Auth for authentication.

    - **Request and response**: The content is in JSON format.

    - All request URLs and request bodies are case-sensitive. All requests must
      use HTTPS.
servers:
  - url: https://api.agora.io
    description: Base host for the channel management APIs.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: All channel management REST APIs require Basic Auth for authentication.
  parameters:
    appidPath:
      name: appid
      in: path
      required: true
      schema:
        type: string
      description: >-
        The App ID of the project. You can get it through one of the following
        methods:

        - Copy from the [Agora Console](https://console.agora.io)

        - Call the Get all projects API, and read the value of the `vendor_key`
          field in the response body.
    channelNamePath:
      name: channelName
      in: path
      required: true
      schema:
        type: string
      description: The channel name.
security:
  - basicAuth: []
paths:
  /dev/v1/channel/{appid}:
    get:
      summary: Query the channel list
      description: >-
        Use this endpoint to get the list of all channels under a specified
        project. The channel list is returned by page; specify the page number
        and page size in the request URL.


        > If the number of users in a channel changes frequently, the query
        results may be inaccurate. A channel may appear repeatedly on different
        pages, or may not appear on any page.
      operationId: cma-query-channel-list
      parameters:
        - $ref: "#/components/parameters/appidPath"
        - name: page_no
          in: query
          required: false
          schema:
            type: number
            default: 0
          description: >-
            The page number to query. The default value is `0`, which is the
            first page. The value of `page_no` cannot exceed `(total number of
            channels / page_size) - 1`; otherwise, the specified page contains
            no channels.
        - name: page_size
          in: query
          required: false
          schema:
            type: number
            default: 100
          description: >-
            The number of channels per page. The value range is [1,500].
      responses:
        "200":
          description: >-
            A `200` status code indicates success. The response body contains
            the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: >-
                      The state of this request:

                      - `true`: Success.

                      - `false`: Reserved for future use.
                  data:
                    type: object
                    description: Channel statistics.
                    properties:
                      channels:
                        type: array
                        description: >-
                          The list of channels. If the specified page contains
                          no channels, this field is empty.
                        items:
                          type: object
                          properties:
                            channel_name:
                              type: string
                              description: The channel name.
                            user_count:
                              type: number
                              description: The total number of users in the channel.
                      total_size:
                        type: number
                        description: >-
                          The total number of channels under the specified
                          project.
              example:
                success: true
                data:
                  channels:
                    - channel_name: lkj144
                      user_count: 3
                  total_size: 1
        default:
          description: >-
            The request failed. See the `message` field in the response body for
            the reason. Refer to Response status codes for details.
  /dev/v1/channel/user/{appid}/{channelName}:
    get:
      summary: Query the user list
      description: >-
        Use this endpoint to get the list of all users in a specified channel.
        All users in the channel must use the same channel profile; otherwise,
        the query results may be inaccurate.


        The returned list differs based on the channel profile:

        - `COMMUNICATION` profile: Returns the list of all users in the channel.

        - `LIVE_BROADCASTING` profile: Returns the list of all hosts and
          audience members in the channel.
      operationId: cma-query-user-list
      parameters:
        - $ref: "#/components/parameters/appidPath"
        - $ref: "#/components/parameters/channelNamePath"
        - name: hosts_only
          in: query
          required: false
          schema:
            type: string
          description: >-
            When specified, only the host list is returned. Applicable to the
            `LIVE_BROADCASTING` profile only.
      responses:
        "200":
          description: >-
            A `200` status code indicates success. The response body contains
            the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: >-
                      The state of this request:

                      - `true`: Success.

                      - `false`: Reserved for future use.
                  data:
                    type: object
                    description: User information.
                    properties:
                      channel_exist:
                        type: boolean
                        description: >-
                          Whether the specified channel exists. When `false`, no
                          other fields are returned.
                      mode:
                        type: number
                        description: >-
                          The channel profile:

                          - `1`: The `COMMUNICATION` profile.

                          - `2`: The `LIVE_BROADCASTING` profile.
                      total:
                        type: number
                        description: >-
                          The total number of users in the channel. Returned
                          only when `mode` is `1`.
                      users:
                        type: array
                        items:
                          type: number
                        description: >-
                          User IDs of all users in the channel. Returned only
                          when `mode` is `1`.
                      broadcasters:
                        type: array
                        items:
                          type: number
                        description: >-
                          User IDs of all hosts in the channel. Returned only
                          when `mode` is `2`.
                      audience:
                        type: array
                        items:
                          type: number
                        description: >-
                          User IDs of the first 10,000 audience members in the
                          channel. Returned only when `mode` is `2` and
                          `hosts_only` is not specified.
                      audience_total:
                        type: number
                        description: >-
                          The total number of audience members in the channel.
                          Returned only when `mode` is `2` and `hosts_only` is
                          not specified.
              example:
                success: true
                data:
                  channel_exist: true
                  mode: 2
                  broadcasters:
                    - 2206227541
                    - 2845863044
                  audience:
                    - 906219905
                  audience_total: 1
        default:
          description: >-
            The request failed. See the `message` field in the response body for
            the reason. Refer to Response status codes for details.
  /dev/v1/channel/user/{appid}/{channelName}/hosts_only:
    get:
      summary: Query the host list
      description: >-
        Use this endpoint to get the list of hosts in a specified channel. This
        endpoint is only available in the `LIVE_BROADCASTING` profile (`mode =
        2`); all users in the channel must use the same profile, otherwise query
        results may be inaccurate.
      operationId: cma-query-host-list
      parameters:
        - $ref: "#/components/parameters/appidPath"
        - $ref: "#/components/parameters/channelNamePath"
      responses:
        "200":
          description: >-
            A `200` status code indicates success. The response body contains
            the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: >-
                      The state of this request:

                      - `true`: Success.

                      - `false`: Reserved for future use.
                  data:
                    type: object
                    description: User information.
                    properties:
                      channel_exist:
                        type: boolean
                        description: >-
                          Whether the specified channel exists. When `false`, no
                          other fields are returned.
                      mode:
                        type: number
                        description: >-
                          The channel profile:

                          - `1`: The `COMMUNICATION` profile.

                          - `2`: The `LIVE_BROADCASTING` profile.
                      broadcasters:
                        type: array
                        items:
                          type: number
                        description: >-
                          User IDs of all hosts in the channel. Returned only
                          when `mode` is `2`.
              example:
                success: true
                data:
                  channel_exist: true
                  mode: 2
                  broadcasters:
                    - 574332
                    - 1347839
        default:
          description: >-
            The request failed. See the `message` field in the response body for
            the reason. Refer to Response status codes for details.
  /dev/v1/channel/user/property/{appid}/{uid}/{channelName}:
    get:
      summary: Query user status
      description: >-
        Use this endpoint to get the status of a specified user. It checks
        whether the user is in the specified channel and, if present, returns
        the user's role and the time they joined.
      operationId: cma-query-user-status
      parameters:
        - $ref: "#/components/parameters/appidPath"
        - name: uid
          in: path
          required: true
          schema:
            type: number
          description: >-
            The user ID. This parameter does not support string user accounts;
            use the integer user ID only.
        - $ref: "#/components/parameters/channelNamePath"
      responses:
        "200":
          description: >-
            A `200` status code indicates success. The response body contains
            the result of the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: >-
                      The state of this request:

                      - `true`: Success.

                      - `false`: Reserved for future use.
                  data:
                    type: object
                    description: User statistics.
                    properties:
                      in_channel:
                        type: boolean
                        description: >-
                          Whether the user is in the channel. When `false`, no
                          other fields are returned.
                      uid:
                        type: number
                        description: The user ID.
                      join:
                        type: number
                        description: >-
                          The Unix timestamp (in seconds) of when the user
                          joined the channel.
                      role:
                        type: number
                        description: >-
                          The role of the user in the channel:

                          - `0`: Unknown user role.

                          - `1`: User, in a communication channel.

                          - `2`: Host, in a live broadcast channel.

                          - `3`: Audience, in a live broadcast channel.
                      platform:
                        type: number
                        description: >-
                          The platform of the user's device. Common values:
                          `1`: Android, `2`: iOS, `5`: Windows, `6`: Linux,
                          `7`: Web, `8`: macOS, `0`: Others.
              example:
                success: true
                data:
                  join: 1640330382
                  uid: 2845863044
                  in_channel: true
                  platform: 7
                  role: 2
        default:
          description: >-
            The request failed. See the `message` field in the response body for
            the reason. Refer to Response status codes for details.
