openapi: 3.1.0
info:
  version: ""
  title: Cloud Transcoding RESTful API
  description: >-
    Agora Cloud Transcoding transcodes media streams on Agora servers and outputs the result to an
    RTC channel. Send HTTPS requests from your business server to acquire builder tokens, create,
    query, update, and destroy cloud transcoding tasks, manage transcoding templates, and query
    message notification server IP addresses.


    ## Base URL


    All requests are sent to `https://api.sd-rtn.com`.


    ## Data format


    Use `Content-Type: application/json` for requests with bodies. Request and response bodies are
    JSON.
servers:
  - url: https://api.sd-rtn.com
    description: Cloud Transcoding REST API host.
security:
  - basicAuth: []
paths:
  /v1/projects/{appId}/rtsc/cloud-transcoder/builderTokens:
    post:
      summary: Acquire a builder token
      description: Acquires a builder token for creating a Cloud Transcoding task.
      operationId: acquire-cloud-transcoding-builder-token
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request post \
                    --url https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/builderTokens \
                    --header 'Authorization: Basic <credentials>' \
                    --header 'Content-Type: <string>' \
                    --data '
                  {
                    "instanceId": "abc13328",
                    "services": {
                      "cloudTranscoder": {
                        "serviceType": "cloudTranscoderV2",
                        "config": {
                          "transcoder": {
                            "idleTimeout": 300,
                            "audioInputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 123,
                                  "rtcToken": "<your_rtc_token>"
                                }
                              },
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 456,
                                  "rtcToken": "<your_rtc_token>"
                                }
                              }
                            ],
                            "canvas": {
                              "width": 960,
                              "height": 480,
                              "color": 0,
                              "backgroundImage": "https://web-cdn.agora.io/website-files/images/new-home-2-banne-online-karaoke-bg.jpg",
                              "fillMode": "FIT"
                            },
                            "waterMarks": [
                              {
                                "imageUrl": "https://web-cdn.agora.io/website-files/images/advantage-interactive-live-streaming.png",
                                "region": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 100,
                                  "height": 100,
                                  "zOrder": 50
                                }
                              }
                            ],
                            "videoInputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 123,
                                  "rtcToken": "<your_rtc_token>"
                                },
                                "placeholderImageUrl": "https://web-cdn.agora.io/website-files/images/new-home-2-banner-realtime-bg.jpg",
                                "region": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 320,
                                  "height": 360,
                                  "zOrder": 2
                                }
                              },
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 456,
                                  "rtcToken": "<your_rtc_token>"
                                },
                                "region": {
                                  "x": 320,
                                  "y": 0,
                                  "width": 320,
                                  "height": 320,
                                  "zOrder": 2
                                }
                              }
                            ],
                            "outputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test02",
                                  "rtcUid": 1000,
                                  "rtcToken": "<your_rtc_token>"
                                },
                                "audioOption": {
                                  "profileType": "AUDIO_PROFILE_MUSIC_STANDARD"
                                },
                                "videoOption": {
                                  "fps": 30,
                                  "codec": "H264",
                                  "bitrate": 800,
                                  "width": 960,
                                  "height": 48
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }'
        - lang: python
          label: Python
          source: |-
            import requests
                import json

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/builderTokens"
                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                data = {
                    "instanceId": "abc13328",
                    "services": {
                        "cloudTranscoder": {
                            "serviceType": "cloudTranscoderV2",
                            "config": {
                                "transcoder": {
                                    "idleTimeout": 300,
                                    "audioInputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 123,
                                                "rtcToken": "<your_rtc_token>"
                                            }
                                        },
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 456,
                                                "rtcToken": "<your_rtc_token>"
                                            }
                                        }
                                    ],
                                    "canvas": {
                                        "width": 960,
                                        "height": 480,
                                        "color": 0,
                                        "backgroundImage": "https://web-cdn.agora.io/website-files/images/new-home-2-banne-online-karaoke-bg.jpg",
                                        "fillMode": "FIT"
                                    },
                                    "waterMarks": [
                                        {
                                            "imageUrl": "https://web-cdn.agora.io/website-files/images/advantage-interactive-live-streaming.png",
                                            "region": {
                                                "x": 0,
                                                "y": 0,
                                                "width": 100,
                                                "height": 100,
                                                "zOrder": 50
                                            }
                                        }
                                    ],
                                    "videoInputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 123,
                                                "rtcToken": "<your_rtc_token>"
                                            },
                                            "placeholderImageUrl": "https://web-cdn.agora.io/website-files/images/new-home-2-banner-realtime-bg.jpg",
                                            "region": {
                                                "x": 0,
                                                "y": 0,
                                                "width": 320,
                                                "height": 360,
                                                "zOrder": 2
                                            }
                                        },
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 456,
                                                "rtcToken": "<your_rtc_token>"
                                            },
                                            "region": {
                                                "x": 320,
                                                "y": 0,
                                                "width": 320,
                                                "height": 320,
                                                "zOrder": 2
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test02",
                                                "rtcUid": 1000,
                                                "rtcToken": "<your_rtc_token>"
                                            },
                                            "audioOption": {
                                                "profileType": "AUDIO_PROFILE_MUSIC_STANDARD"
                                            },
                                            "videoOption": {
                                                "fps": 30,
                                                "codec": "H264",
                                                "bitrate": 800,
                                                "width": 960,
                                                "height": 480
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }

                response = requests.post(url, headers=headers, data=json.dumps(data))

                print(response.status_code)
                print(response.json())
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

                const url = 'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/builderTokens';
                const headers = {
                  'Authorization': 'Basic <credentials>',
                  'Content-Type': '<string>'
                };

                const data = {
                  instanceId: "abc13328",
                  services: {
                    cloudTranscoder: {
                      serviceType: "cloudTranscoderV2",
                      config: {
                        transcoder: {
                          idleTimeout: 300,
                          audioInputs: [
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 123,
                                rtcToken: "<your_rtc_token>"
                              }
                            },
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 456,
                                rtcToken: "<your_rtc_token>"
                              }
                            }
                          ],
                          canvas: {
                            width: 960,
                            height: 480,
                            color: 0,
                            backgroundImage: "https://web-cdn.agora.io/website-files/images/new-home-2-banne-online-karaoke-bg.jpg",
                            fillMode: "FIT"
                          },
                          waterMarks: [
                            {
                              imageUrl: "https://web-cdn.agora.io/website-files/images/advantage-interactive-live-streaming.png",
                              region: {
                                x: 0,
                                y: 0,
                                width: 100,
                                height: 100,
                                zOrder: 50
                              }
                            }
                          ],
                          videoInputs: [
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 123,
                                rtcToken: "<your_rtc_token>"
                              },
                              placeholderImageUrl: "https://web-cdn.agora.io/website-files/images/new-home-2-banner-realtime-bg.jpg",
                              region: {
                                x: 0,
                                y: 0,
                                width: 320,
                                height: 360,
                                zOrder: 2
                              }
                            },
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 456,
                                rtcToken: "<your_rtc_token>"
                              },
                              region: {
                                x: 320,
                                y: 0,
                                width: 320,
                                height: 320,
                                zOrder: 2
                              }
                            }
                          ],
                          outputs: [
                            {
                              rtc: {
                                rtcChannel: "test02",
                                rtcUid: 1000,
                                rtcToken: "<your_rtc_token>"
                              },
                              audioOption: {
                                profileType: "AUDIO_PROFILE_MUSIC_STANDARD"
                              },
                              videoOption: {
                                fps: 30,
                                codec: "H264",
                                bitrate: 800,
                                width: 960,
                                height: 480
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                };

                axios.post(url, data, { headers })
                  .then(response => {
                    console.log('Status:', response.status);
                    console.log('Data:', response.data);
                  })
                  .catch(error => {
                    console.error('Error:', error.response ? error.response.data : error.message);
                  });
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/X-Request-ID"
        - $ref: "#/components/parameters/appId"
          description: The App ID of your project from Agora Console.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/acquire-builder-token-request"
            example:
              instanceId: abc13328
              services:
                cloudTranscoder:
                  serviceType: cloudTranscoderV2
                  config:
                    transcoder:
                      idleTimeout: 300
                      audioInputs:
                        - rtc:
                            rtcChannel: test01
                            rtcUid: 123
                            rtcToken: <your_rtc_token>
                      canvas:
                        width: 960
                        height: 480
                        color: 0
                      videoInputs:
                        - rtc:
                            rtcChannel: test01
                            rtcUid: 123
                            rtcToken: <your_rtc_token>
                          region:
                            x: 0
                            "y": 0
                            width: 320
                            height: 360
                            zOrder: 2
                      outputs:
                        - rtc:
                            rtcChannel: test02
                            rtcUid: 1000
                            rtcToken: <your_rtc_token>
                          audioOption:
                            profileType: AUDIO_PROFILE_MUSIC_STANDARD
                          videoOption:
                            fps: 30
                            codec: H264
                            bitrate: 800
                            width: 960
                            height: 480
      responses:
        "200":
          description: The request succeeded and returned a builder token.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/acquire-builder-token-response"
              example:
                createTs: 1661324606
                instanceId: abc13328
                tokenName: xUwUbQf9ZxxxxxtLslGnDg0lk8RYaUE0***
        default:
          $ref: "#/components/responses/not-200"
      x-docs-sections:
        - position: after-description
          markdown: >-
            Before you create a Cloud Transcoding task, call the `builderTokens` endpoint to
            retrieve a builder token.
        - title: Reference
          position: after-response-body
          markdown: >
            Note the following guidelines when using a `builderToken`:


            - After calling this endpoint successfully, you receive a `builderToken` in the response
            body. You can use a `builderToken` for a single Cloud Transcoding task.

            - The validity period of a `builderToken` for creating Cloud Transcoding is 5 minutes.
            To ensure successful Cloud Transcoding, best practice is to initiate the corresponding
            `Create` request within 2 seconds after each `Acquire` response is received.

            - Making batch `Create` requests after batch `builderToken` requests may cause the
            request to fail.


            **Output destination constraints**


            - A single transcoding task cannot push to both a CDN address and an RTC channel
            simultaneously. To push to both destinations, create two separate tasks.

            - If the audio or video configurations differ between the two destinations, create two
            separate tasks.

            - To push to multiple CDN addresses, include all destination addresses within a single
            `outputs` object.

            - Each transcoding task can push to only one RTC channel. To push to two different RTC
            channels, create two separate tasks.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed.
  /v1/projects/{appId}/rtsc/cloud-transcoder/tasks:
    post:
      summary: Create a cloud transcoding task
      description: Creates a Cloud Transcoding task for specified input streams.
      operationId: create-cloud-transcoding-task
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request post \
                    --url 'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks?builderToken=<actual_token_value>' \
                    --header 'Authorization: Basic <credentials>' \
                    --header 'Content-Type: <string>' \
                    --data '
                  {
                    "services": {
                      "cloudTranscoder": {
                        "serviceType": "cloudTranscoderV2",
                        "config": {
                          "transcoder": {
                            "idleTimeout": 300,
                            "audioInputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 123,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                }
                              },
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 456,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                }
                              }
                            ],
                            "canvas": {
                              "width": 960,
                              "height": 480,
                              "color": 0,
                              "backgroundImage": "https://example.jpg",
                              "fillMode": "FIT"
                            },
                            "waterMarks": [
                              {
                                "imageUrl": "https://example.png",
                                "region": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 120,
                                  "height": 120,
                                  "zOrder": 50
                                }
                              }
                            ],
                            "videoInputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 123,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                },
                                "placeholderImageUrl": "https://example.jpg",
                                "region": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 320,
                                  "height": 360,
                                  "zOrder": 2
                                }
                              },
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 456,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                },
                                "placeholderImageUrl": "https://example.jpg",
                                "region": {
                                  "x": 320,
                                  "y": 0,
                                  "width": 320,
                                  "height": 320,
                                  "zOrder": 2
                                }
                              }
                            ],
                            "outputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test",
                                  "rtcUid": 1000,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                },
                                "audioOption": {
                                  "profileType": "AUDIO_PROFILE_MUSIC_STANDARD"
                                },
                                "videoOption": {
                                  "fps": 30,
                                  "codec": "H264",
                                  "bitrate": 800,
                                  "width": 960,
                                  "height": 480
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }'
        - lang: python
          label: Python
          source: |-
            import requests
                import json

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks?builderToken=<actual_token_value>"

                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                data = {
                    "services": {
                        "cloudTranscoder": {
                            "serviceType": "cloudTranscoderV2",
                            "config": {
                                "transcoder": {
                                    "idleTimeout": 300,
                                    "audioInputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 123,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            }
                                        },
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 456,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            }
                                        }
                                    ],
                                    "canvas": {
                                        "width": 960,
                                        "height": 480,
                                        "color": 0,
                                        "backgroundImage": "https://example.jpg",
                                        "fillMode": "FIT"
                                    },
                                    "waterMarks": [
                                        {
                                            "imageUrl": "https://example.png",
                                            "region": {
                                                "x": 0,
                                                "y": 0,
                                                "width": 120,
                                                "height": 120,
                                                "zOrder": 50
                                            }
                                        }
                                    ],
                                    "videoInputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 123,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            },
                                            "placeholderImageUrl": "https://example.jpg",
                                            "region": {
                                                "x": 0,
                                                "y": 0,
                                                "width": 320,
                                                "height": 360,
                                                "zOrder": 2
                                            }
                                        },
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 456,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            },
                                            "placeholderImageUrl": "https://example.jpg",
                                            "region": {
                                                "x": 320,
                                                "y": 0,
                                                "width": 320,
                                                "height": 320,
                                                "zOrder": 2
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test",
                                                "rtcUid": 1000,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            },
                                            "audioOption": {
                                                "profileType": "AUDIO_PROFILE_MUSIC_STANDARD"
                                            },
                                            "videoOption": {
                                                "fps": 30,
                                                "codec": "H264",
                                                "bitrate": 800,
                                                "width": 960,
                                                "height": 480
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }

                response = requests.post(url, headers=headers, data=json.dumps(data))

                print(response.status_code)
                print(response.json())
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require("axios");

                const url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks?builderToken=<actual_token_value>";

                const headers = {
                  Authorization: "Basic <credentials>",
                  "Content-Type": "<string>",
                };

                const data = {
                  services: {
                    cloudTranscoder: {
                      serviceType: "cloudTranscoderV2",
                      config: {
                        transcoder: {
                          idleTimeout: 300,
                          audioInputs: [
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 123,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                            },
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 456,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                            },
                          ],
                          canvas: {
                            width: 960,
                            height: 480,
                            color: 0,
                            backgroundImage: "https://example.jpg",
                            fillMode: "FIT",
                          },
                          waterMarks: [
                            {
                              imageUrl: "https://example.png",
                              region: {
                                x: 0,
                                y: 0,
                                width: 120,
                                height: 120,
                                zOrder: 50,
                              },
                            },
                          ],
                          videoInputs: [
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 123,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                              placeholderImageUrl: "https://example.jpg",
                              region: {
                                x: 0,
                                y: 0,
                                width: 320,
                                height: 360,
                                zOrder: 2,
                              },
                            },
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 456,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                              placeholderImageUrl: "https://example.jpg",
                              region: {
                                x: 320,
                                y: 0,
                                width: 320,
                                height: 320,
                                zOrder: 2,
                              },
                            },
                          ],
                          outputs: [
                            {
                              rtc: {
                                rtcChannel: "test",
                                rtcUid: 1000,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                              audioOption: {
                                profileType: "AUDIO_PROFILE_MUSIC_STANDARD",
                              },
                              videoOption: {
                                fps: 30,
                                codec: "H264",
                                bitrate: 800,
                                width: 960,
                                height: 480
                              },
                            },
                          ],
                        },
                      },
                    },
                  },
                };

                axios
                  .post(url, data, { headers })
                  .then((response) => {
                    console.log(response.status);
                    console.log(response.data);
                  })
                  .catch((error) => {
                    console.error("Error:", error.response ? error.response.data : error.message);
                  });
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/X-Request-ID"
        - $ref: "#/components/parameters/appId"
          description: The App ID of your project from Agora Console.
        - $ref: "#/components/parameters/builderToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud-transcoder-request"
            example:
              services:
                cloudTranscoder:
                  serviceType: cloudTranscoderV2
                  config:
                    transcoder:
                      idleTimeout: 300
                      audioInputs:
                        - rtc:
                            rtcChannel: test01
                            rtcUid: 123
                            rtcToken: aab8b8f5a8cd4469a63042fcfafe7***
                      canvas:
                        width: 960
                        height: 480
                        color: 0
                        backgroundImage: https://example.jpg
                        fillMode: FIT
                      videoInputs:
                        - rtc:
                            rtcChannel: test01
                            rtcUid: 123
                            rtcToken: aab8b8f5a8cd4469a63042fcfafe7***
                          placeholderImageUrl: https://example.jpg
                          region:
                            x: 0
                            "y": 0
                            width: 320
                            height: 360
                            zOrder: 2
                      outputs:
                        - rtc:
                            rtcChannel: test
                            rtcUid: 1000
                            rtcToken: aab8b8f5a8cd4469a63042fcfafe7***
                          audioOption:
                            profileType: AUDIO_PROFILE_MUSIC_STANDARD
                          videoOption:
                            fps: 30
                            codec: H264
                            bitrate: 800
                            width: 960
                            height: 480
      responses:
        "200":
          description: The request succeeded and returned task information.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud-transcoder-task"
              example:
                createTs: 1661324613
                eventHandlers: {}
                execution:
                  workflows: {}
                properties: {}
                sequenceId: "0"
                services:
                  cloudTranscoder:
                    config: {}
                    createTs: 1661324614
                    details: {}
                    message: ""
                    serviceType: cloudTranscoderV2
                    status: serviceReady
                status: STARTED
                taskId: 609f28f2644f1ae1ceb041b7047e3***
                variables: {}
                workflows: {}
        default:
          $ref: "#/components/responses/not-200"
      x-docs-sections:
        - position: after-description
          markdown: >-
            Use this endpoint to create a Cloud Transcoding task. When the task starts, the Agora
            server transcodes multiple input streams you specified and outputs them to the specified
            Agora RTC channel.
        - title: Reference
          position: after-response-body
          markdown: >
            Note the following guidelines when using a `builderToken`:


            - After calling the `Acquire a builder token` endpoint successfully, you receive a
            `builderToken` in the response body. You can use a `builderToken` for a single Cloud
            Transcoding task.

            - The validity period of a `builderToken` for creating Cloud Transcoding is 5 minutes.
            To ensure successful Cloud Transcoding, best practice is to initiate the corresponding
            `Create` request within 2 seconds after each `Acquire` response is received.

            - Making batch `Create` requests after batch `builderToken` requests may cause the
            request to fail.


            **Output destination constraints**


            - A single transcoding task cannot push to both a CDN address and an RTC channel
            simultaneously. To push to both destinations, create two separate tasks.

            - If the audio or video configurations differ between the two destinations, create two
            separate tasks.

            - To push to multiple CDN addresses, include all destination addresses within a single
            `outputs` object.

            - Each transcoding task can push to only one RTC channel. To push to two different RTC
            channels, create two separate tasks.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed.
  /v1/projects/{appId}/rtsc/cloud-transcoder/tasks/{taskId}:
    get:
      summary: Query the status of a task
      description: Queries the status of a Cloud Transcoding task.
      operationId: query-cloud-transcoding-task
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request get \
                  --url 'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks/:taskId?builderToken=<actual_token_value>' \
                  --header 'Authorization: Basic <credentials>' \
                  --header 'Content-Type: <string>'
        - lang: python
          label: Python
          source: |-
            import requests

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks/:taskId?builderToken=<actual_token_value>"

                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                response = requests.request("get", url, headers=headers)

                print(response.text)
        - lang: javascript
          label: Node.js
          source: >-
            const url =
            'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks/:taskId?builderToken=<actual_token_value>';
                const options = {
                  method: 'get',
                  headers: {Authorization: 'Basic <credentials>', 'Content-Type': '<string>'}
                };

                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/X-Request-ID"
        - $ref: "#/components/parameters/appId"
          description: The App ID of your project from Agora Console.
        - $ref: "#/components/parameters/taskId"
          description: The transcoding task UUID used to identify the cloud transcoder for this request.
        - $ref: "#/components/parameters/builderToken"
      responses:
        "200":
          description: The request succeeded and returned task status.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud-transcoder-task"
              example:
                createTs: 1661420011
                eventHandlers: {}
                execution:
                  workflows: {}
                properties: {}
                sequenceId: "0"
                services:
                  cloudTranscoder:
                    config: {}
                    createTs: 1661420011
                    message: OnSlaveServiceQueryUpdated
                    serviceType: cloudTranscoderV2
                    status: serviceInProgress
                status: IN_PROGRESS
                taskId: c0077139e34d0949c719189a393aa***
                variables: {}
                workflows: {}
        default:
          $ref: "#/components/responses/not-200"
      x-docs-sections:
        - position: after-description
          markdown: >-
            After creating a Cloud Transcoding task, use the `Query` request to query the task
            status.
        - title: Reference
          position: after-response-body
          markdown: >
            To understand the difference between query methods and message notification service, see
            [What's the difference between query methods and message notification
            service?](/help/general-product-inquiry/query_vs_notifications).
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed.
    patch:
      summary: Update a cloud transcoding task
      description: Updates an existing Cloud Transcoding task.
      operationId: update-cloud-transcoding-task
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request post \
                    --url 'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks?builderToken=' \
                    --header 'Authorization: Basic <credentials>' \
                    --header 'Content-Type: <string>' \
                    --data '
                  {
                    "services": {
                      "cloudTranscoder": {
                        "serviceType": "cloudTranscoderV2",
                        "config": {
                          "transcoder": {
                            "idleTimeout": 300,
                            "audioInputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 123,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                }
                              },
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 456,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                }
                              }
                            ],
                            "canvas": {
                              "width": 960,
                              "height": 480,
                              "color": 0,
                              "backgroundImage": "https://example.jpg",
                              "fillMode": "FIT"
                            },
                            "waterMarks": [
                              {
                                "imageUrl": "https://example.png",
                                "region": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 120,
                                  "height": 120,
                                  "zOrder": 50
                                }
                              }
                            ],
                            "videoInputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 123,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                },
                                "placeholderImageUrl": "https://example.jpg",
                                "region": {
                                  "x": 0,
                                  "y": 0,
                                  "width": 320,
                                  "height": 360,
                                  "zOrder": 2
                                }
                              },
                              {
                                "rtc": {
                                  "rtcChannel": "test01",
                                  "rtcUid": 456,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                },
                                "placeholderImageUrl": "https://example.jpg",
                                "region": {
                                  "x": 320,
                                  "y": 0,
                                  "width": 320,
                                  "height": 320,
                                  "zOrder": 2
                                }
                              }
                            ],
                            "outputs": [
                              {
                                "rtc": {
                                  "rtcChannel": "test",
                                  "rtcUid": 1000,
                                  "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                },
                                "audioOption": {
                                  "profileType": "AUDIO_PROFILE_MUSIC_STANDARD"
                                },
                                "videoOption": {
                                  "fps": 30,
                                  "codec": "H264",
                                  "bitrate": 800,
                                  "width": 960,
                                  "height": 480,
                                  "lowBitrateHighQuality": false
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }'
        - lang: python
          label: Python
          source: |-
            import requests
                import json

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks?builderToken="

                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                data = {
                    "services": {
                        "cloudTranscoder": {
                            "serviceType": "cloudTranscoderV2",
                            "config": {
                                "transcoder": {
                                    "idleTimeout": 300,
                                    "audioInputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 123,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            }
                                        },
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 456,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            }
                                        }
                                    ],
                                    "canvas": {
                                        "width": 960,
                                        "height": 480,
                                        "color": 0,
                                        "backgroundImage": "https://example.jpg",
                                        "fillMode": "FIT"
                                    },
                                    "waterMarks": [
                                        {
                                            "imageUrl": "https://example.png",
                                            "region": {
                                                "x": 0,
                                                "y": 0,
                                                "width": 120,
                                                "height": 120,
                                                "zOrder": 50
                                            }
                                        }
                                    ],
                                    "videoInputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 123,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            },
                                            "placeholderImageUrl": "https://example.jpg",
                                            "region": {
                                                "x": 0,
                                                "y": 0,
                                                "width": 320,
                                                "height": 360,
                                                "zOrder": 2
                                            }
                                        },
                                        {
                                            "rtc": {
                                                "rtcChannel": "test01",
                                                "rtcUid": 456,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            },
                                            "placeholderImageUrl": "https://example.jpg",
                                            "region": {
                                                "x": 320,
                                                "y": 0,
                                                "width": 320,
                                                "height": 320,
                                                "zOrder": 2
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "rtc": {
                                                "rtcChannel": "test",
                                                "rtcUid": 1000,
                                                "rtcToken": "aab8b8f5a8cd4469a63042fcfafe7***"
                                            },
                                            "audioOption": {
                                                "profileType": "AUDIO_PROFILE_MUSIC_STANDARD"
                                            },
                                            "videoOption": {
                                                "fps": 30,
                                                "codec": "H264",
                                                "bitrate": 800,
                                                "width": 960,
                                                "height": 480,
                                                "lowBitrateHighQuality": False
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }

                response = requests.post(url, headers=headers, data=json.dumps(data))

                print(response.status_code)
                print(response.json())
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require("axios");

                const url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks?builderToken=";

                const headers = {
                  Authorization: "Basic <credentials>",
                  "Content-Type": "<string>",
                };

                const data = {
                  services: {
                    cloudTranscoder: {
                      serviceType: "cloudTranscoderV2",
                      config: {
                        transcoder: {
                          idleTimeout: 300,
                          audioInputs: [
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 123,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                            },
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 456,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                            },
                          ],
                          canvas: {
                            width: 960,
                            height: 480,
                            color: 0,
                            backgroundImage: "https://example.jpg",
                            fillMode: "FIT",
                          },
                          waterMarks: [
                            {
                              imageUrl: "https://example.png",
                              region: {
                                x: 0,
                                y: 0,
                                width: 120,
                                height: 120,
                                zOrder: 50,
                              },
                            },
                          ],
                          videoInputs: [
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 123,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                              placeholderImageUrl: "https://example.jpg",
                              region: {
                                x: 0,
                                y: 0,
                                width: 320,
                                height: 360,
                                zOrder: 2,
                              },
                            },
                            {
                              rtc: {
                                rtcChannel: "test01",
                                rtcUid: 456,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                              placeholderImageUrl: "https://example.jpg",
                              region: {
                                x: 320,
                                y: 0,
                                width: 320,
                                height: 320,
                                zOrder: 2,
                              },
                            },
                          ],
                          outputs: [
                            {
                              rtc: {
                                rtcChannel: "test",
                                rtcUid: 1000,
                                rtcToken: "aab8b8f5a8cd4469a63042fcfafe7***",
                              },
                              audioOption: {
                                profileType: "AUDIO_PROFILE_MUSIC_STANDARD",
                              },
                              videoOption: {
                                fps: 30,
                                codec: "H264",
                                bitrate: 800,
                                width: 960,
                                height: 480,
                                lowBitrateHighQuality: false,
                              },
                            },
                          ],
                        },
                      },
                    },
                  },
                };

                axios
                  .post(url, data, { headers })
                  .then((response) => {
                    console.log(response.status);
                    console.log(response.data);
                  })
                  .catch((error) => {
                    console.error("Error:", error.response ? error.response.data : error.message);
                  });
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/X-Request-ID"
        - $ref: "#/components/parameters/appId"
          description: The App ID of your project from Agora Console.
        - $ref: "#/components/parameters/taskId"
          description: The transcoding task UUID used to identify the cloud transcoder for this request.
        - $ref: "#/components/parameters/builderToken"
        - name: sequenceId
          in: query
          required: true
          schema:
            type: string
          description: >-
            The sequence number of the `Update` request. Each subsequent `Update` request must use a
            value greater than the previous one.
        - name: updateMask
          in: query
          required: true
          schema:
            type: string
            enum:
              - services.cloudTranscoder.config
          description: >-
            Specifies the configuration item to be updated. Set it to
            `services.cloudTranscoder.config` to indicate a full update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cloud-transcoder-request"
            example:
              services:
                cloudTranscoder:
                  serviceType: cloudTranscoderV2
                  config:
                    transcoder:
                      idleTimeout: 300
                      audioInputs:
                        - rtc:
                            rtcChannel: test01
                            rtcUid: 123
                            rtcToken: aab8b8f5a8cd4469a63042fcfafe7***
                      canvas:
                        width: 960
                        height: 480
                        color: 0
                        backgroundImage: https://example.jpg
                        fillMode: FIT
                      videoInputs:
                        - rtc:
                            rtcChannel: test01
                            rtcUid: 123
                            rtcToken: aab8b8f5a8cd4469a63042fcfafe7***
                          placeholderImageUrl: https://example.jpg
                          region:
                            x: 0
                            "y": 0
                            width: 320
                            height: 360
                            zOrder: 2
                      outputs:
                        - rtc:
                            rtcChannel: test
                            rtcUid: 1000
                            rtcToken: aab8b8f5a8cd4469a63042fcfafe7***
                          audioOption:
                            profileType: AUDIO_PROFILE_MUSIC_STANDARD
                          videoOption:
                            fps: 30
                            codec: H264
                            bitrate: 800
                            width: 960
                            height: 480
                            lowBitrateHighQuality: false
      responses:
        "200":
          description: The request succeeded and the response body is empty.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/not-200"
      x-docs-sections:
        - position: after-description
          markdown: Use this endpoint to `Update` a Cloud Transcoding task.
        - title: Reference
          position: after-response-body
          markdown: >
            The `Update` request supports modifying the following fields only:


            - Add or delete `rtc` members in `audioInputs[]` and `videoInputs[]` to subscribe or
            unsubscribe from the host's audio and video streams.

            - Modify the `region` field in `videoInputs[]` to update the host's combined picture
            layout.

            - Modify the `audioOption` and `videoOption` fields in `outputs[]` to update the
            transcoding output audio and video configurations.
        - title: Request
          position: after-parameters
          markdown: >-
            - When updating a cloud transcoder, the request body must contain all the fields from
            the `Create` request in the request body. For fields that you do not need to update, use
            the original values. See [Updatable fields](#updatable-fields) for the Cloud
            Transcoding parameters you can modify.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `2XX`, the request was successful. The response body is
            empty.


            - If the returned status code is not `200`, the request failed.


            - If the request fails, use the `X-Request-ID` value in the log to troubleshoot the
            problem. If the response status code is not `2XX`, then the response header may not
            contain this field.
        - markdown: See Updatable fields for the Cloud Transcoding parameters you can modify.
          position: after-response-body
          title: Response
    delete:
      summary: Destroy a cloud transcoding task
      description: Destroys a Cloud Transcoding task.
      x-docs-sections:
        - position: after-description
          markdown: >-
            When you no longer need to use cloud transcoding, initiate a `Delete` request to destroy
            it.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed.
      operationId: destroy-cloud-transcoding-task
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request delete \
                  --url 'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks/:taskId?builderToken=' \
                  --header 'Authorization: Basic <credentials>' \
                  --header 'Content-Type: <string>'
        - lang: python
          label: Python
          source: |-
            import requests

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks/:taskId?builderToken="

                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                response = requests.request("delete", url, headers=headers)

                print(response.text)
        - lang: javascript
          label: Node.js
          source: >-
            const url =
            'https://api.sd-rtn.com/v1/projects/:appId/rtsc/cloud-transcoder/tasks/:taskId?builderToken=';
                const options = {
                  method: 'delete',
                  headers: {Authorization: 'Basic <credentials>', 'Content-Type': '<string>'}
                };

                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/X-Request-ID"
        - $ref: "#/components/parameters/appId"
          description: The App ID of your project from Agora Console.
        - $ref: "#/components/parameters/taskId"
          description: The transcoding task UUID used to identify the cloud transcoder for this request.
        - $ref: "#/components/parameters/builderToken"
      responses:
        "200":
          description: The request succeeded and returned task information.
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cloud-transcoder-task"
              example:
                createTs: 1661324613
                eventHandlers: {}
                execution:
                  workflows: {}
                properties: {}
                sequenceId: "0"
                services:
                  cloudTranscoder:
                    config: {}
                    createTs: 1661324614
                    details: {}
                    message: OnSlaveServiceStopped
                    serviceType: cloudTranscoderV2
                    status: serviceCompleted
                status: STOPPED
                taskId: 609f28f2644f1ae1ceb041b7047e3***
                variables: {}
                workflows: {}
        default:
          $ref: "#/components/responses/not-200"
  /v1/projects/{appId}/rtls/abr/config/codecs/{codecId}:
    post:
      summary: Create or update a transcoding template
      description: Creates or updates a transcoding template.
      x-docs-sections:
        - position: after-description
          markdown: Create or update a transcoding template under the specified App ID.
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed. The response body
            includes the `detail` and `reason` for failure. Refer to [status
            codes](../rest-api/reference#response-status-codes) to understand the possible reasons
            for failure.
        - markdown: |-
            ```json
            {
                  "status": "Status of this request:\n- `success`: Request was successful.\n- `error`: Request failed.\n"
                }
            ```
          position: after-response-example
          title: Response example
      operationId: create-or-update-transcoding-template
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request post \
                  --url https://api.sd-rtn.com/v1/projects/:appId/rtls/abr/config/codecs/:codecId \
                  --header 'Authorization: Basic <credentials>' \
                  --header 'Content-Type: <string>'
        - lang: python
          label: Python
          source: |-
            import requests

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtls/abr/config/codecs/:codecId"

                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                response = requests.request("post", url, headers=headers)

                print(response.text)
        - lang: javascript
          label: Node.js
          source: |-
            const url = 'https://api.sd-rtn.com/v1/projects/:appId/rtls/abr/config/codecs/:codecId';
                const options = {
                  method: 'post',
                  headers: {Authorization: 'Basic <credentials>', 'Content-Type': '<string>'}
                };

                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/appId"
          description: The App ID of the project
        - name: codecId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the transcoding template.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transcoding-template"
            example:
              enabled: true
              video:
                width: 1280
                height: 720
                fps: 15
      responses:
        "200":
          description: The request succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template-status-response"
              example:
                status: success
        default:
          $ref: "#/components/responses/template-not-200"
  /v1/projects/{appId}/rtls/abr/config/codecs:
    get:
      summary: Query transcoding templates
      description: Queries transcoding template configurations under a specified App ID.
      x-docs-sections:
        - position: after-description
          markdown: Query all transcoding template configurations under the specified App ID
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. The response body
            contains the result of the request.


            - If the returned status code is not `200`, the request failed. The response body
            includes the `detail` and `reason` for failure. Refer to [status
            codes](../rest-api/reference#response-status-codes) to understand the possible reasons
            for failure.
        - markdown: |-
            ```json
            {
                  "status": "The status of this request:\n- `success`: The request succeeded.\n- `error`: The request failed.\n",
                  "data": {
                    "enabled": true,
                    "codecs": [
                      {
                        "id": "The ID of the transcoding template.",
                        "enabled": true,
                        "video": {
                          "width": 0,
                          "height": 0,
                          "fps": 0
                        }
                      }
                    ]
                  }
                }
            ```
          position: after-response-example
          title: Response example
      operationId: query-transcoding-templates
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request get \
                  --url https://api.sd-rtn.com/v1/projects/:appId/rtls/abr/config/codecs \
                  --header 'Authorization: Basic <credentials>' \
                  --header 'Content-Type: <string>'
        - lang: python
          label: Python
          source: |-
            import requests

                url = "https://api.sd-rtn.com/v1/projects/:appId/rtls/abr/config/codecs"

                headers = {
                    "Authorization": "Basic <credentials>",
                    "Content-Type": "<string>"
                }

                response = requests.request("get", url, headers=headers)

                print(response.text)
        - lang: javascript
          label: Node.js
          source: |-
            const url = 'https://api.sd-rtn.com/v1/projects/:appId/rtls/abr/config/codecs';
                const options = {
                  method: 'get',
                  headers: {Authorization: 'Basic <credentials>', 'Content-Type': '<string>'}
                };

                fetch(url, options)
                  .then(res => res.json())
                  .then(json => console.log(json))
                  .catch(err => console.error(err));
      parameters:
        - $ref: "#/components/parameters/Content-Type"
        - $ref: "#/components/parameters/appId"
          description: The App ID of the project
      responses:
        "200":
          description: The request succeeded and returned template data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/query-templates-response"
              example:
                status: success
                data:
                  enabled: true
                  codecs:
                    - id: The ID of the transcoding template.
                      enabled: true
                      video:
                        width: 0
                        height: 0
                        fps: 0
        default:
          $ref: "#/components/responses/template-not-200"
  /v1/ncs/ip:
    get:
      summary: Query message notification server IP
      description: Retrieves message notification server IP addresses.
      x-docs-sections:
        - position: after-description
          markdown: >-
            The Agora message notification service notifies your server of Cloud Transcoding events
            through HTTPS requests. Agora dynamically adjusts the IP addresses of the message
            notification server. Call this endpoint regularly and update your firewall configuration
            whenever the addresses change.
        - title: Request
          position: after-parameters
          markdown: "- This endpoint has no path parameters or request body."
        - title: Response
          position: before-response-body
          markdown: >-
            - If the returned status code is `200`, the request was successful. Only the `primaryIP`
            field in the response body is relevant; the response header and all other fields can be
            ignored.


            - If the returned status code is not `200`, the request failed. See [Response status
            codes](../reference/common-errors#status-codes) for troubleshooting.
      operationId: query-cloud-transcoding-ncs-ip
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl --request GET \
                --url https://api.sd-rtn.com/v1/ncs/ip \
                --header 'Authorization: Basic <credentials>'
        - lang: python
          label: Python
          source: |-
            import requests

              url = "https://api.sd-rtn.com/v1/ncs/ip"
              headers = {
                  "Authorization": "Basic <credentials>"
              }

              response = requests.get(url, headers=headers)

              print(response.status_code)
              print(response.json())
        - lang: javascript
          label: Node.js
          source: |-
            const axios = require('axios');

              const url = 'https://api.sd-rtn.com/v1/ncs/ip';
              const headers = {
                'Authorization': 'Basic <credentials>'
              };

              axios.get(url, { headers })
                .then(response => {
                  console.log('Status:', response.status);
                  console.log('Data:', response.data);
                })
                .catch(error => {
                  console.error('Error:', error.response ? error.response.data : error.message);
                });
      x-docs-callouts:
        - markdown: >-
            Query the IP addresses at least once every 24 hours and update your firewall whitelist
            automatically to avoid interruptions in notification delivery.
          position: after-description
          title: Note
          type: info
      responses:
        "200":
          description: The request succeeded and returned message notification server IP addresses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ncs-ip-response"
              example:
                data:
                  service:
                    hosts:
                      - primaryIP: xxx.xxx.xxx.xxx
                      - primaryIP: xxx.xxx.xxx.xxx
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Basic HTTP authentication using your Agora customer ID and customer secret.
  headers:
    X-Request-ID:
      description: >-
        The unique request ID. If the request fails, use this value in the log to troubleshoot the
        problem.
      schema:
        type: string
  parameters:
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        enum:
          - application/json
      description: The request content type. Use `application/json`.
    X-Request-ID:
      name: X-Request-ID
      in: header
      required: false
      schema:
        type: string
      description: >-
        UUID (Universally Unique Identifier), used to identify this request.


        If the request fails, print out the value in the log to troubleshoot the problem. If the
        response status code of the request is not 2XX, then the response header may not contain
        this field.
    appId:
      name: appId
      in: path
      required: true
      schema:
        type: string
      description: The App ID of your project from Agora Console.
    taskId:
      name: taskId
      in: path
      required: true
      schema:
        type: string
      description: A UUID used to identify the cloud transcoder for this request operation.
    builderToken:
      name: builderToken
      in: query
      required: true
      schema:
        type: string
      description: >-
        The `tokenName` you obtained in the response body of the `Acquire` method. See Acquire a
        builder token.
  responses:
    not-200:
      description: The request failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error-response"
          example:
            message: Describes why the request failed.
    template-not-200:
      description: The request failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/template-error-response"
          example:
            status: error
            message: Description of the reason for the request failure.
  schemas:
    acquire-builder-token-request:
      type: object
      required:
        - instanceId
        - services
      properties:
        instanceId:
          type: string
          maxLength: 64
          pattern: ^[A-Za-z0-9_-]+$
          description: The `instanceId` you specified in the request.
        services:
          $ref: "#/components/schemas/cloud-transcoder-services"
    acquire-builder-token-response:
      type: object
      properties:
        createTs:
          type: number
          description: Unix timestamp (seconds) when the `builderToken` was generated
        instanceId:
          type: string
          description: The user-specified instance ID.
        tokenName:
          type: string
          description: >-
            The value of the `builderToken`. Use this value when calling other methods for this
            instance.
    cloud-transcoder-request:
      type: object
      required:
        - services
      properties:
        services:
          $ref: "#/components/schemas/cloud-transcoder-services"
    cloud-transcoder-services:
      type: object
      required:
        - cloudTranscoder
      properties:
        cloudTranscoder:
          type: object
          required:
            - serviceType
            - config
          properties:
            serviceType:
              type: string
              enum:
                - cloudTranscoderV2
              description: |-
                Should be `"cloudTranscoderV2"`.

                The service type. Use "cloudTranscoderV2".
            config:
              type: object
              required:
                - transcoder
              properties:
                transcoder:
                  $ref: "#/components/schemas/transcoder-config"
              description: Same as the fields you set in the `Create` request body.
    transcoder-config:
      type: object
      required:
        - canvas
        - watermarks
        - outputs
      properties:
        idleTimeout:
          type: number
          default: 300
          minimum: 1
          maximum: 86400
          description: >-
            The maximum period, in seconds, that Cloud Transcoder can be idle. If the idle state
            exceeds this value, Cloud Transcoder is automatically destroyed.
        streamProcessMode:
          type: string
          default: mix
          enum:
            - mix
            - heterogeneous-single
            - single
          description: >-
            If this parameter is not specified, the working mode of Cloud transcoder is the merge
            mode. You can specify the following modes:

            - `heterogeneous-single`: Heterogeneous single stream mode. The types of input stream
            and output stream can be different or the same. The currently supported stream types are
            RTC and CDN.

            - `single`: RTC stream relay mode. Relays the host's audio and video data and signaling
            in the source channel to the destination channel.
          x-docs-callouts:
            - type: info
              title: Note
              markdown: >
                - If you set `streamProcessMode` to `heterogeneous-single` or `single`, then the
                `audioInputs` or `videoInputs` list may contain at most one item.


                - If you need to mix audio, combine images, or mix audio and combine images, no
                `streamProcessMode` settings are required.
        audioInputs:
          type: array
          description: >-
            Audio input source list, supports two types: RTC audio stream and CDN audio stream. If
            you specify multiple input audio sources, the streams are mixed.
          items:
            $ref: "#/components/schemas/audio-input"
          x-docs-callouts:
            - type: info
              title: Note
              markdown: |
                Either `rtc` or `streamUrl` must be filled in.
        videoInputs:
          type: array
          description: >-
            Video input source list, supports RTC video stream and CDN video stream. If you specify
            multiple input video sources, the streams are merged.
          items:
            $ref: "#/components/schemas/video-input"
        canvas:
          $ref: "#/components/schemas/canvas"
        watermarks:
          type: array
          description: Watermark list.
          items:
            $ref: "#/components/schemas/watermark"
        outputs:
          type: array
          description: |-
            Configure output settings to publish to an RTC channel or CDN address.

             You must specify either `streamUrl` or `rtc`.

            Configure output settings to publish to a single RTC channel or CDN address.

             You must specify either streamUrl or rtc.
          items:
            $ref: "#/components/schemas/transcoder-output"
    audio-input:
      type: object
      properties:
        streamUrl:
          type: string
          description: The URL of the audio source stream. Required when the audio input source is CDN.
        volume:
          type: number
          default: 100
          minimum: 0
          maximum: 200
          description: >-
            The volume of the audio source stream. This parameter only takes effect when the audio
            input source is CDN.
        repeat:
          type: number
          default: 1
          description: >-
            The number of times to play the media stream. `1` means play once, `-1` means loop, and
            any positive integer specifies a playback count.
        rtc:
          $ref: "#/components/schemas/rtc-source"
          description: When the audio input source is RTC, this object is required.
    video-input:
      type: object
      required:
        - region
      properties:
        streamUrl:
          type: string
          description: The URL of the video source stream. Required when the video input source is CDN.
        repeat:
          type: number
          default: 1
          description: >-
            The number of times to play the media stream. `1` means play once, `-1` means loop, and
            any positive integer specifies a playback count.
        rtc:
          $ref: "#/components/schemas/rtc-source"
          description: This object is required when the video input source is RTC.
        placeholderImageUrl:
          type: string
          description: >-
            The URL of the placeholder image displayed when the user is offline. It must be a valid
            image URL and contain the `jpg` or `png` suffix.
        region:
          $ref: "#/components/schemas/region"
    rtc-source:
      type: object
      required:
        - rtcChannel
        - rtcUid
        - rtcToken
      properties:
        rtcChannel:
          type: string
          description: >-
            The RTC channel name for the transcoded audio and video.


            The RTC channel name for the audio input source. Currently, you can only subscribe to
            audio and video sources from a single channel; the audio and video sources must belong
            to the same channel.


            The RTC channel name for the video input source. Currently, you can only subscribe to
            audio and video sources from a single channel; the audio and video sources must belong
            to the same channel.
        rtcUid:
          type: number
          description: >-
            The UID of the RTC channel for the transcoded audio and video streams. Make sure this
            value is different from the UID of other users in the channel.


            The UID corresponding to the audio input source. The same UID must not exist in the RTC
            channel.


            The UID corresponding to the video input source. The same UID must not exist in the RTC
            channel.
        rtcToken:
          type: string
          description: >-
            The token that the Cloud Transcoder uses to join the output RTC channel. Using a token
            ensures channel security and prevents malicious users from disrupting other users in the
            channel. See Token authentication for details.

             When generating this token, use `outputs.rtc.rtcUid` to generate the token.

            The token that the Cloud Transcoder uses to join the RTC channel for transcoding. Using
            a token ensures channel security and prevents malicious users from disrupting other
            users in the channel. See Token authentication for details.

             The UID of Cloud Transcoder in the RTC channel is randomly assigned by Agora. Therefore, when generating a token, set the uid to 0.
      description: Required for publishing to an RTC channel. Currently, you can publish to only one RTC channel.
    canvas:
      type: object
      required:
        - width
        - height
        - color
      properties:
        width:
          type: number
          minimum: 120
          maximum: 3840
          description: The width of the canvas (px).
        height:
          type: number
          minimum: 120
          maximum: 3840
          description: The height of the canvas (px).
        color:
          type: number
          minimum: 0
          maximum: 16777215
          description: The background color of the canvas as a decimal RGB value.
        backgroundImage:
          type: string
          description: >-
            Canvas background image. Must be a valid image URL with a `jpg` or `png` suffix. If
            omitted, there is no canvas background image.
        fillMode:
          type: string
          default: FILL
          enum:
            - FILL
            - FIT
          description: Fill mode for the canvas background image.
    watermark:
      type: object
      required:
        - imageUrl
        - region
      properties:
        imageUrl:
          type: string
          description: The URL of the watermark image.
        region:
          $ref: "#/components/schemas/watermark-region"
        fillMode:
          type: string
          default: FILL
          enum:
            - FILL
            - FIT
          description: >-
            Watermark fill mode:

            - `"FILL"`: Scale the image and crop it in the center while maintaining the aspect
            ratio.

            - `"FIT"`: Scale the image to fill the display while maintaining the aspect ratio.
    region:
      type: object
      required:
        - x
        - "y"
        - width
        - height
        - zOrder
      properties:
        x:
          type: number
          minimum: 0
          maximum: 3840
          description: >-
            The x coordinate of the watermark on the canvas (px). The x coordinate is the horizontal
            displacement of the upper left corner of the image relative to the origin.


            The x coordinate of the image on the canvas (px). The x coordinate is the horizontal
            displacement of the upper left corner of the image relative to the origin, where the
            upper left corner of the canvas is the origin.
        "y":
          type: number
          minimum: 0
          maximum: 3840
          description: >-
            The y coordinate of the watermark on the canvas (px). The y coordinate is the vertical
            displacement of the upper left corner of the image relative to the origin.


            The y coordinate of the image on the canvas (px). The y coordinate is the vertical
            displacement of the upper left corner of the image relative to the origin, where the
            upper left corner of the canvas is the origin.
        width:
          type: number
          minimum: 120
          maximum: 3840
          description: |-
            The width of the watermark (px).

            The width of the screen (px).
        height:
          type: number
          minimum: 120
          maximum: 3840
          description: |-
            The height of the watermark (px).

            The height of the screen (px).
        zOrder:
          type: number
          minimum: 2
          maximum: 100
          description: >-
            The layer order of the watermark. `0` represents the bottom layer. `100` represents the
            top layer.


            The layer order of the host screen. 2 represents the layer above the placeholder layer.
            100 represents the top layer.
    watermark-region:
      allOf:
        - $ref: "#/components/schemas/region"
        - type: object
          properties:
            zOrder:
              type: number
              minimum: 0
              maximum: 100
              description: The layer order of the watermark.
    transcoder-output:
      type: object
      required:
        - rtc
      properties:
        streamUrl:
          type: string
          description: CDN streaming address.
        rtc:
          $ref: "#/components/schemas/rtc-source"
        audioOption:
          $ref: "#/components/schemas/audio-option"
        videoOption:
          $ref: "#/components/schemas/video-option"
    audio-option:
      type: object
      properties:
        profileType:
          type: string
          default: AUDIO_PROFILE_DEFAULT
          enum:
            - AUDIO_PROFILE_DEFAULT
            - AUDIO_PROFILE_SPEECH_STANDARD
            - AUDIO_PROFILE_MUSIC_STANDARD
            - AUDIO_PROFILE_MUSIC_STANDARD_STEREO
            - AUDIO_PROFILE_MUSIC_HIGH_QUALITY
            - AUDIO_PROFILE_MUSIC_HIGH_QUALITY_STEREO
          description: >-
            Audio properties of the transcoded output:

            - `"AUDIO_PROFILE_DEFAULT"`: 48 kHz sampling rate, music encoding, mono channel, maximum
            encoding bitrate is 64 Kbps.

            - `"AUDIO_PROFILE_SPEECH_STANDARD"`: 32 kHz sampling rate, speech encoding, mono
            channel, maximum encoding bitrate is 18 Kbps.

            - `"AUDIO_PROFILE_MUSIC_STANDARD"`: 48 KHz sampling rate, music encoding, mono channel,
            maximum encoding bitrate is 64 Kbps.

            - `"AUDIO_PROFILE_MUSIC_STANDARD_STEREO"`: 48 KHz sampling rate, music encoding, stereo
            channel, maximum encoding bitrate is 80 Kbps.

            - `"AUDIO_PROFILE_MUSIC_HIGH_QUALITY"`: 48 KHz sampling rate, music encoding, mono
            channel, maximum encoding bitrate is 96 Kbps.

            - `"AUDIO_PROFILE_MUSIC_HIGH_QUALITY_STEREO"`: 48 kHz sampling rate, music encoding,
            dual channels, and a maximum encoding bitrate of 128 Kbps.
    video-option:
      type: object
      required:
        - width
        - height
        - bitrate
        - codec
      properties:
        width:
          type: number
          minimum: 120
          maximum: 3840
          description: The width of the transcoded output video (px).
        height:
          type: number
          minimum: 120
          maximum: 3840
          description: The height of the transcoded output video (px).
        bitrate:
          type: number
          minimum: 1
          maximum: 10000
          description: The bitrate of the transcoded output video.
        codec:
          type: string
          enum:
            - H264
            - H265
          description: |-
            The codec used to transcode the output video.

             **Possible values**:
            - `"H264"`: Standard H.264 encoding.
            - `"VP8"`: Standard VP8 encoding.
        fps:
          type: number
          default: 15
          minimum: 1
          maximum: 30
          description: The frame rate (fps) of the transcoded output video.
[...]
