openapi: 3.1.0
info:
  title: Interactive Whiteboard REST API Reference
  version: ""
  description: >-
    RESTful APIs for room management, scene management, screenshots, and file
    conversion in Interactive Whiteboard.
servers:
  - url: https://api.netless.link
paths:
  /v5/rooms:
    post:
      summary: Create a room
      description: Create a whiteboard room.
      operationId: create-room
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Room created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
    get:
      summary: Get room list
      description: Get a list of rooms.
      operationId: get-room-list
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - name: beginUUID
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Room list returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/rooms/{uuid}:
    get:
      summary: Get room information
      description: Get information about a room.
      operationId: get-room-information
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      responses:
        "200":
          description: Room information returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
    patch:
      summary: Disable a room
      description: Disable a room.
      operationId: disable-room
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Room updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/rooms/{uuid}/scenes:
    get:
      summary: Get scene path list
      description: Get the list of scene paths in a room.
      operationId: get-scene-path-list
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      responses:
        "200":
          description: Scene path list returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
    post:
      summary: Add a scene
      description: Add a scene to a room.
      operationId: add-scene
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Scene added.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/rooms/{uuid}/scene-state:
    patch:
      summary: Switch to a scene
      description: Switch the current scene in a room.
      operationId: switch-to-scene
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Scene switched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/rooms/{uuid}/screenshots:
    post:
      summary: Screenshot a scene
      description: Take a screenshot of a scene.
      operationId: screenshot-scene
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Screenshot created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/rooms/{uuid}/screenshot-list:
    post:
      summary: Screenshot a scene directory
      description: Take screenshots for a scene directory.
      operationId: screenshot-scene-directory
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Scene directory screenshots created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/projector/tasks:
    post:
      summary: Start file conversion
      description: Start a file-conversion task.
      operationId: start-file-conversion
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: File-conversion task created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
    get:
      summary: Query to-be-converted tasks
      description: Query the list of file-conversion tasks.
      operationId: query-to-be-converted-tasks
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
      responses:
        "200":
          description: File-conversion tasks returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/projector/tasks/{uuid}:
    get:
      summary: Query file-conversion progress
      description: Query the progress of a file-conversion task.
      operationId: query-file-conversion-progress
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      responses:
        "200":
          description: File-conversion progress returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
    delete:
      summary: Cancel conversion task
      description: Cancel a file-conversion task.
      operationId: cancel-conversion-task
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      responses:
        "200":
          description: File-conversion task canceled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
  /v5/projector/tasks/{uuid}/priority:
    put:
      summary: Set task priority
      description: Set the priority of a file-conversion task.
      operationId: set-task-priority
      parameters:
        - $ref: "#/components/parameters/token"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/uuid"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Task priority updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericObject"
components:
  parameters:
    token:
      name: token
      in: header
      required: true
      schema:
        type: string
    region:
      name: region
      in: header
      required: true
      schema:
        type: string
    uuid:
      name: uuid
      in: path
      required: true
      schema:
        type: string
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
